<?xml version="1.0"?>
<!--<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <variable name="appName" value="AdExpress" />
  <variable name="day" value="${date:format=dd}"/>
  <variable name="month" value="${date:format=MM}"/>
  <variable name="year" value="${date:format=yyyy}"/>
  
<targets> This works for File
        <target name="logfile" xsi:type="File" fileName="C:\Logs\LogFile-${year}-${month}-${day}.txt" />
    </targets>
<rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
</rules>
  
  <targets>
  <target xsi:type="Mail"
          name="AdExpressEmailLogging"
          addNewLines="true"
          replaceNewlineWithBrTagInHtml="false"
          encoding="UTF-8"
          subject="Error AdExpress Client"
          to="Saif.Azzaza@kantarmedia.com;Youssef.Rkaina@KantarMedia.com"
          smtpAuthentication="None"
          from="tnsadexpress@tnsmi.fr"
          enableSsl="false"
          smtpServer="frmitch-msprod"
          smtpPort="25" />
</targets>
<rules>
    <logger name="*" minlevel="Warn" writeTo="AdExpressEmailLogging" />
</rules>
<!--<targets async="true">
    <target xsi:type="File"
            name="default"            
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${specialfolder:ApplicationData}\${appName}\Debug.log"
            keepFileOpen="false"
            archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    
    <target xsi:type="EventLog"
            name="eventlog"
            source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"/>
  </targets>
  <rules>
    <logger name="*" writeTo="default" minlevel="Info" />
    <logger name="*" writeTo="eventlog" minlevel="Error" />
  </rules>-->
<!--<targets>
        <target name="console" xsi:type="Console" />
        <target name="papercut" xsi:type="BufferingWrapper" bufferSize="100">
            <target xsi:type="PostFilteringWrapper" defaultFilter="level >= LogLevel.Error">
                <target xsi:type="Mail"
                    name="AdExpress"
                    subject="Your app has errors"
                    to="saif.azzaza@kantarmedia.com"
                    from="sc.adexpress@kantarmedia.com"
                    smtpServer="frmitch-msprod"
                    port="25"/>
                <when exists="level >= LogLevel.Error" filter="level >= LogLevel.Info"/>
            </target>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="papercut"  />
    </rules>-->
</nlog>

