<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--Ireland Test DB-->
    <add name="adexprirl01" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.17.236.96) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXPRIRL01)));User Id=dba_adexprirl01;Password=Djindobri59;" providerName="Oracle.DataAccess.Client"/>
    <!--Finland Test DB-->
    <add name="adexprfi01" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.17.236.80) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXPRFI01)));User Id=gfacon;Password=sandie5;" providerName="Oracle.DataAccess.Client"/>
    <!--Finland prod DB-->
    <!--<add name="adexprfi01" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.19.178.129) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXPRFI01)));User Id=gfacon;Password=sandie5;" providerName="Oracle.DataAccess.Client" />-->
    <!--France prod DB-->
    <!--<add name="adexpr03" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.17.236.126) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXPR03)));User Id=admin_web;Password=zepabony9;" providerName="Oracle.DataAccess.Client" />-->
    <!--France Test DB-->
    <!--<add name="adexpr03" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.17.236.122) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXPR03)));User Id=admin_web;Password=zepabony9;" providerName="Oracle.DataAccess.Client"/>-->
    <!--France Test Linux-->
    <add name="adexpr03" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.17.237.162) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXPR03)));User Id=admin_web;Password=zepabony9;" providerName="Oracle.DataAccess.Client" />
    <!--TURKEY DB-->
    <!--<add name="adextr01" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.22.181.53) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXDEV)));User Id=TURKEY;Password=TURKEY2016;" providerName="Oracle.DataAccess.Client" />-->
    <add name="adextr01" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.22.181.107) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXTR01)));User Id=TURKEY;Password=TURKEY2016;" providerName="Oracle.DataAccess.Client"/>
    <!--<add name="IdentityContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\DEV\v5\Kantar.AdExpress.Service\src\Kantar.AdExpress.Service.DataAccess\App\Identity.mdf;Initial Catalog=Identity;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--Slovaquie prod DB-->
    <add name="adexprsk01" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.24.64.29) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXPRSK01)));User Id=admin_web;Password=YOUPLAA90;" providerName="Oracle.DataAccess.Client"/>
    <!--Poland prod DB-->
    <add name="adexprpzl01" connectionString="Data Source=(DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (COMMUNITY = tcp.pige) (PROTOCOL = TCP) (HOST = 172.20.179.222) (PORT = 1521))) (CONNECT_DATA = (SID = ADEXPRPZL01)));User Id=admin_web;Password=YOUPLAA90;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <!--<parameters>
        <parameter value="v11.0" />
      </parameters>-->
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.DataAccess.Client" type="Oracle.DataAccess.EntityFramework.EFOracleProviderServices, Oracle.DataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <system.web>
    <compilation targetFramework="4.5.1" debug="true"/>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="4096" enableVersionHeader="false"/>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.121.2.0" newVersion="4.121.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="owin:AppStartup" value="Kantar.AdExpress.Bootstrapper.Startup, Kantar.AdExpress.Bootstrapper"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="FacebookMaxItems" value="5"/>
    <add key="FacebookPageUri" value="http://localhost:9990/api/FacebookPage"/>
    <add key="FacebookPostTopUri" value="http://localhost:9990/api/TopPosts"/>
    <add key="FacebookOnePostUri" value="http://localhost:9990/api/OnePost"/>
    <add key="FacebookPostUri" value="http://localhost:9990/api/FacebookPost"/>
    <add key="FacebookPostWebUri" value="http://localhost:82/Facebook/GetPost"/>
    <add key="HealthInvestUri" value="http://localhost:65527/Api/Invest"/>
    <add key="PolicyUpdateDateFr" value="2019-04-30-23-00-00"/>
    <add key="PolicyUpdateDatePl" value="2019-05-03-23-00-00"/>
    <add key="PolicyUpdateDateSk" value="2019-05-03-23-00-00"/>
    <add key="PolicyUpdateDateFi" value="2019-05-03-23-00-00"/>
    <add key="PolicyUpdateDateTr" value="2000-01-01-00-00-00"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="sc.adexpress@kantarmedia.com">
        <network host="frmitch-msprod" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline';font-src * 'unsafe-inline' 'unsafe-eval' data: blob:;"/>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <!-- Prevents from leaking referrer data over insecure connections. ref.: https://scotthelme.co.uk/a-new-security-header-referrer-policy/ -->
        <add name="Referrer-Policy" value="same-origin" />
      </customHeaders>
    </httpProtocol>
     <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+"/>
          <action type="Rewrite" value=""/>
        </rule>
      </outboundRules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" maxQueryString="2048" maxUrl="2048"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
</configuration>
<!--ProjectGuid: BA78BFD4-6124-4659-9F72-34150EF8CF74-->