<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="0bc225c3-4345-4de8-97fc-bdb450b67b0a" Name="Kantar AdExpress - PdfChronoSrv Appm" Language="1033" Version="1.0.0.0" Manufacturer="TNS.Ares.AdExpress.PdfChronoSrvInstaller" UpgradeCode="fb8088bd-cf9e-4f3c-9308-2fff7e1cf786">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfChronoFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="PdfChronoFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Pdf PM Srv Appm">
          <Component Id="ProductComponent" Guid="40226a04-17c0-45fc-8fb9-0f989760956b">
            <File Id="AppmPrgFile" Name="$(var.TNS.Ares.AdExpress.PdfChronoSrv.TargetFileName)" Source="$(var.TNS.Ares.AdExpress.PdfChronoSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Pdf PM Srv Appm" Name="$(var.TNS.Ares.AdExpress.PdfChronoSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.AdExpress.PdfChronoSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Pdf PM Srv Appm" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="AppmPRG1"/>
    </Feature>
  </Product>
</Wix>
