<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="09fd2b4c-ac13-41b4-a920-78e6522b1a9d" Name="Kantar AdExpress - XlsChronoSrv Satet" Language="1033" Version="1.0.0.0" Manufacturer="TNS.Ares.AdExpress.XlsChronoSrvInstaller" UpgradeCode="f2476def-9ba9-470e-8746-30939107e63f">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add XlsChronoFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="XlsChronoFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Xls Chrono Srv Satet">
          <Component Id="ProductComponent" Guid="40226a04-17c0-45fc-8fb9-0f989760956c">
            <File Id="SatetPrgFile" Name="$(var.TNS.Ares.AdExpress.XlsChronoSrv.TargetFileName)" Source="$(var.TNS.Ares.AdExpress.XlsChronoSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Xls Chrono Srv Satet" Name="$(var.TNS.Ares.AdExpress.XlsChronoSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.AdExpress.XlsChronoSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Xls ChronoSrv Satet" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="SatetPRG1"/>
    </Feature>
  </Product>
</Wix>
