<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="73f02913-97d2-4a84-b265-721a103c96eb" Name="Kantar AdExpress - PdfPMSrv Myisis Cz" Language="1033" Version="1.0.0.0" Manufacturer="Kantar_AdExpress_PdfPMSrv_cz" UpgradeCode="dcd4982f-11cb-48a4-b492-461f4b3a1f94">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfPMFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="PdfPMFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Pdf PM Srv Myisis CZ">
          <Component Id="ProductComponent" Guid="76b81f62-f68f-4f6a-96d0-a217cc08758b">
            <File Id="MyisisPrgFile" Name="$(var.TNS.Ares.AdExpress.PdfPMSrvCz.TargetFileName)" Source="$(var.TNS.Ares.AdExpress.PdfPMSrvCz.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Pdf PM Srv Myisis CZ" Name="$(var.TNS.Ares.AdExpress.PdfPMSrvCz.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.AdExpress.PdfPMSrvCz.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Pdf PM Srv Myisis CZ" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="MyisisPRG1"/>
    </Feature>
  </Product>
</Wix>
