@model Km.AdExpressClientWeb.Models.Shared.ResultsViewModel

<div class="pull-right custom-button selectexporttype">
    <select id="export-type" class="selectdatepicker hide">
        @foreach (var item in Model.ExportTypeViewModels)
        {
            if (item.Visible)
            {
                <option value="@item.Id">@item.Label</option>
            }
        }

    </select>&nbsp;
    <button class="btn btn-save" id="btn-export"><i class="fa fa-file-excel-o fa-file-excel-size"></i></button>
    <button class="btn btn-save" id="btn-save-result" title="@Model.Labels.Save"><i class="glyphicon glyphicon-floppy-save fa-file-excel-size"></i></button>
    @if (Model.IsAlertVisible)
            {
        <button class="btn btn-save" id="btn-create-alert" title="@Model.Labels.CreateAlert"><i class="fa fa-clock-o fa-file-excel-size"></i></button>
    }
</div>

