@model Km.AdExpressClientWeb.Models.MediaSchedule.PresentationModel
@using TNS.AdExpress.Domain.Translation;
@{
    ViewBag.Title = "Presentation";
}

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
    <h1 class=""><i class="icon-chart blue"></i> @GestionWeb.GetWebWord(Model.ModuleCode, Model.SiteLanguage)</h1>
    <small class="">@GestionWeb.GetWebWord(Model.ModuleDecriptionCode, Model.SiteLanguage)</small>
</div>
@if (Model.ShowCurrentSelection)
{
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
    <h3 class="tools text-right pull-right">
        <a href="#myModal" data-toggle="modal"><i class="icon-eyeglass  blue"></i> </a>
    </h3>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <i class="fa  icon-eyeglasses blue"></i>
                    <h4 class="font-normal m-t-none m-b-md text-primary-lt">Rappel de la sélection</h4>
                </div>
                <div class="modal-body">
                    <p>Ici la selection lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-valider" data-dismiss="modal">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>
}

