@model Km.AdExpressClientWeb.Models.Shared.PresentationModel
@using TNS.AdExpress.Domain.Translation;
@{
    ViewBag.Title = "Presentation";
}

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
    <h3 class=""><i class="@(Model.ModuleIcon) violet"></i> @GestionWeb.GetWebWord(Model.ModuleCode, Model.SiteLanguage)</h3>
</div>


