#Projects output
[Bb]in
[Dd]ebug*/
[Rr]elease*/
obj/

#Nuget files
*.nupkg
packages/
.nuget

#Resharper files
*.resharper.user
_ReSharper*/

#Visual Studio files
*.suo
*.userprefs
*.user
.vs/

#Xamarin
test-results/

#Windows files
Thumbs.db
