.flip-container > .front > h3{
    font-size: 20px;
}

.adaptSize{
    font-size: 20px;
}

.navbar-brand > img {
    margin-top:2px;
}

.login-footer .img-logo {
    margin-top: 100px;
    max-width: 430px;
}

