
.bb-alert {
    position: fixed;
    bottom: 25%;
    right: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 1em 1.3em;
    z-index: 2000;
}

.highlight {
    -moz-box-shadow: 1px 1px 5px 1px #0042ff;
    -webkit-box-shadow: 1px 1px 5px 1px #0042ff;
    -o-box-shadow: 1px 1px 5px 1px #0042ff;
    box-shadow: 1px 1px 5px 1px #0042ff;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#0042ff, Direction=134, Strength=5);
}

.disabled-effect {
    opacity: 0.2;
}

.disabled-effect > .flip-container > .front, .disabled-effect > .flip-container > .back {
    opacity: 0.4;
}
.disabled-effect > .flip-container-second > .front-second, .disabled-effect > .flip-container-second > .back-second {
    opacity: 0.4;
}

.timeline {
    padding: 0;
    margin: 0;
    text-align: center;
}

.tl-item {
    display: inline-block;
}

.tl-header {
    display: inline-block;
    width: 63px;
    margin: 5px -20px;
    text-align: center;
    vertical-align: top;
}

.tl-wrap {
    display: table;
    padding: 0;
    margin: 0;
    border-color: white;
    border-style: solid;
    border-width: 0 0 2px 0;
    width: 200px;
    vertical-align: super;
}
@media (max-width:991px){
    .tl-wrap {
        width: 90px;
    }
}

.tl-active {
    border-color: #ff8c00;
}

.tl-btn-active {
    border: 2px solid #ff8c00;
    background: #ff8c00;
}

.tl-btn {
    padding-right: 0;
    padding-left: 0;
    padding-top: 6px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn {
    font-weight: bold;
    border-radius: 2px;
    outline: 0 !important;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.btn-action {
    color: #fff;
    background-color: #00c1ff;
    border: 0;
    font-weight: bolder;
    padding: 10px 15px;
    cursor: pointer;
}

.tl-header span {
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
    display: block;
    margin-top: 10px;
}

.navbar-color {
    background-color: black;
}

.navbar-nav.nav .open > a, .navbar-nav.nav .open > a:hover, .navbar-nav.nav .open > a:focus {
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
}

.open .dropdown-menu > li > a {
    background-color: black;
    color: white;
}

    .open .dropdown-menu > li > a.active {
        background-color: black;
        color: #e87f02;
    }

.open .dropdown-menu {
    background-color: black;
    min-width: 60px;
    max-height: 200px !important;
    z-index: 2000 !important;
}



.navbar.navbar-color {
    border: none;
}

.navbar-default.navbar-color .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default.navbar-color .navbar-nav > li > a:hover {
    transform: scale(1.15);
}

.navbar-default.navbar-color .navbar-brand {
    color: #ffffff;
}

.container-kantar {
    background: url('../Content/img/kantarmedia-bg-0.jpg') no-repeat;/*Login page background*/
    /*background-size: cover;*/
    color: #ffffff;
    background-attachment: fixed;
}

.container-kantar-home {
    background: url('../Content/img/kantarmedia-bg-1.jpg') no-repeat;
    /*background: url('../Content/img/kantarmedia-bg-0.jpg') no-repeat;*/
    color: #ffffff;
    /*background-size: cover;*/
    background-attachment: fixed;
}

.container-kantar-other {
    /*background: url('../Content/img/kantarmedia-bg-2.jpg') no-repeat;*/
    background: url('../Content/img/kantarmedia-bg-contact.jpg') no-repeat;
    color: #ffffff;
    /*background-size: cover;*/
    background-attachment: fixed;
}

.container-kantar-results {
    /*background: url('../Content/img/kantarmedia-bg-3.jpg') no-repeat;*/
    background: url('../Content/img/kantarmedia-bg-contact.jpg') no-repeat;
    color: #ffffff;
    /*background-size: cover;*/
    background-attachment: fixed;
}

.container-kantar-myadexpress {
    background: url('../Content/img/kantarmedia-bg-4.jpg') no-repeat;
    color: #ffffff;
    /*background-size: cover;*/
    background-attachment: fixed;
}

.container-kantar-contact {
    /*background: url('../Content/img/kantarmedia-bg-contact.jpg') no-repeat;*/
    background: url('../Content/img/kantarmedia-bg-4.jpg') no-repeat;
    color: #ffffff;
    /*background-size: cover;*/
    background-attachment: fixed;
}

.header-kantar-popup {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: rgba(0,0,0,0.7);
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

.panel-default.login {
    margin-top: 60px;
    color: #ffffff;
    background-color: transparent;
}

    .panel-default.login > .panel-heading, .panel-default.login > .panel-body {
        color: #ffffff;
        background-color: rgba(0,0,0,0.7);
        border-bottom: none;
    }

.panel.panel-default.login {
    border: none;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-15-10 {
    padding: 15px 10px;
}


.form-control::-webkit-input-placeholder {
    color: white;
}

.form-control:-moz-placeholder {
    color: white;
}

.form-control::-moz-placeholder {
    color: white;
}

.form-control:-ms-input-placeholder {
    color: white;
}

.page-header-custom {
    padding-bottom: 9px;
    margin: 60px 0 20px;
}

.btn-warning {
    background-color: #ff8c00;
    border-color: #ff8c00;
}

    .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
        color: #ff8c00;
        background-color: transparent;
        border-color: #ff8c00;
    }
    .hovered{
        color: #ff8c00;
        background-color: transparent;
        border-color: #ff8c00 !important;
    }

.btn-orange, .btn-orange:hover {
    background-color: #ff8c00;
    color: white;
    font-weight: bolder;
    padding: 10px 15px;
}

.btn-blue, .btn-blue:hover {
    background-color: #00c1ff;
    color: white;
    font-weight: bolder;
    padding: 10px 15px;
}

form[role] input {
    background-color: rgba(255,255,255,0.2);
    border: none;
    color: white;
}


input {
    background-color: #ffffff;
    opacity: 0.9;
    border: 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.blue {
    color: #00c1ff;
}

.black {
    color: #000000;
}

.bg-blue {
    background-color: #00c1ff;
}

.bg-orange {
    background: #ff8c00;
}

.green {
    color: #afd702;
}

.white {
    color: white;
}

.red {
    color: #de000d;
}

.orange {
    color: #ff8c00;
}

.tile-third.bg-green {
    background-color: rgba(19,193,139,0.7);
}

.information-fixed {
    height: 265px;
    overflow-y: scroll;
}

.tile {
    background-color: rgba(0,0,0,0.5);
    height: 150px;
    color: #fff;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    opacity: 0.8;
}

.tile-second {
    background-color: rgba(0,0,0,0.5);
    height: 100px;
    color: #fff;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    opacity: 0.8;
}

.tile-third {
    background-color: rgba(0,0,0,0.5);
    height: 100px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    opacity: 0.8;
    cursor:pointer;
}

.tile-pdf {
    background-color: rgba(255,255,255,0.2);
    height: 100px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    opacity: 0.8;
}


.tile-deploy.dropdown-menu {
    background-color: #afd702;
    height: 100px;
    color: #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    opacity: 0.8;
}

.tile-deploy.pdf {
    color: white;
    background-color: #bb1415;
}

.tile-cursor {
    cursor: pointer;
}

.padding-lr-10 {
    padding: 0 10px;
}

.padding-lr-5 {
    padding: 0 5px;
}

.padding-lr-2 {
    padding: 0 1px 0 10px;
}

.flip-container, .front {
    /*height: 150px;*/
    padding: 20px 15px;
    width: 100%;
}

.flip-container-second, .front-second, .back-second {
    height: 100px;
    padding: 15px 15px;
    width: 100%;
}


.front, .front-second, .back-second {
    top: 0;
    left: 0;
    transition: -webkit-transform 1s;
    -webkit-transition:-webkit-transform 1s;
    -moz-transition: 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
    position: absolute;
}

.flip-container .back{
    height: 100px;
    transition: -webkit-transform 1s;
    -webkit-transition:-webkit-transform 1s;
    -moz-transition: 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
    display: table;
    width: 100%;
}

.flip-container .back .backText{
    display: table-cell;
    vertical-align:middle;
}

.front, .front-second {
    overflow: hidden;
}

.back, .back-second {
    -webkit-transform: rotateY(-180deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotateY(-180deg);  /* IE 9 */
    transform: rotateY(-180deg);  /* Firefox 16+, IE 10+, Opera */
}

.tile:hover .back, .tile-second:hover .back-second {
    -webkit-transform: rotateY(0);  
    -ms-transform: rotateY(0);  
    transform: rotateY(0);  
}

.tile:hover .front, .tile-second:hover .front-second {
    -webkit-transform: rotateY(180deg); 
    -ms-transform: rotateY(180deg); 
    transform: rotateY(180deg); 
}

.font-size12 {
    font-size: 12px;
}

.sli-size {
    font-size: 2.8em;
}

.sli-size-small {
    font-size: 2.2em;
}


.tile-deploy a.list-group-item {
    border: none;
    background-color: #afd702;
    font-size: 12px;
}

    .tile-deploy a.list-group-item:hover {
        color: #fff;
        background-color: #829710;
    }

.tile-deploy.pdf a.list-group-item {
    background-color: #bb1415;
    color: #fff;
}

    .tile-deploy.pdf a.list-group-item:hover {
        background-color: rgba(0,0,0,0.2);
    }



.padding-b-15 {
    padding-bottom: 15px;
}

.panel-default.panel-home {
    border: none;
    background-color: rgba(255,255,255,0.2);
}

    .panel-default.panel-home > .panel-heading {
        background-color: rgba(0,0,0,0.7);
        color: white;
        padding: 5px 10px;
        border: none;
    }

.date {
    background-color: rgba(0,0,0,0.3);
    padding: 0px 6px;
}

    .date > h4 > small, .date > h4 > strong {
        padding: 5px;
        color: white;
    }

    .date > h4 > small {
        background-color: rgba(255,255,255,0.2);
    }

    .date > h5 {
        margin: 5px 5px;
    }

    .date-picker {
    padding: 0px 0px;
    display:none;
}

.title {
    margin-left: 10px;
}

.content {
    margin-top: 10px;
}

.navbar-nav > li > form {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav > li > form {
    position: relative;
    display: block;
    padding:8px 15px;
}


.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 17.5px;
    border-width: 2px;
}

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 15px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
    }


.row.bg-black-only {
    margin: 0px;
    padding-bottom: 15px;
}

.btn-empty {
    background-color: inherit;
    border-color: white;
}

    .btn-empty.active {
        background-color: inherit;
        border-color: #eea236;
        border-width: 2px;
    }

        .btn-empty.active:hover {
            color: #ffffff;
            background-color: #ed9c28;
            border-color: #d58512;
        }

.breadcrumb.home li p {
    margin-left: 5px;
}

.breadcrumb.home li:first-child p {
    margin-left: 5px;
}

.breadcrumb.home {
    padding: 0 0;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .breadcrumb.home > li {
        display: inline-block;
        flex: 1;
        text-align: center;
    }

        .breadcrumb.home > li + li:before {
            content: "";
        }



.bg-black-only {
    background-color: rgba(0,0,0,0.6);
}

.heading > h4, .heading > h5 {
    display: inline-block;
}

.recherche {
    background-color: rgba(255,255,255,0.2);
}

.btn-clean {
    background: none;
    border: none;
}

.btn-default.btn-recherche {
    background: none;
    border: none;
}

    .btn-default.btn-recherche:focus {
        outline: none;
    }

.form-control.recherche {
    border: none;
}

    .form-control.recherche:focus {
        box-shadow: none;
    }

.input-group-btn:last-child > .btn-default.select-recherche {
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #494b51;
    color: white;
    margin-left: 2px;
}

    .input-group-btn:last-child > .btn-default.select-recherche:active,
    .input-group-btn:last-child > .btn-default.select-recherche:focus {
        box-shadow: none;
        outline: none;
    }

.btn-default.select-recherche:focus {
    box-shadow: none;
}


.open .dropdown-menu.bg-blue {
    background-color: rgba(0,193,255,1);
    min-width: 150px;
}

    .open .dropdown-menu.bg-blue > li > a {
        background-color: rgba(0,193,255,1);
        /*background-color: rgba(0,0,0,0.2);*/
    }

        .open .dropdown-menu.bg-blue > li > a:focus,
        .open .dropdown-menu.bg-blue > li > a:hover {
            color: #fff;
            background-color: rgba(0,0,0,0.2);
            background-image: none;
            filter: none;
        }

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bot-30 {
    margin-bottom: 30px;
}


.panel.panel-marche {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: rgba(255,255,255,0.2);
    border: none;
    color: white;
}

    .panel.panel-marche > .panel-heading {
        border-radius: 2px 2px 0 0;
        border-bottom: 0px solid #edf1f2;
        background-color: rgba(0,0,0,0.7);
    }


.panel-marche .panel-body {
    height: 180px;
    /*overflow-y: scroll;*/
}

.panel-marche .panel-heading {
    border-radius: 0px;
    background: rgba(0,0,0,0.2);
    padding: 10px 15px;
    border-color: rgba(0,0,0,0.2);
    border-bottom: none;
}


.panel-marche .panel-body .panel-heading {
    background-color: rgba(0,0,0,0.2);
}

.panel-marche .universes .panel {
    /*border-radius: 2px;*/
    border: 0;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 0px;
    margin-top: 0px;
}


.head-famille {
    background: rgba(0,0,0,0.2);
    padding: 10px 15px;
}

.famille {
    padding: 0;
    display: inline;
}

#breadcrumbs-two {
    overflow: hidden;
    width: 100%;
}

    #breadcrumbs-two li {
        float: left;
        margin: 0 .5em 0 1em;
    }

    #breadcrumbs-two a {
        background: #ddd;
        padding: .7em 1em;
        float: left;
        text-decoration: none;
        color: #444;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        position: relative;
    }

        #breadcrumbs-two a:hover {
            background: #ddd;
        }

        #breadcrumbs-two a::before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -1.5em;
            border-width: 1.5em 0 1.5em 1em;
            border-style: solid;
            border-color: #ddd #ddd #ddd transparent;
            left: -1em;
        }

        #breadcrumbs-two a:hover::before {
            border-color: #ddd #ddd #ddd transparent;
        }

        #breadcrumbs-two a:hover::after {
            border-left-color: #ddd;
        }


        #breadcrumbs-two a::after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -1.5em;
            border-top: 1.5em solid transparent;
            border-bottom: 1.5em solid transparent;
            border-left: 1em solid #ddd;
            right: -1em;
        }



    #breadcrumbs-two .current,
    #breadcrumbs-two .current:hover {
        font-weight: bold;
        background: #a5a5a5;
    }

    #breadcrumbs-two a.current::before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1.5em;
        border-width: 1.5em 0 1.5em 1em;
        border-style: solid;
        border-color: #a5a5a5 #a5a5a5 #a5a5a5 transparent;
        left: -1em;
    }

    #breadcrumbs-two a.current::after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1.5em;
        border-top: 1.5em solid transparent;
        border-bottom: 1.5em solid transparent;
        border-left: 1em solid #a5a5a5;
        right: -1em;
    }

.bg-light {
    background-color: rgba(255,255,255,0.2);
}

.btn-marche {
    width: 100%;
    padding-top: 150px;
}

.margin-auto {
    margin: 0 auto;
}

.green2 {
    color: #13c18b;
}

.btn-red {
    color: #de000d;
    border-color: #de000d;
    border-width: 5px;
}


.btn-green2 {
    color: #13c18b;
    border-color: #13c18b;
    border-width: 5px;
}

.panel-heading-choix {
    border-radius: 2px 2px 0 0;
    border-bottom: 0px solid #edf1f2;
    padding: 15px;
    background-color: rgba(0,0,0,0.6);
}

    .panel-heading-choix > ul {
        margin: -10px -15px;
        border-bottom: none;
    }

        .panel-heading-choix > ul > li {
            margin-bottom: 0;
            width: 33.33%;
            text-align: center;
        }

            .panel-heading-choix > ul > li > a, .panel-heading-choix > ul > li > a:active, .panel-heading-choix > ul > li > a:hover {
                background: transparent;
                color: white;
                border-color: transparent;
                border-radius: 0;
                padding: 3px 0;
                margin: 10px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bolder;
                -webkit-transition: all 0.2s ease-in-out 0s;
                transition: all 0.2s ease-in-out 0s;
            }

            .panel-heading-choix > ul > li.active > a, .panel-heading-choix > ul > li.active > a:hover, .panel-heading-choix > ul > li.active > a:active {
                color: #ff8c00;
                background: transparent;
                border-color: transparent;
                padding: 2px 0;
                border-bottom: 0 solid #ff8c00;
            }

.panel-body.resultats-marche {
    padding: 0;
}


.panel-group.panel-group-results {
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.panel.panel-results {
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: 0;
    background-color: rgba(255,255,255,0.2);
}

.panel.panel-options {
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: 0;
    background-color: rgba(0,0,0,0.7);
}

.panel-group .panel.panel-results + .panel.panel-results {
    margin: 0;
}

.panel-heading.head-results {
    background: none;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 0;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0px solid #eaedef;
}

.items-famille {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 21px;
}

    .items-famille button {
        background: none;
        border: 0;
        padding: 0;
    }

.tout-suppr {
    background: none;
    border: 0;
    margin: 10px 0;
    color: white;
}

.form-control.recherche {
    color: white;
}

.i-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
    border-radius: 30px;
}

    .i-switch input {
        position: relative;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        .i-switch input:checked + i:before {
            top: 50%;
            right: 5px;
            bottom: 50%;
            left: 50%;
            border-width: 0;
            border-radius: 5px;
        }

        .i-switch input:checked + i:after {
            margin-left: 16px;
            background-color: #00c1ff;
        }

    .i-switch i:before {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        background-color: none;
        border: 0 !important;
        border-radius: 30px;
        content: "";
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .i-switch i:after {
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        width: 18px;
        background-color: rgba(0,0,0,0.4);
        border-radius: 50%;
        content: "";
        -webkit-transition: margin-left 0.3s;
        transition: margin-left 0.3s;
    }

.v-super {
    vertical-align: middle;
}

.tuile-medias i {
    color: #00c1ff;
}

.w-full {
    width: 100%;
}

.block {
    display: block;
}

.m-r-sm {
    margin: 10px;
    font-size: 2.8em;
}

[class^="iconkantar-"], [class*=" iconkantar-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.padder-v {
    padding: 10px 5px;
    min-height: 125px;
}

.top {
    position: relative;
    top: 0;
    left: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

    a:hover, a:focus {
        color: inherit;
        text-decoration: none;
    }

.tuile-medias-empty {
    background-color: rgba(255,255,255,0.2);
    color: rgba(0,0,0,0.4);
}

.tuile-medias-active {
    background-color: #00c1ff;
    color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.information-title-width {
    width: 420px;
}

.information-title {
    margin-top: 0px !important;
}

.bg-period {
    border-radius: 2px;
    border: 0;
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
}

.margin-b-20 {
    margin-bottom: 20px;
}

.btn-valider:hover,
.btn-valider:focus,
.btn-valider:active,
.btn-valider.active,
.btn-valider {
    color: #fff;
    background-color: #ff8c00;
    border: 0;
    font-weight: bolder;
    padding: 10px 15px;
    cursor: pointer;
}


#radioSelection input[type=checkbox]:not(old),
#radioSelection input[type=radio ]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

    #radioSelection input[type=checkbox]:not(old) + label,
    #radioSelection input[type=radio ]:not(old) + label {
        display: inline-block;
        margin-left: -2em;
        line-height: 1.5em;
    }

        #radioSelection input[type=checkbox]:not(old) + label > span,
        #radioSelection input[type=radio ]:not(old) + label > span {
            display: inline-block;
            width: 1em;
            height: 1em;
            margin: 0.25em 0.5em 0.25em 0.25em;
            /*border           : 0.0625em solid rgb(192,192,192);*/
            border-radius: 0.25em;
            background: rgb(224,224,224);
            background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
            vertical-align: bottom;
        }


    #radioSelection input[type=checkbox]:not(old):checked + label > span,
    #radioSelection input[type=radio ]:not(old):checked + label > span {
        background-image: -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
        background-image: -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
        background-image: -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
        background-image: -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
        background-image: linear-gradient(rgb(224,224,224),rgb(240,240,240));
    }

        #radioSelection input[type=checkbox]:not(old):checked + label > span:before {
            content: '✓';
            display: block;
            width: 1em;
            color: rgb(153,204,102);
            font-size: 0.875em;
            line-height: 1em;
            text-align: center;
            text-shadow: 0 0 0.0714em rgb(115,153,77);
            font-weight: bold;
        }

        #radioSelection input[type=radio]:not(old):checked + label > span > span {
            display: block;
            width: 1em;
            height: 1em;
            border: 0.0625em solid rgb(115,153,77);
            border-radius: 0.25em;
            background: #00c1ff;
            opacity: 0.6;
            background-image: -moz-linear-gradient(#00c1ff,#00c1ff);
            background-image: -ms-linear-gradient(#00c1ff,#00c1ff);
            background-image: -o-linear-gradient(#00c1ff,#00c1ff);
            background-image: -webkit-linear-gradient(#00c1ff,#00c1ff);
            background-image: linear-gradient(#00c1ff,#00c1ff);
        }

.input-datepicker {
    background: none;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50px;
    color: #fff;
    display: block;
    vertical-align: middle;
    margin: 0 0 2px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.select-date {
    width: 60px;
    float: left;
    margin-left: 16px;
}

.site-select .form-control {
    height: 20px !important;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50px;
    padding: 0px 0px;
    background-color: transparent !important;
    color: #ffffff;
}

.site-select-option {
    background-color: #00c1ff;
}

.select-date:hover {
    background-color: #2B2E35;
}

.site-select-option:hover {
    box-shadow: 0 0 10px 100px #2B2E35 inset;
}

.select-date-label {
    margin-top: 6px;
}

.container label {
    font-weight: normal;
}

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    input[type=radio].with-font ~ label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f1db";
        letter-spacing: 10px;
        font-size: 1.2em;
        color: rgba(255,255,255,0.2);
        width: 1.4em;
    }

    input[type=checkbox].with-font ~ label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f0c8";
        letter-spacing: 10px;
        font-size: 1.2em;
        color: #FF8C1C;
        width: 1.4em;
    }

    input[type=radio].with-font:checked ~ label:before {
        content: "\f192";
        font-size: 1.2em;
        color: #00c1ff;
        letter-spacing: 10px;
    }

    input[type=checkbox].with-font:checked ~ label:before {
        content: "\f14a";
        font-size: 1.2em;
        color: #FF8C1C;
        letter-spacing: 10px;
    }

    input[type=checkbox].with-font ~ label:before {
        content: "\f0c8";
    }

    input[type=checkbox].with-font:checked ~ label:before {
        content: "\f14a";
        color: #FF8C1C;
    }

    input[type=radio].with-font:focus ~ label:before,
    input[type=radio].with-font:focus ~ label {
        color: #00c1ff;
    }

    input[type=checkbox].with-font:focus ~ label:before,
    input[type=checkbox].with-font:focus ~ label {
        color: #FF8C1C;
    }

.selectdatecontainer {
    height: 36px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .selectdatecontainer button {
        /*outline: none;*/
        height: 21px;
        padding: 0px 12px;
        background-image: none !important;
        outline: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .selectdatecontainer.form-control:focus {
        box-shadow: none;
    }

    .selectdatecontainer .bootstrap-select .btn.selectpicker {
        background-color: transparent !important;
        border: 1px solid rgba(255,255,255,0.2);
        color: #fff;
    }

    .selectdatecontainer .bootstrap-radio > .btn.btn-link {
        color: #fff;
    }

    .selectdatecontainer .selectdatepicker {
        width: 60px !important;
        float: left !important;
    }

    .selectdatecontainer .dropdown-menu > li > a {
        color: #fff;
        background-color: #00c1ff;
    }

    .selectdatecontainer .bootstrap-select.btn-group .dropdown-menu {
        background-color: #009ACC !important;
        border: 1px solid #009ACC; /* @beegray*/
        padding: 0;
    }

    .selectdatecontainer .dropdown-menu > li > a:hover,
    .selectdatecontainer .dropdown-menu > li > a:focus {
        text-decoration: none;
        color: #fff;
        background-color: transparent !important;
        outline: none !important;
    }

    .selectdatecontainer .dropdown-menu > li.selected > a {
        color: #fff;
        outline: none !important;
    }

    .selectdatecontainer .glyphicon {
        font-size: 10px;
    }

    .selectdatecontainer .bootstrap-select .dropdown-toggle:focus {
        background-image: none !important;
        outline: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

.sep-div {
    clear: both;
}

/**********************************************************************/


.tl-wrap {
    padding: 11px;
}


.input-group-vertical {
    margin-bottom: 10px;
}

    .input-group-vertical .form-control {
        border-radius: 0;
        height: 50px !important;
    }

    .input-group-vertical .form-group {
        margin-bottom: 0;
    }

        .input-group-vertical .form-group:first-child .form-control {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom: 1px solid grey;
        }

        .input-group-vertical .form-group:last-child .form-control {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            top: -2px;
        }



/******************************************************************/

.uppercase {
    text-transform: uppercase;
}


/**************PANEL MARCHE***********************/
.ui-selectable li.ui-selected, .ui-selectable li.ui-selecting {
    color: #ff8c00;
    font-weight: bolder;
}

ul.ui-selectable {
    padding-left: 10px;
    overflow-y: auto;
    height: inherit;
    margin: -15px;
    padding: 15px;
}

    ul.ui-selectable li {
        list-style: none;
        cursor:pointer;
    }

.select-recherche .caret {
    margin-left: 10px;
}

.modal-header i {
    display: inline-block;
    vertical-align: text-top;
    padding: 0 5px 0 0;
}

.popup-text {
    color: #333333;
}

.bootbox-body {
    color: #333333;
}

.modal-footer {
    padding: 8px 20px 6px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-content-alert {
    margin-bottom: -16px;
}

.modal-radio {
    margin-left: 10px;
}

.btn-save-univers {
    color: #ff8c00;
    background-color: rgba(0,0,0,0.6);
    border: 0;
    font-weight: bolder;
    padding: 10px 15px;
    cursor: pointer;
}

.modal-save-univers-footer {
    padding: 8px 20px 6px;
    margin-top: 10px;
    text-align: right;
}

.btn-submit {
    color: #fff;
    background-color: #ff8c00;
    border: 0;
    font-weight: bolder;
    cursor: pointer;
}

.row.fixed-brand {
    position: fixed;
    top: 85%;
    margin-right: -30px;
    margin-left: -30px;
}

.img-responsive-promise {
    max-width: 50%;
    margin-top: -10%;
}

.logoNavBar{
    max-width:240px;
    margin:-10px auto auto auto;
}

.h20 {
    height: 20px;
}

/*PANEL INSERTIONS VERSION*/

.panel.panel-default.panel-cotes > .panel-heading {
    background-color: rgba(0,0,0,0.7);
    border: none;
    border-radius: unset;
}

    .panel.panel-default.panel-cotes > .panel-heading.second {
        background-color: rgba(0,0,0,0.6);
        border: none;
        border-radius: unset;
        color: white;
    }

        .panel.panel-default.panel-cotes > .panel-heading.second > .btn-group {
            display: inline-flex;
            overflow-x: scroll;
            width: 350px;
        }

            .panel.panel-default.panel-cotes > .panel-heading.second > .btn-group > .btn {
                background-color: rgba(0,0,0,0.4);
                color: white;
                border: 1px solid transparent;
            }

.panel.panel-default.panel-cotes > .panel-default.third {
    border: none;
}

    .panel.panel-default.panel-cotes > .panel-default.third > .panel-heading {
        background-color: #ff8c00;
        color: white;
        /*border: 1px solid transparent;*/
        border-radius: unset;
        border: none;
        cursor: pointer;
    }

    .panel.panel-default.panel-cotes > .panel-default.third .panel-body {
        background-color: #ff8c00;
    }

    .panel.panel-default.panel-cotes > .panel-default.third .form-group {
        background-color: #ff8c00;
        color: white;
    }

    .panel.panel-default.panel-cotes > .panel-default.third .form-control {
        background-color: #ff8c00;
        color: white;
        border-radius: 15px;
        border-color: white;
    }





.panel.panel-default.panel-cotes > .panel-heading.second > .btn-group > .btn:active,
.panel.panel-default.panel-cotes > .panel-heading.second > .btn-group > .btn:hover,
.panel.panel-default.panel-cotes > .panel-heading.second > .btn-group > .btn.active {
    background-color: #00c1ff;
}


.panel.panel-default.panel-cotes > .panel-heading > h3 {
    color: white;
}

.panel.panel-default.panel-cotes > .panel-heading > h5 {
    display: inline-block;
}

.panel-tabs {
    position: relative;
    bottom: 30px;
    clear: both;
    border-bottom: 1px solid transparent;
}

    .panel-tabs > li {
        float: left;
        margin-bottom: -1px;
    }

        .panel-tabs > li > a {
            margin-right: 2px;
            margin-top: 4px;
            line-height: .85;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            color: #a2a2a3;
        }

            .panel-tabs > li > a:hover {
                border-color: transparent;
                color: #ffffff;
                background-color: transparent;
            }

.nav.panel-tabs > li.active > a,
.nav.panel-tabs > li.active > a:hover,
.nav.panel-tabs > li.active > a:focus {
    color: #00c1ff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: transparent;
    border-bottom-color: transparent;
}

.link-cursor {
    cursor: pointer;
}

/*PANEL SUB PERIOD MEDIA SCHEDULE*/

.panel-sub-period .panel {
    background-color: transparent !important;
    border: none !important;
    margin-bottom:0px;
}

    .panel-sub-period .panel.panel-default.panel-cotes > .panel-heading {
        background-color: transparent !important;
        border: none;
        border-radius: unset;
        padding: 2px 15px;
    }

        .panel-sub-period .panel.panel-default.panel-cotes > .panel-heading.second > .btn-group {
            display: inline-flex;
            overflow-x: auto;
            max-width: 464px !important;
            width: 100%;
        }

            .panel-sub-period .panel.panel-default.panel-cotes > .panel-heading.second > .btn-group > .btn {
                background-color: rgba(0,0,0,0.4);
                color: white;
                border: 1px solid transparent;
            }

                .panel-sub-period .panel.panel-default.panel-cotes > .panel-heading.second > .btn-group > .btn:active,
                .panel-sub-period .panel.panel-default.panel-cotes > .panel-heading.second > .btn-group > .btn:hover,
                .panel-sub-period .panel.panel-default.panel-cotes > .panel-heading.second > .btn-group > .btn.active {
                    background-color: #00c1ff;
                }

        .panel-sub-period .panel.panel-default.panel-cotes > .panel-heading > h5 {
            display: inline-block;
        }

.panel-sub-period .btn {
    padding: 1px 8px !important;
    font-size: 12px;
}

.btn-default-sub-period {
    background: #00C1FF !important;
    border: none !important;
}

    .btn-default-sub-period:focus {
        outline: none;
    }

.btn-group-margin {
    margin-left: 20px;
}

.sub-period-btn {
    width: 30px !important;
    height: 30px !important;
}

.sub-period-label {
    margin-left: 4px;
}

.sub-period-info {
    float: left;
    width: 330px;
}

    .sub-period-info > h5 {
        font-size: 13px;
    }

.open-media-schedule {
    display: inline-block;
    width: 100%;
}

.msCreative .panel-heading {
    border-radius: 2px 2px 0 0;
    border-bottom: 0px solid #edf1f2;
    background-color: rgba(0,0,0,0.7);
    padding: 15px !important;
}

.msCreative .panel {
    border-radius: 2px;
    border: 0 !important;
    background-color: rgba(255,255,255,0.2);
    line-height: 1.2;
}

.msCreative .btn-filtrer {
    color: #fff;
    background-color: #00c1ff;
    border: 0;
    font-weight: bolder;
    padding: 2px 10px;
    cursor: pointer;
    font-size: 12px;
}

    .msCreative .btn-filtrer:hover,
    .msCreative .btn-filtrer:focus,
    .msCreative .btn-filtrer:active,
    .msCreative .btn-filtrer.active,
    .msCreative .open .dropdown-toggle.btn-filtrer {
        color: #fff !important;
        background-color: #21c9ff;
    }

.press img {
    border-width: 5px;
    border-radius: 2px;
    max-height: 105px;
    width: 100%;
    height: 105px;
    cursor: pointer;
}

.press {
    margin-bottom: 0 !important;
    padding: 5px;
    background: none;
}

.modal-body-align {
    text-align: center;
}

.modal-creative {
    width: 1140px;
}

.modal-evaliant {
    width: 100%;
}

.item {
    position: relative;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

    .item .top {
        position: relative;
        top: 0;
        left: 0;
    }

    .item .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 10;
        font-size: 12px;
    }

    .item .center {
        position: absolute;
        top: 50%;
    }

.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

    .item-overlay.active,
    .item:hover .item-overlay {
        display: block;
    }

.row.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.no-gutter [class*="col"] {
    padding: 0;
}

.select-affiner {
    position: absolute;
    left: 5px;
    width: 15px;
    height: 15px;
    z-index: 10;
    margin-top: 5px;
}

    .select-affiner button {
        width: 100%;
        text-align: center;
    }

        .select-affiner button span {
            float: right;
            margin-top: 6px;
        }

    .select-affiner > .dropdown-menu {
        max-width: 150px !important;
        min-width: 150px;
    }

    .select-affiner label {
        display: block;
        text-align: center;
        background-color: #ffffff;
        line-height: 0.8em;
        width: 14px;
        height: 10px;
    }

.empty-image {
    width: 100%;
    min-height: 105px;
    background-color: #1F2025;
}

.creative-background {
    width: 100%;
    min-height: 60px;
    background-color: #1F2025;
    text-align: center;
}

.creative-icon {
    padding-top: 10px;
    font-size: 20px;
    color: #00C1FF;
}

.creative-unavailable-icon {
    color: #de000d;
}

/*.fig {
    color: #ffffff;
    font-weight: 200;
    font-size: 21px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    padding: 10px;
    width: 150px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

    .fig:hover {
        border-radius: 0px;
        color: #333;
        background: #ffffff;
        opacity: 0.3;
        text-decoration: none;
    }*/

.items-famille {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 21px;
}

    .items-famille li {
        color: #fff;
        cursor: pointer !important;
    }

        .items-famille li.select {
            color: #ff8c00;
            font-weight: bolder;
        }

    .items-famille button {
        background: none;
        border: 0;
        padding: 0;
    }

.items-famille-ma {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 21px;
    background: rgb(165, 165, 165);
}

    .items-famille-ma li {
        color: #fff;
        cursor: pointer !important;
    }

        .items-famille-ma li a {
        }

        .items-famille-ma li.select {
            color: #ff8c00;
            font-weight: bolder;
        }

    .items-famille-ma button {
        background: none;
        border: 0;
        padding: 0;
    }

    .items-famille-ma > li > div.checkbox {
        width: 90%;
    }

.items-famille-ma-alertes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 21px;
}

    .items-famille-ma-alertes li {
        color: #fff;
        cursor: pointer !important;
    }

.head-famille {
    background: rgba(0,0,0,0.2);
    padding: 10px 15px;
}




/***Insertion, Creative***/
.media.video-audio-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .media.video-audio-container iframe, .video-audio-container object, .video-audio-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.imgCreaInser {
    max-height: 200px;
    max-width: 300px;
}

.infoCreaInser {
    display: inline-block;
    min-width: 150px;
}

/****Carousel****/
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

#loader {
    text-align: center;
}

    #loader .modal-footer {
        position: relative;
        width: 100px;
        top: 50%;
        margin: -19px -100px;
        border-top: none;
        display: inline-block !important;
    }

#tab-myadexpress {
    background-color: rgba(0,0,0,0.6);
    border-bottom: 0px;
}

    #tab-myadexpress.nav-tabs > li.active > a {
        transition: all 0.2s ease-in-out 0s;
        color: #ff8c00;
        background: transparent;
        text-transform: uppercase;
        border: none;
    }

    #tab-myadexpress.nav-tabs > li > a, #tab-myadexpress.nav-tabs > li > a:hover {
        transition: all 0.2s ease-in-out 0s;
        background: transparent;
        text-transform: uppercase;
        border: none;
    }

#tab-content-myadexpress .panel.panel-default {
    border-radius: 0px;
}

    #tab-content-myadexpress .panel.panel-default.panel-tab {
        background: transparent;
        border: none;
    }

        #tab-content-myadexpress .panel.panel-default.panel-tab > .panel-body {
            padding: 0px;
        }

#tab-content-myadexpress .panel-heading.resume {
    background: rgba(0,0,0,0.2);
    border-bottom: 0px;
    color: white;
}

#tab-content-myadexpress .panel-group {
    margin-bottom: 0px;
}

    #tab-content-myadexpress .panel-group .panel-primary {
        background-color: rgba(255,255,255,0.2);
        border: none;
        border-radius: 0px;
    }

        #tab-content-myadexpress .panel-group .panel-primary > .panel-heading {
            background-color: rgba(255,255,255,0.2);
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }

        #tab-content-myadexpress .panel-group .panel-primary .panel-body {
            background-color: rgba(255,255,255,0.2);
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }

        #tab-content-myadexpress .panel-group .panel-primary > .panel-heading > .panel-title {
            color: #00c1ff;
        }

            #tab-content-myadexpress .panel-group .panel-primary > .panel-heading > .panel-title > .collapsed {
                color: white;
            }


    #tab-content-myadexpress .panel-group .panel + .panel {
        margin-top: 0px;
    }

#tab-content-myadexpress .list-group {
    background-color: transparent;
    margin-bottom: 0px;
}

    #tab-content-myadexpress .list-group.b-r {
        border-right: 1px solid rgba(0,0,0,0.2);
    }

    #tab-content-myadexpress .list-group li.list-group-item {
        background-color: transparent;
        border: none;
        padding: 1px 15px;
    }

        #tab-content-myadexpress .list-group li.list-group-item:first-child,
        #tab-content-myadexpress .list-group li.list-group-item:last-child {
            border-radius: 0px;
        }

#tab-content-myadexpress h5, #tab-content-myadexpress h4 {
    padding: 5px 15px;
}


/*PAGE CONTACT*/
.bg-contact {
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    margin-top: 15px;
}

    .bg-contact .form-control {
        color: white;
        border: none;
    }

        .bg-contact .form-control:focus {
            background-color: rgba(255,255,255,0.1);
            border-color: #cfdadd;
            box-shadow: none;
        }

    .bg-contact input, .bg-contact textarea, .bg-contact select {
        background-color: rgba(255,255,255,0.2);
    }

    .bg-contact option {
        background-color: #13c18b;
    }

    .bg-contact .btn, .bg-contact .btn:hover {
        border: none;
        background-color: #ff8c00;
    }

.green-contact {
    color: #13c18b;
}

.membres-icon {
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    padding: 19px;
    margin: 15px auto;
}

.member-line {
    width: 20%;
    height: 2px;
    background: rgba(255,255,255,0.2);
    margin: 14px auto;
}

/*Images Creative (class = iconCreative+[numero_du_vehicle])*/
.iconInsertionCreativ, .big {
    font-size: 10em;
}

.iconInsertionCreative:before {
    content: "\f01d"; /*Defaut*/
}

.iconInsertionCreative0:before {
}

.iconInsertionCreative1:before {
}

.iconInsertionCreative2:before { /*Radio*/
    content: "\f001";
}

.iconInsertionCreative3:before { /*TV*/
    content: "\f01d";
}

/**Carousel Chemin de fer du support*/
#carou-vehicleView {
    /* background-color: rgba(0,0,0,0.6);*/
    border-bottom: 0px;
}

    #carou-vehicleView .panel {
        border-radius: 0px;
        background-color: transparent;
    }

        #carou-vehicleView .panel .panel-default {
            border-radius: 0px;
            border: none;
        }

            #carou-vehicleView .panel.panel-default.panel-tab {
                background: transparent;
                border: none;
            }

    #carou-vehicleView .panel-heading.resume {
        border-radius: 2px 2px 0 0;
        border-bottom: 0px solid #edf1f2;
        background-color: rgba(0,0,0,0.7);
        color: white;
        overflow:hidden;
        height:1%;
    }

}

#carou-vehicleView .panel-group .panel-primary > .panel-heading > .panel-title {
    color: #00c1ff;
}

#carou-vehicleView .panel-group .panel-primary > .panel-heading {
    background-color: rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#carou-vehicleView .panel-group .panel-primary .panel-body {
    background-color: rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#carou-vehicleView .panel-group .panel-primary > .panel-heading > .panel-title > .collapsed {
    color: white;
}


/*#carou-vehicleView .panel-body {
    background-color: rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}*/

#carou-vehicleView .carousel-control.left {
    margin-left: -30px;
    width:0px;
}

#carou-vehicleView .carousel-control.right {
    margin-right: -45px;
    width:0px;
}

#carou-vehicleView-OneVehicle .carousel-control.left {
    margin-left: -86px;
}

#carou-vehicleView-OneVehicle .carousel-control.right {
    margin-right: -90px;
}

.padder-v-mi {
    padding-top: 5px;
    padding-bottom: 5px;
}

.img-full {
    width: 100%;
}

#carou-vehicleView .row.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

#carou-vehicleView img {
    vertical-align: middle;
}

#carou-vehicleView img {
    border: 0;
}
/* Mopdal VBehicle View */


#modal-vehicleView .modal-content {
    margin: 0 auto;
}

#modal-vehicleView > .modal-dialog > .modal-content > .header-popup-vehicleView {
    /*padding: 10px 15px;*/
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: rgba(0,0,0,0.7);
}

#modal-vehicleView .modal:nth-of-type(even) {
    z-index: 1042 !important;
}

#modal-vehicleView > .modal-dialog > .modal-content > .modal-body > .col-md-12 > .no-padder {
    padding: 0 !important;
}

#modal-vehicleView .modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}

#modal-vehicleView-Img > .modal-dialog > .modal-content > .header-popup-vehicleView {
    /*padding: 10px 15px;*/
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: rgba(0,0,0,0.7);
}

.module-done {
}

.adExpress-tools {
    margin-left: 10px;
}

.infoGad {
    display: inline-block;
    min-width: 150px;
    font-size: 12px;
    color: #000;
    padding-left: 6px;
}

.infoGadAddressStreet {
    padding-left: 4px;
}

.infoGadAddress {
    padding-left: 16px;
}

.gadIcon {
    color: #00c1ff;
}

.gadLeftContainer {
    float: left;
    width: 220px;
    padding-right: 6px;
}

.gadBtnContainer {
    padding-top: 26px;
    text-align: right;
}

.gadBtn {
    background-color: #00c1ff;
}

.gadLink {
    color: inherit;
    cursor: pointer;
    outline-style: none;
}

.gadLink:before {
    content: "> ";
}

.gadCreativeLink {
    color: inherit;
    cursor: pointer;
    outline-style: none;
    text-decoration: underline;
}

.gadExternalLink {
    font-size: 12px;
    color: #00c1ff;
}

    .gadExternalLink:hover {
        font-size: 12px;
        color: #ff8c00;
    }

.modal-header .close{
    color:white;
    opacity: .7
}

.modal-express .modal-body {
    color: black;
    padding: 15px;
    background: rgba(0,0,0,0.1);
}

    .modal-express .modal-body .panel.panel-default {
        margin-bottom: 0;
        border: none;
        border-radius: 0;
    }

        .modal-express .modal-body .panel.panel-default .form-horizontal .control-label.text-left {
            text-align: left;
        }

        .modal-express .modal-body .panel.panel-default .form-horizontal .form-group {
            margin-bottom: 0;
        }



.modal-content-kantar {
    padding: 5px;
    margin-bottom: 0px;
}

.modal-panel-heading {
    background-color: #89959E;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-scroll {
    max-height: 250px;
    overflow-y: scroll;
}


/***Chart***/
.chart {
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.legendChart.ui-corner-all.ui-widget-content.ui-chart-legend {
    display: inline-block;
    color: black;
    background-color: white !important;
}

.ui-chart-tooltip {
    background-color: white;
}

.b-r-w {
    border-right: 1px solid rgba(255,255,255,0.4);
}

.modal.fcour {
    overflow-y: hidden;
}

.media-schedule-option input[type=checkbox].with-font,
.media-schedule-option input[type=radio].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.media-schedule-option input[type=radio].with-font ~ label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f1db";
        letter-spacing: 10px;
        font-size: 1.2em;
        width: 1.4em;
    }

.media-schedule-option input[type=checkbox].with-font ~ label:before  {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f0c8";
    letter-spacing: 10px;
    font-size: 1.2em;
    width: 1.4em;
}

.media-schedule-option input[type=radio].with-font:checked ~ label:before {
        content: "\f192";
        font-size: 1.2em;
        color: #FF8C1C!important;
        letter-spacing: 10px;
    }

.media-schedule-option input[type=checkbox].with-font:checked ~ label:before {
    content: "\f14a";
    font-size: 1.2em;
    color: #FF8C1C!important;
    letter-spacing: 10px;
}

.media-schedule-option input[type=checkbox].with-font ~ label:before {
    content: "\f0c8";
    color: #FFF;
}

.media-schedule-option input[type=checkbox].with-font:focus ~ label:before,
.media-schedule-option input[type=checkbox].with-font:focus ~ label,
.media-schedule-option input[type=radio].with-font:focus ~ label:before,
.media-schedule-option input[type=radio].with-font:focus ~ label {
    color: #FFF;
}


.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
  margin-left:30px;
  min-width:200px;
}

.titleFilter{
    font-weight:bold;
    border-bottom:1px solid rgba(255,255,255,0.2);
    margin-top:10px;
}
.colStyle {
    text-align: right;
}
