@*<p class="text-center">@(Model.Labels.NewsDescr)</p>*@
@*IMG ACCUEIL*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10 padding-b-15">
    <a target="_blank" href="http://www.pickanews.com/">
        <img src="../Content/img/Pickanews-Adexpress-2.jpg" class="img-responsive" alt="Pickanews - Kantar Media">
    </a>
</div>
@*PANEL INFO*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10">
    <div class="panel panel-default panel-home">
        <div class="panel-heading">
            <h4><i class="icon-bubble white"></i> Informations</h4>
        </div>
        <div class="panel-body information-fixed">
            <div class="media">
                
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>02</strong></h4>
                        <h4 class="text-center"><small>OCT</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Mise à disposition des données Clear Channel</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p><strong>Information</strong> : Les données de la société de communication extérieure Clear Channel sont à nouveau disponibles. Ces dernières vont être restituées progressivement, chaque semaine. Le 2 octobre 2017, les données sont disponibles pour les semaines 5 à 11, soit du 30 janvier au 19 mars 2017.</p><br />
                        <p><strong>Mise en garde</strong> : les données concernant la catégorie Transport ne sont pas disponibles pour le moment. Tout est mis en œuvre pour qu’elles le soient au plus vite.
                        </p><br/>
                    </div>
                </div>

                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>23</strong></h4>
                        <h4 class="text-center"><small>MAR</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Données Clear Channel</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p><strong>Mise en garde</strong> : Suite à un problème informatique de classification des réseaux de la société de communication extérieure Clear Channel, les données concernant les semaines 05 à 08, soit du 30 janvier au 26 février 2017 mises à disposition dans un premier temps, ont été supprimées de l’outil AdExpress. Des corrections vont être apportées et les données seront alors réintégrées.
                        </p><br/>
                    </div>
                </div>

                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>03</strong></h4>
                        <h4 class="text-center"><small>FEV</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Pickanews, votre veille plurimédia désormais accessible depuis AdExpress</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>Pickanews, le moteur de veille et d’analyse automatique vous permettant de rechercher en toute liberté les mentions d’une marque, d’une personnalité, d’un produit ou d’une thématique, est désormais disponible dans AdExpress. Vous pouvez y accéder via les tableaux de résultats des modules Plan Média, Perdus Gagnés et Présents Absents.</p><br/>
                    </div>
                </div>
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>14</strong></h4>
                        <h4 class="text-center"><small>OCT</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Webinar de présentation du nouveau module Facebook</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>Visionnez dès maintenant notre dernier Webinar de présentation du nouveau module Facebook dans AdExpress : <a target="_blank" href="http://bit.ly/2e7TbNk">http://bit.ly/2e7TbNk</a>
                        </p><br/>
                    </div>
                </div>
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>18</strong></h4>
                        <h4 class="text-center"><small>JUIL</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Revivez notre Webinar de présentation des améliorations AdExpress</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>
                            Ce Webinar avait pour objectif de vous détailler les différents axes sur lesquels nous avons travaillé afin de rendre AdExpress plus moderne, plus fluide et plus ergonomique.
                            Accédez à l’intégralité de la vidéo via l’adresse suivante :
                            <a target="_blank" href="http://bit.ly/29XLsh7">
                                http://bit.ly/29XLsh7.
                            </a>
                        </p><br/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
