@*<p class="text-center">@(Model.Labels.NewsDescr)</p>*@
@*IMG ACCUEIL*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10 padding-b-15">
    <a target="_blank" href="http://www.pickanews.com/">
        <img src="../Content/img/Pickanews-Adexpress-2.jpg" class="img-responsive" alt="Pickanews - Kantar Media">
    </a>
</div>
@*PANEL INFO*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10">
    <div class="panel panel-default panel-home">
        <div class="panel-heading">
            <h4><i class="icon-bubble white"></i> Informations</h4>
        </div>
        <div class="panel-body information-fixed">
            <div class="media">
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>03</strong></h4>
                        <h4 class="text-center"><small>FEV</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Pickanews, votre veille plurimédia désormais accessible depuis AdExpress</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>Pickanews, le moteur de veille et d’analyse automatique vous permettant de rechercher en toute liberté les mentions d’une marque, d’une personnalité, d’un produit ou d’une thématique, est désormais disponible dans AdExpress. Vous pouvez y accéder via les tableaux de résultats des modules Plan Média, Perdus Gagnés et Présents Absents.</p><br />
                    </div>
                </div>
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>22</strong></h4>
                        <h4 class="text-center"><small>DEC</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Données Mediatransports disponibles dans AdExpress</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>Les données de la société de communication extérieure Mediatransports sont  désormais disponibles dans Adexpress. Ces dernières étaient absentes des résultats de la Publicité Extérieure depuis le mois de Janvier 2016. Par ailleurs, Mediatransports adhère désormais au programme Moohnitor ; de nouveaux supports ont donc été créés en 2016 pour la restitution de la donnée.</p><br />
                    </div>
                </div>
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>14</strong></h4>
                        <h4 class="text-center"><small>OCT</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Webinar de présentation du nouveau module Facebook</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>Visionnez dès maintenant notre dernier Webinar de présentation du nouveau module Facebook dans AdExpress : <a target="_blank" href="http://bit.ly/2e7TbNk">http://bit.ly/2e7TbNk</a></p><br />
                    </div>
                </div>
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>06</strong></h4>
                        <h4 class="text-center"><small>SEPT</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Kantar Media partenaire des rencontres de l’UDECAM et du Grand Prix des Médias le 6 Septembre prochain</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>Kantar Media sera de nouveau partenaire des rencontres de l’UDECAM le 6 septembre prochain. Cette édition, sur le thème « repenser le temps », abordera la manière dont les marques articulent propositions nouvelles et mise à profit de l’éphémère pour la captation de l’attention du consommateur final.</p><br />
                    </div>
                </div>
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>18</strong></h4>
                        <h4 class="text-center"><small>JUIL</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Revivez notre Webinar de présentation des améliorations AdExpress</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>
                            Ce Webinar avait pour objectif de vous détailler les différents axes sur lesquels nous avons travaillé afin de rendre AdExpress plus moderne, plus fluide et plus ergonomique.
                            Accédez à l’intégralité de la vidéo via l’adresse suivante :
                            <a target="_blank" href="http://bit.ly/29XLsh7">
                                http://bit.ly/29XLsh7.
                            </a>
                        </p><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
