@*<p class="text-center">@(Model.Labels.NewsDescr)</p>*@
@*IMG ACCUEIL*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10 padding-b-15">
    <a target="_blank" href="@Url.Action("Pdf","PDF", new { fileName = "Plaquette_Social Media.pdf" })">
        <img src="../Content/img/Banniere-AdExpress_social.jpg" class="img-responsive" alt="Social Media Adexpress - Kantar Media">
    </a>
</div>
@*PANEL INFO*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10">
    <div class="panel panel-default panel-home">
        <div class="panel-heading">
            <h4><i class="icon-bubble white"></i> Informations</h4>
        </div>
        <div class="panel-body information-fixed">
            <div class="media">
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>06</strong></h4>
                        <h4 class="text-center"><small>SEPT</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Kantar Media partenaire des rencontres de l’UDECAM et du Grand Prix des Médias le 6 Septembre prochain</h4>
                        <em>Par Equipe Ad Intelligence de Kantar Media</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>Kantar Media sera de nouveau partenaire des rencontres de l’UDECAM le 6 septembre prochain. Cette édition, sur le thème « repenser le temps », abordera la manière dont les marques articulent propositions nouvelles et mise à profit de l’éphémère pour la captation de l’attention du consommateur final.</p><br />
                    </div>
                </div>
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>18</strong></h4>
                        <h4 class="text-center"><small>JUIL</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">Revivez notre Webinar de présentation des améliorations AdExpress</h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>
                            Ce Webinar avait pour objectif de vous détailler les différents axes sur lesquels nous avons travaillé afin de rendre AdExpress plus moderne, plus fluide et plus ergonomique.
                            Accédez à l’intégralité de la vidéo via l’adresse suivante :
                            <a target="_blank" href="http://bit.ly/29XLsh7">
                                http://bit.ly/29XLsh7.
                            </a>
                        </p><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
