@*<p class="text-center">@(Model.Labels.NewsDescr)</p>*@
@*IMG ACCUEIL*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10 padding-b-15">
    <a target="_blank" href="#">
        <img src="../Content/img/banner_sk.jpg" class="img-responsive" alt="Ad Express - Kantar Media">
    </a>
</div>
@*PANEL INFO*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10">
    <div class="panel panel-default panel-home">
        <div class="panel-heading">
            <h4><i class="icon-bubble white"></i> News</h4>
        </div>
        <div class="panel-body information-fixed">
            <div class="media">
                <div class="media-body">
                    <div class="date pull-left">
                        <h4 class="text-center"><strong>13</strong></h4>
                        <h4 class="text-center"><small>JUL</small></h4>
                    </div>
                    <div class="title pull-left information-title-width">
                        <h4 class="information-title">News 1</h4>
                        <em>By Kantar Media Ad-Intelligence Team</em>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content">
                        <p>News 1</p><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
