@*<p class="text-center">@(Model.Labels.NewsDescr)</p>*@
@*IMG ACCUEIL*@
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10 padding-b-15">
    <a target="_blank" href="http://www.pickanews.com/">
        <img src="../Content/img/Pickanews-Adexpress-2.jpg" class="img-responsive" alt="Pickanews - Kantar Media">
    </a>
</div>-->
@*PANEL INFO*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10">
    <div class="panel panel-default panel-home">
        <div class="panel-heading">
            <h4><i class="icon-bubble white"></i> Informations</h4>
        </div>
        <div class="panel-body information-fixed">
            <div class="media">
            </div>
        </div>
    </div>
</div>

