@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        <br />
        <br />
        <abbr title="Phone"></abbr>
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href=""></a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href=""></a>
    </address>
</div>