@model Km.AdExpressClientWeb.Models.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4 class="text-center">Modules</h4>
        <p class="text-center">Vos modules d'analyse</p>
        @*Four Mostly Importants*@
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10">
            <div class="tile">
                @if (Model.ModuleRight.ContainsKey(1945))
                {
                <a href="@Url.Action("Index", "MediaSchedule")" class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-chart sli-size blue"></i>
                            <h3>Plan Media</h3>
                        </div>
                        <div class="back">
                            <p class="font-size12 text-center">Connaître l'activité publicitaire d'un annonceur ou d'un secteur.</p>
                        </div>
                    </div>
                </a>
                }
                else
                {
                    <div class="tile-body text-center disabled-effect">
                        <div class="flip-container">
                            <div class="front">
                                <i class="icon-chart sli-size blue"></i>
                                <h3>Plan Media</h3>
                            </div>
                            <div class="back">
                                <p class="font-size12 text-center">Connaître l'activité publicitaire d'un annonceur ou d'un secteur.</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10">
            <div class="tile">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-layers sli-size blue"></i>
                            <h3>Portefeuille</h3>
                        </div>
                        <div class="back">
                            <p class="font-size12 text-center">Connaître l'activité publicitaire d'un annonceur ou d'un secteur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10">
            <div class="tile">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-calculator sli-size blue"></i>
                            <h3>Perdus / Gagnés</h3>
                        </div>
                        <div class="back">
                            <p class="font-size12 text-center">Connaître l'activité publicitaire d'un annonceur ou d'un secteur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10">
            <div class="tile">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-equalizer sli-size blue"></i>
                            <h3>Absents / Présents</h3>
                        </div>
                        <div class="back">
                            <p class="font-size12 text-center">Connaître l'activité publicitaire d'un annonceur ou d'un secteur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Three Mostly Importants*@
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-lr-10">
            <div class="tile-second">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-book-open sli-size-small green"></i>
                            <h5>Chronopresse</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-lr-10">
            <div class="tile-second">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-picture sli-size-small green"></i>
                            <h5>Nouvelles créations</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-lr-10">
            <div class="tile-second">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-eye sli-size-small green"></i>
                            <h5>Tendances</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Two pdf stuff*@
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10" data-toggle="collapse" data-target="#Analyses">
            <div class="tile-third">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-magnifier  sli-size-small green"></i>
                            <h5>Analyses<span class="caret green"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-deploy collapse" id="Analyses">
                <div class="tile-body text-center">
                    <div class="list-group">
                        <a href="#" class="list-group-item text-left">analyses</a>
                        <a href="#" class="list-group-item text-left">Morbi leo risus</a>
                        <a href="#" class="list-group-item text-left">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item text-left">Vestibulum at eros</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-lr-10" data-toggle="collapse" data-target="#board">
            <div class="tile-third">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-speedometer  sli-size-small green"></i>
                            <h5>Tableaux de bord<span class="caret green"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-deploy collapse" id="board">
                <div class="tile-body text-center">
                    <div class="list-group">
                        <a href="#" class="list-group-item text-left">tableaux</a>
                        <a href="#" class="list-group-item text-left">Morbi leo risus</a>
                        <a href="#" class="list-group-item text-left">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item text-left">Vestibulum at eros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*RIGHT SIDE*@
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4 class="text-center">Actualités</h4>
        <p class="text-center">Actualités KM et publications</p>
        @*IMG ACCUEIL*@
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10 padding-b-15">
            <img src="../Content/img/bann_adexpress.jpg" class="img-responsive" alt="Ad Express - Kantar Media">
        </div>
        @*PANEL INFO*@
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-lr-10">
            <div class="panel panel-default panel-home">
                <div class="panel-heading">

                    <h4><i class="icon-bubble white"></i> Informations</h4>
                </div>
                <div class="panel-body information-fixed">
                    <div class="media">
                        <div class="media-body">
                            <div class="date pull-left">
                                <h4 class="text-center"><strong>10</strong></h4>
                                <h4 class="text-center"><small>DEC</small></h4>
                            </div>
                            <div class="title pull-left">
                                <h4>Titre de folie</h4>
                                <em>Par Equipe Ad Intelligence de Kantar Media</em>
                            </div>
                            <div class="clearfix"></div>
                            <div class="content">
                                <p>Chers Clients,</p><br>
                                <p>En début d’année, Kantar Media avait été contraint de « flouter » dans Adexpress les  chemins de fer de certains titres, faute d’accord avec le GIE PPMP, groupement de plusieurs éditeurs français (dont Le Nouvel Observateur, Challenges, 20 Minutes, etc.). En effet, nous vous rappelons que Kantar Media assure la sécurité juridique de ses clients en concluant des contrats avec l’ensemble des éditeurs du marché français et international.</p><br>
                                <p>Aujourd'hui, nous vous informons que nous avons conclu un nouvel accord avec le GIE PPMP qui nous autorise désormais à rendre disponible les chemins de fer dans Adexpress, ceci prenant effet le lundi 19 octobre.</p><p>Nous vous remercions pour votre compréhension et restons  à votre disposition pour tout complément d’information.</p><br>
                                <p>Cordialement,<br>Equipe Ad Intelligence de Kantar Media »</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*PDF*@
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-lr-2" data-toggle="collapse" data-target="#news">
            <div class="tile-pdf">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">

                            <i class="fa fa-file-pdf-o sli-size-small red"></i>
                            <h5>Adex news<span class="caret red"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-deploy pdf collapse" id="news">
                <div class="tile-body text-center">
                    <div class="list-group">
                        <a href="#" class="list-group-item text-left">analyses</a>
                        <a href="#" class="list-group-item text-left">Morbi leo risus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-lr-2" data-toggle="collapse" data-target="#report">
            <div class="tile-pdf">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="fa fa-file-pdf-o sli-size-small red"></i>
                            <h5>Adex report<span class="caret red"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-deploy pdf collapse" id="report">
                <div class="tile-body text-center">
                    <div class="list-group">
                        <a href="#" class="list-group-item text-left">analyses</a>
                        <a href="#" class="list-group-item text-left">Morbi leo risus</a>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-lr-2" data-toggle="collapse" data-target="#doc">
            <div class="tile-pdf">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="fa fa-file-pdf-o sli-size-small red"></i>
                            <h5>Documents<span class="caret red"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-deploy pdf collapse " id="doc">
                <div class="tile-body text-center">
                    <div class="list-group">
                        <a href="#" class="list-group-item text-left">analyses</a>
                        <a href="#" class="list-group-item text-left">Morbi leo risus</a>

                    </div>
                </div>
            </div>
        </div>
        @*CONTACT*@
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-lr-10" >
            <div class="tile-third bg-green">
                <div class="tile-body text-center">
                    <div class="flip-container">
                        <div class="front">
                            <i class="icon-bubbles sli-size-small"></i>
                            <h5>Contactez nous</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>