<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <!--Parametres connection AdExpress-->
    <add key="DbUserName" value="PROMO03"/>
    <add key="DbPassword" value="waltari2"/>
    <!--<add key="DbDataSource" value="(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.17.236.126)(PORT = 1521)))(CONNECT_DATA =(SID = ADEXPR03)))"/>-->
    <add key="DbDataSource" value="(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = ELBE)(PORT = 1521)))(CONNECT_DATA =(SID = ADEXPR03)))"/>
    <add key="ProviderDataAccess" value="Oracle.DataAccess.Client"/>
    <add key="SmtpServer" value="frmitch-msprod"/>
    <add key="SmtpPort" value="25"/>
    <add key="Sender" value="promopsawebservice@kantarmedia.com"/>
    <!--<add key="Recipients" value="dede.mussuma@kantarmedia.com;guillaume.facon@kantarmedia.com;benjamin.masson@kantarmedia.com;youssef.rkaina@kantarmedia.com" />-->
    <add key="Recipients" value="dede.mussuma@kantarmedia.com;youssef.rkaina@kantarmedia.com" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Oracle" providerName="Oracle.DataAccess.Client"
         connectionString="User Id={0}; Password={1}; Data Source={2}; Pooling=True;Connection Timeout=120;Max Pool Size=150;Decr Pool Size=20;"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client" />
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle.DataAccess.Client" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=2.102.2.20, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>-->


</configuration>