/******************************** HTML  ************************************/
/* Title */
td.pt
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    background-color: #646262;
    padding-left: 5px;
    padding-right: 5px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    white-space: nowrap;
}
/* Complete period */
td.pp
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-color: #646262;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #A0A1A7;
    width: 17px;
}
a.pp, a.pp:active, a.pp:visited
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
a.pp:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FF7100;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

/* Incomplete period*/
td.ppi
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-color: #646262;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #C3C7D0;
    width: 17px;
}
a.ppi, a.ppi:active, a.ppi:visited
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
a.ppi:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #634984;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

/* Calendar day */
td.pd
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-color: #646262;
    border-top-color: #000000;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #D9E0CE;
    width: 17px;
}
/* Week end calendar day */
td.pdw
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-color: #646262;
    border-top-color: #000000;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #C0C0C0;
    width: 17px;
}
/* Level 0 (Total) */
td.L0
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFFFFF;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}
td.L0nb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFFFFF;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
/* Level 1 */
td.L1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    background-color: #777777;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}
td.L1nb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    background-color: #777777;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
/* Level 2 */
td.L2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #A0A1A7;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}
td.L2nb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #A0A1A7;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
/* Level 3 */
td.L3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    background-color: #C3C7D0;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}
td.L3nb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    background-color: #C3C7D0;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
/* Level 4 */
td.L4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    background-color: #D9E0CE;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}
td.L4nb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    background-color: #D9E0CE;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}

/* Level 0 (Total) export */
td.L0export
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFFFFF;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L0nbexport
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFFFFF;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
/* Level 1 export*/
td.L1export
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #777777;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L1nbexport
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #777777;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
/* Level 2 export */
td.L2export
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #A0A1A7;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L2nbexport
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #A0A1A7;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
/* Level 3 export */
td.L3export
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    background-color: #C3C7D0;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L3nbexport
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    background-color: #C3C7D0;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
/* Level 4 export */
td.L4export
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    background-color: #D9E0CE;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L4nbexport
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    background-color: #D9E0CE;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}

/* Absent period elements */
td.p3
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #A0A1A7;
    color: #A0A1A7;
    width: 17px;
}
/* Present period elements */
td.p4
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #F2A636;
    color: #FFFFFF;
    width: 17px;
}
/* Extensive period elements */
td.p5
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #F3D161;
    color: #CCCCCC;
    width: 17px;
}
/* Zooms */
/* GLeft */
td.pyLeft
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    background-color: #646262;
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-right-width: 0px;
}
/* Right */
td.pyRight
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    background-color: #646262;
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-right-width: 0px;
}
/* Period */
td.pa
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #646262;
    padding-left: 5px;
    padding-right: 5px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-right-width: 0px;
}
td.pa1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #646262;
    padding-left: 5px;
    padding-right: 5px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
}

/******************************** Excel ************************************/
/* Title */
td.ptX
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    background-color: #333333;
    padding-left: 5px;
    padding-right: 5px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
}
td.paX
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #333333;
    padding-left: 5px;
    padding-right: 5px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
}

/* Period */
td.ppX
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-color: #646262;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #A0A1A7;
}
/* Period */
td.ppiX
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-color: #646262;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #333333;
}
/* Week end calendar day */
td.pdwX
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-right-color: #333333;
    border-top-color: #000000;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #969696;
}
/* Calendar day */
td.pdX
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-right-color: #646262;
    border-top-color: #000000;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #C0C0C0;
}
td.p3X
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #A0A1A7;
    color: #A0A1A7;
}
/* Eléments de période présent*/
td.p4X
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FF9900; /*#646262;*/ /*color:#646262;*/
    color: #FFFFFF;
}
/* Eléments de période absent*/
td.NpX
{
    border-color: #A0A1A7;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
}
/* Eléments de période étendu*/
td.p5X
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FFCC99; /*#C0C0C0;*/
    color: #C0C0C0;
}
/* Excel level */
td.L0X
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    background-color: #FFFFFF;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L0Xnb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    background-color: #FFFFFF;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
td.L1X
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    background-color: #969696;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L1Xnb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    background-color: #969696;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
td.L2X
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    background-color: #C0C0C0;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L2Xnb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    background-color: #C0C0C0;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
td.L3X
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    background-color: #A0A1A7;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L3Xnb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    background-color: #A0A1A7;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
td.L4X
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    background-color: #CCCCFF;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
td.L4Xnb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    text-align: right;
    background-color: #CCCCFF;
    padding: 0px,0px,0px,2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}

/*************************** Slogans cells ********************************/
/* Present */
td.pc0
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #646262;
    color: #FFFFFF;
    width: 17px;
    text-align: center;
}
td.pc1
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #CC99FF;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc2
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #993300;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc3
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #99CCFF;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc4
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #003300;
    color: #FFFFFF;
    width: 17px;
    text-align: center;
}
td.pc5
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #003366;
    color: #FFFFFF;
    width: 17px;
    text-align: center;
}
td.pc6
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #000080;
    color: #FFFFFF;
    width: 17px;
    text-align: center;
}
td.pc7
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #333399;
    color: #FFFFFF;
    width: 17px;
    text-align: center;
}
td.pc8
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #800000;
    color: #FFFFFF;
    width: 17px;
    text-align: center;
}
td.pc9
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FF6600;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc10
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #808000;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc11
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #008000;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc12
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #008080;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc13
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #0000FF;
    color: #FFFFFF;
    width: 17px;
    text-align: center;
}
td.pc14
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FF0000;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc15
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FF9900;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc16
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #99CC00;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc17
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #339966;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc18
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #33CCCC;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc19
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #3366FF;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc20
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #800080;
    color: #FFFFFF;
    width: 17px;
    text-align: center;
}
td.pc21
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FF00FF;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc22
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FFCC00;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc23
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FFFF00;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc24
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #00FF00;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc25
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #00FFFF;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc26
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #00CCFF;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc27
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #993366;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc28
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FF99CC;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc29
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FFCC99;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc30
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #FFFF99;
    color: #000000;
    width: 17px;
    text-align: center;
}
td.pc31
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 1px;
    border-right-style: solid;
    background-color: #CCFFCC;
    color: #000000;
    width: 17px;
    text-align: center;
}
/*************************** APPM Slogans cells ********************************/
/** Absent period elements (Media plan per version) for APPM *****/
td.pma
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #A0A1A7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #A0A1A7;
    border-right-width: 0px;
    border-right-style: solid;
    background-color: #A0A1A7;
    color: #FFFFFF;
    width: 4px;
    text-align: center;
}
td.pmb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    background-color: #646262;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    padding-bottom: 4px;
    padding-top: 4px;
}
td.pmc
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: #C3C7D0;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 1px;
    border-right-style: solid;
    overflow: visible;
}
td.pmX
{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-right-color: #FFFFFF;
    border-right-width: 0px;
    border-right-style: solid;
    background-color: #A0A1A7;
    color: #FFFFFF;
    text-align: center;
}
/* Present */
td.pm0
{
    background-color: #646262;
    color: #FFFFFF;
    text-align: left;
}
td.pm1
{
    background-color: #CC99FF;
    color: #000000;
    text-align: left;
}
td.pm2
{
    background-color: #993300;
    color: #000000;
    text-align: left;
}
td.pm3
{
    background-color: #99CCFF;
    color: #000000;
    text-align: left;
}
td.pm4
{
    background-color: #003300;
    color: #FFFFFF;
    text-align: left;
}
td.pm5
{
    background-color: #003366;
    color: #FFFFFF;
    text-align: left;
}
td.pm6
{
    background-color: #000080;
    color: #FFFFFF;
    text-align: left;
}
td.pm7
{
    background-color: #333399;
    color: #FFFFFF;
    text-align: left;
}
td.pm8
{
    background-color: #800000;
    color: #FFFFFF;
    text-align: left;
}
td.pm9
{
    background-color: #FF6600;
    color: #000000;
    text-align: left;
}
td.pm10
{
    background-color: #808000;
    color: #000000;
    text-align: left;
}
td.pm11
{
    background-color: #008000;
    color: #000000;
    text-align: left;
}
td.pm12
{
    background-color: #008080;
    color: #000000;
    text-align: left;
}
td.pm13
{
    background-color: #0000FF;
    color: #FFFFFF;
    text-align: left;
}
td.pm14
{
    background-color: #FF0000;
    color: #000000;
    text-align: left;
}
td.pm15
{
    background-color: #FF9900;
    color: #000000;
    text-align: left;
}
td.pm16
{
    background-color: #99CC00;
    color: #000000;
    text-align: left;
}
td.pm17
{
    background-color: #339966;
    color: #000000;
    text-align: left;
}
td.pm18
{
    background-color: #33CCCC;
    color: #000000;
    text-align: left;
}
td.pm19
{
    background-color: #3366FF;
    color: #000000;
    text-align: left;
}
td.pm20
{
    background-color: #800080;
    color: #FFFFFF;
    text-align: left;
}
td.pm21
{
    background-color: #FF00FF;
    color: #000000;
    text-align: left;
}
td.pm22
{
    background-color: #FFCC00;
    color: #000000;
    text-align: left;
}
td.pm23
{
    background-color: #FFFF00;
    color: #000000;
    text-align: left;
}
td.pm24
{
    background-color: #00FF00;
    color: #000000;
    text-align: left;
}
td.pm25
{
    background-color: #00FFFF;
    color: #000000;
    text-align: left;
}
td.pm26
{
    background-color: #00CCFF;
    color: #000000;
    text-align: left;
}
td.pm27
{
    background-color: #993366;
    color: #000000;
    text-align: left;
}
td.pm28
{
    background-color: #FF99CC;
    color: #000000;
    text-align: left;
}
td.pm29
{
    background-color: #FFCC99;
    color: #000000;
    text-align: left;
}
td.pm30
{
    background-color: #FFFF99;
    color: #000000;
    text-align: left;
}
td.pm31
{
    background-color: #CCFFCC;
    color: #000000;
    text-align: left;
}
/* Styles plugin Miysis*/
td.mi
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #646262;
    font-weight: bold;
}
