/* Filter Class */
.vpScheduleResultFilterWebControlBackgroud
{
	filter: alpha(opacity=40);
	background-color: rgb(92,92,92);
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
}

.vpScheduleResultFilterWebControl
{
	padding: 10px;
	width: 750px;
	height: 550px;
	border: solid 1px #DFDFDF;
	position: absolute;
	z-index: 10000;
	overflow: none;
	background-color: White;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #525252;
	text-align: center;
	font-weight: bold;
	border-radius: 10px;
}

td.vpScheduleResultFilterWebControlOption
{
	width: 80px;
}

table.vpScheduleResultFilterWebControlOption
{
	background-color: #eeeeee;
	border: solid 1px #DBDBDB;
}

.vpScheduleResultFilterWebControlOptionHeader
{
	vertical-align: top;
	color: #A6A6A6;
	height: 80px;
	text-align: center;
	padding: 10px 0px 0px 0px;
	font-weight: bold;
}

.vpScheduleResultFilterWebControlMenu
{
	vertical-align: top;
	font-size: 12px;
}

.vpScheduleResultFilterWebControlMenu ul
{
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	list-style-type: none;
	width: 185px;
}

.vpScheduleResultFilterWebControlMenu ul li a
{
	color: #333;
	display: block;
	height: 16px;
	padding: 4px 0 4px 35px;
	text-decoration: none;
	font-weight: bold;
}

.vpScheduleResultFilterWebControlMenuSelected, .vpScheduleResultFilterWebControlMenu ul li a:hover
{
	background-color: #FCAF4A;
}

td.vpScheduleResultFilterWebControlResult
{
	width: 100%;
	height: 100%;
}

div.vpScheduleResultFilterWebControlResult
{
	padding: 0px 0px 0px 10px;
	width: 100%;
	height: 100%;
	z-index: 10000;
	overflow-y: auto;
}

.vpScheduleResultFilterWebControlResultContent
{
	position: absolute;
	width: 100%;
	z-index: 10000;
}

td.vpScheduleResultFilterWebControlButtons
{
	padding-top: 10px;
	text-align: right;
}

table.vpScheduleResultFilterWebControlButtons
{
	width: 60px;
}

.vpScheduleResultFilterWebControlButtonCancel
{
	text-align: right;
	cursor: pointer;
}

.vpScheduleResultFilterWebControlButtonValidation
{
	text-align: right;
	cursor: pointer;
}

/* Filter Node Class */
.vpScheduleResultFilterNodeWebControlResult
{
}

table.vpScheduleResultFilterNodeWebControlResultLvl1, 
table.vpScheduleResultFilterNodeWebControlResultLvl2, 
table.vpScheduleResultFilterNodeWebControlResultLvl3, 
table.vpScheduleResultFilterNodeWebControlResultLvl4
{
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
}

table.vpScheduleResultFilterNodeProductWebControlResultLvl1 label,
table.vpScheduleResultFilterNodeProductWebControlResultLvl2 label,
table.vpScheduleResultFilterNodeProductWebControlResultLvl3 label,
table.vpScheduleResultFilterNodeWebControlResultLvl1 label, 
table.vpScheduleResultFilterNodeWebControlResultLvl2 label, 
table.vpScheduleResultFilterNodeWebControlResultLvl3 label, 
table.vpScheduleResultFilterNodeWebControlResultLvl4 label, 
table.vpScheduleResultFilterNodeProductWebControlResultLvl1 input,
table.vpScheduleResultFilterNodeProductWebControlResultLvl2 input,
table.vpScheduleResultFilterNodeProductWebControlResultLvl3 input,
table.vpScheduleResultFilterNodeWebControlResultLvl1 input, 
table.vpScheduleResultFilterNodeWebControlResultLvl2 input, 
table.vpScheduleResultFilterNodeWebControlResultLvl3 input, 
table.vpScheduleResultFilterNodeWebControlResultLvl4 input
{
	cursor: pointer;
}
table.vpScheduleResultFilterNodeProductWebControlResultLvl1 label,
table.vpScheduleResultFilterNodeProductWebControlResultLvl2 label,
table.vpScheduleResultFilterNodeProductWebControlResultLvl3 label,
table.vpScheduleResultFilterNodeWebControlResultLvl1 label, 
table.vpScheduleResultFilterNodeWebControlResultLvl2 label, 
table.vpScheduleResultFilterNodeWebControlResultLvl3 label, 
table.vpScheduleResultFilterNodeWebControlResultLvl4 label
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
}
table.vpScheduleResultFilterNodeProductWebControlResultLvl1,
table.vpScheduleResultFilterNodeWebControlResultLvl1
{
	padding-left: 0px;
	background-color: #FCAF4A;
}
table.vpScheduleResultFilterNodeProductWebControlResultLvl1 label,
table.vpScheduleResultFilterNodeWebControlResultLvl1 label
{
	font-weight: bold;
}


table.vpScheduleResultFilterNodeWebControlResultLvl2
{
	padding-left: 10px;
}

table.vpScheduleResultFilterNodeProductWebControlResultLvl2
, table.vpScheduleResultFilterNodeWebControlResultLvl2 label
{
	font-weight: bold;
}

table.vpScheduleResultFilterNodeProductContainerWebControlResultLvl1
{
	width:100%;
	padding:10px 20px;
}

div.vpScheduleResultFilterNodeProductWebControlResultLvl2
{
	border:solid 1px #DBDBDB;
	margin:0px 0px 10px 0px;
	padding:0px 5px;
}

table.vpScheduleResultFilterNodeWebControlResultLvl3
{
	padding-left: 20px;
}

table.vpScheduleResultFilterNodeProductContainerWebControlResultLvl3
{
	padding: 5px 0px;
}

table.vpScheduleResultFilterNodeProductWebControlResultLvl3
{
	padding-left: 30px;
}

table.vpScheduleResultFilterNodeProductWebControlResultLvl3 label,
table.vpScheduleResultFilterNodeWebControlResultLvl3 label
{
	font-weight: normal;
}

.vpScheduleResultFilterNodeWebControlResultDisplay
{
	cursor:pointer;
}

/* Result table css class */
a.tooltip:link, a.tooltip:visited, a.tooltip:active
{
	font-size: 11px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
a.tooltip em
{
	display: none;
}
a.tooltip:hover
{
	border: 0;
	position: relative;
	z-index: 500;
	text-decoration: none;
}
a.tooltip:hover em
{
	font-style: normal;
	display: block;
	position: absolute;
	top: 20px;
	left: -10px;
	padding: 5px;
	color: #000000;
	border: 1px solid #bbb;
	background: #FFA500;
	width: 200px;
}
a.tooltip:hover em span
{
	position: absolute;
	top: -7px;
	left: 15px;
	height: 7px;
	width: 11px; /* background: transparent url(image-infobulle.gif); */
	margin: 0;
	padding: 0;
	border: 0;
}

/* Promofile Class */
td.vpfContent
{
	width: 750px;
	height: 550px;
}
td.vpfDescr
{
	width: 150px;
	vertical-align:top;
}
td.vpfDescrCond
{
	width: 150px;
	vertical-align:top;
}
div.vpPrf
{
	width: 750px;
	height: 550px;
	border: solid 1px #DFDFDF;
	position: absolute;
	z-index: 10000;
	overflow: none;
	background-color: White;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #525252;
	text-align: center;
	font-weight: bold;
}
div.pr_ctr
{
	text-align: center;
}
div.pr_div
{
	text-align: center;
}
ul.prf
{
	list-style-type: square;
	color: #FD6200;	
}
ul.prf li span
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
hf.hrSp
{
	height: 1px;
	color: #D2D2D2;
}
.VpFilePopUpHeader{
	background-image:url(/App_Themes/KMAE-Fr/images/Common/PopUp_Header.gif);
	background-repeat:repeat-x;
	height:21px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	vertical-align:top;
	padding-top:5px;
}