<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TNS.LinkSystem" culture="neutral" publicKeyToken="32c946e5f5c6d4a5"/>
        <bindingRedirect oldVersion="3.4.0.0-3.99.99.0" newVersion="3.5.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
