<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="cac496d1-e5f1-43e8-8aa4-fc33656bb108" Name="Kantar AdExpress - CsvChronoSrv Sobek" Language="1033" Version="1.0.0.0" Manufacturer="TNS.Ares.AdExpress.CsvChronoSrvInstaller" UpgradeCode="1733f58e-137f-4e83-9d9b-e7fa9a59f5fa">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfPMFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="CsvChronoFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Csv Chrono Srv Sobek">
          <Component Id="ProductComponent" Guid="40226a04-17c0-45fc-8fb9-0f989760956b">
            <File Id="SobekPrgFile" Name="$(var.TNS.Ares.AdExpress.CsvChronoSrv.TargetFileName)" Source="$(var.TNS.Ares.AdExpress.CsvChronoSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Csv Chrono Srv Sobek" Name="$(var.TNS.Ares.AdExpress.CsvChronoSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.AdExpress.CsvChronoSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Csv Chrono Srv Sobek" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="SobekPRG1"/>
    </Feature>
  </Product>
</Wix>
