<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="e7f61d30-317d-46f3-a8fd-0f46ea39dd5f" Name="Kantar AdExpress - XlsCadrageSrv Amset" Language="1033" Version="1.0.0.0" Manufacturer="TNS.Ares.AdExpress.XlsCadrageSrvInstaller" UpgradeCode="23fb3d83-6b63-43d2-b6ce-db7cc63618dd">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add XlsCadrageFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="XlsCadrageFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Xls Cadrage Srv Amset">
          <Component Id="ProductComponent" Guid="40226a04-17c0-45fc-8fb9-0f989760956c">
            <File Id="AmsetPrgFile" Name="$(var.TNS.Ares.AdExpress.XlsCadrageSrv.TargetFileName)" Source="$(var.TNS.Ares.AdExpress.XlsCadrageSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Xls Cadrage Srv Amset" Name="$(var.TNS.Ares.AdExpress.XlsCadrageSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.AdExpress.XlsCadrageSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Xls Cadrage Srv Amset" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="AmsetPRG1"/>
    </Feature>
  </Product>
</Wix>
