<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="2f9310a6-2e78-4644-b3fb-8bdd423fc9c4" Name="Kantar AdExpress - Requester AdExpress Cz" Language="1033" Version="1.0.0.0" Manufacturer="Kantar_AdExpress_Requester_AdExpress_Cz" UpgradeCode="d9200ca0-04d8-41b6-81bf-22b9d316a07c">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfPMFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="RequeterFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Requester AdExpress Cz">
          <Component Id="ProductComponent" Guid="4e8cf8e4-b4e8-4be3-ba65-b0219de6bc9f">
            <File Id="RequesterPrgFile" Name="$(var.TNS.Ares.RequesterSrvCz.TargetFileName)" Source="$(var.TNS.Ares.RequesterSrvCz.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Requester AdExpress Cz" Name="$(var.TNS.Ares.RequesterSrvCz.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.RequesterSrvCz.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Requeter AdExpress Cz" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="RequesterPRG1"/>
    </Feature>
  </Product>
</Wix>

