<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="c70b6450-d78c-4a15-bdce-16de444f3e60" Name="Kantar AdExpress: PdfSectorielleSrv (Hotep)" Language="1033" Version="1.0.0.0" Manufacturer="Kantar_AdExpress_PdfSectorielleSrv" UpgradeCode="ddd4796c-8855-4ad3-89fb-ad4fb6b2657c">
    <Package InstallerVersion="200" Compressed="yes" />
    
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfSectorielleFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="PdfSectorielleFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Pdf Sectorielle Srv Hotep">
          <Component Id="ProductComponent" Guid="40226a04-17c0-45fc-8fb9-0f989760956b">
            <File Id="HotepPrgFile" Name="$(var.TNS.Ares.AdExpress.PdfSectorielleSrv.TargetFileName)" Source="$(var.TNS.Ares.AdExpress.PdfSectorielleSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Pdf Sectorielle Srv (Hotep)" Name="$(var.TNS.Ares.AdExpress.PdfSectorielleSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.AdExpress.PdfSectorielleSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Pdf Sectorielle Srv Hotep" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="HotepPRG1"/>
    </Feature>
  </Product>
</Wix>
