.SMMenu {
	background-color:white; 
	width: 790px;
	border-top:1px solid #644882;
	border-left:1px solid #644882;/*#9D9885*/
	border-right:1px solid #644882;
	padding: 0px;
}

.SMParent {
    /*background-color: #d3e3ff;*/
    background-color: #FFFFFF;/*#EAD9FF*/
    width: 790px;
    border-bottom:1px solid #644882;
    font:bold 12px arial;
    color: #644882;/*#555555;*/
    text-align:left;
	text-decoration: none;
    padding-left: 8px;
}
.SMParentOver {
	/*background-color: #f6fff3; */
	background-color: #FFFFFF; 
	width: 790px;
	border-bottom:1px solid #644882;
    font:bold 12px arial;
    color: #644882; /*#555555;*/
    text-align:left;
	text-decoration:none; 
    padding-left: 8px;
    cursor:pointer;
}
.SMParentSelected {
	/*background-color: #d3e3ff;*/
	background-color: #FFFFFF;/*#f5ecff*/
	width: 790px;
	border-bottom:1px solid #644882;
    font:bold 12px arial;
    color: #644882; /*#334477;*/
    text-align:left;
	text-decoration:none; 
    padding-left: 8px;
	cursor:pointer; 
}
.SMChild {
	font:bold 10px verdana; 
	color:#334477;
	text-decoration:none;
    padding-left: 0px;
    text-align:left;
    border-bottom:1px solid #644882;
}
.SMChildOver {
	font:bold 10px verdana; 
	color:#334477;
	text-decoration:none;
    padding-left: 0px;
    text-align:left;
    border-bottom:1px solid #644882;
}
.SMChildSelected {
	font:bold 10px verdana; 
	color:#334477;
	text-decoration:none;
    padding-left: 0px;
    text-align:left;
    border-bottom:1px solid #644882;
}
.SMSemestre {
	border-bottom:1px solid #644882;
	border-top:1px solid #644882;
}
.SMTrimestreR {
	border-bottom:1px solid #644882;
}
.SMTrimestreL {
	border-bottom:1px solid #644882;
	border-Right:1px solid #644882;
}
.SMMonth {
	border-Right:1px solid #644882;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom:5px;
	margin:0px;
}
.SMTdPadding{
	padding-left: 2px;
	padding-right:0px;
	/*padding-right: 2px;*/
	padding-bottom:5px;
	margin:0px;
}
.SMTitle{
	font-size: 0.58;
	font-family: Arial;
	font:bold 12px arial;
	color: #7DB3A2;
}
.SMLabel{
	display:block;
	float:left;
	color:#425A3E;
	background-color:#C8E6C3;
	border-color:#425A3E;
	border-width:1px;
	border-style:Solid;
	height:16px;
	width:260px;
	vertical-align:top; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold; 
	white-space:nowrap;
}