@model Km.AdExpressClientWeb.Models.HomeNumbersViewModel

<div class="row">
    @{int i = 0;}
    @foreach (var item in Model.Numbers)
    {
        <div class="col-lg-4 col-md-4 col-sm-4 @(Model.Numbers.Count == (i+1) ? "": "b-r-w")">
            <h1 class="animationFun text-center" id="#fun@(i)"data-value="@item.Value"></h1>
            <h2 class="text-center adaptSize">@item.Key</h2>
        </div>
        i++;
    }
</div>