/*Legend*/
.asLegend
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight:bold;
}
.asLegendText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight:bold;
	padding-right:10px;
}
.asLegendRef
{
	background-color:#B1FFC1;
}
.asLegendComp
{
	background-color:#FFA3C1;
}
.asLegendBoth
{
	background-color:#FFFFC1;
}

/*table styles*/
.prClLv0, .prClLv1, .prClLv2, .prClLv3, .prClLv4, .prClLv5, .prClLv6, .prClLv7, .prClLv8, .prClLv9
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color : #000000;
	height:18px;	
	white-space:nowrap;
	text-decoration : none;
	text-align : right;
	border-left-width:0px;
	border-top-width:0px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
	padding-right:3px;
}
.prClLv1Neutral, .prClLv1Ref, .prClLv1Comp, .prClLv1Both, .prClLv0Excel, .prClLv2Neutral, .prClLv2Ref, .prClLv2Comp, .prClLv2Both, .prClLv3Neutral, .prClLv3Ref, .prClLv3Comp, .prClLv3Both, .prClLv4Neutral, .prClLv4Ref, .prClLv4Comp, .prClLv4Both, .prClLv5Neutral, .prClLv5Ref, .prClLv5Comp, .prClLv5Both, .prClLv6Neutral, .prClLv6Ref, .prClLv6Comp, .prClLv6Both, .prClLv7Neutral, .prClLv7Ref, .prClLv7Comp, .prClLv7Both, prClLv5SbNeutral, prClLv6SbNeutral, prClLv7SbNeutral 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color : #000000;
	height:18px;	
	white-space:nowrap;
	text-decoration : none;
	border-left-width:0px;
	border-top-width:0px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
	padding-right:3px;
}
tr.prClLv0
{
	white-space:nowrap;
	font-weight:bold;
	padding-left:4px;
}
tr.prClLv0 td{
	white-space:nowrap;
	font-weight:bold;
	padding-left:4px;
}
td.prClLv0Excel {
	white-space:nowrap;
	font-weight:bold;
	padding-left:4px;
}

tr.prClLv1{
	white-space:nowrap;
	font-weight:bold;
	padding-left:8px;
}
tr.prClLv1 td{
	white-space:nowrap;
	font-weight:bold;
	padding-left:8px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv1Neutral
{
	background-color:#9999FF;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv1Ref{
	background-color:#339966;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv1Comp{
	background-color:#FF8080;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv1Both{
	background-color:#FFFF99;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
tr.prClLv2{
	white-space:nowrap;
	font-weight:bold;
	padding-left:12px;
}
tr.prClLv2 td{
	white-space:nowrap;
	font-weight:bold;
	padding-left:12px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv2Neutral
{
	background-color:#CCCCFF;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv2Both
{
	background-color:#FFFFDA;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv2Ref
{
	background-color:#D0FFDA;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv2Comp
{
	background-color:#FFCC99;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
tr.prClLv3{
	white-space:nowrap;
	font-weight:bold;
	padding-left:16px;
}
tr.prClLv3 td{
	white-space:nowrap;
	font-weight:bold;
	padding-left:16px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv3Neutral
{
	background-color:#E1E0DA;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv3Both
{
	background-color:#FFFFDA;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv3Ref
{
	background-color:#E1FFDA;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv3Comp
{
	background-color:#FFE0DA;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
tr.prClLv5{
	white-space:nowrap;
	padding-left:20px;
}
tr.prClLv5 td{
	white-space:nowrap;
	padding-left:20px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv5Neutral
{
	background-color:#808080;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv5Both
{
	background-color:#FFFFCA;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv5Ref
{
	background-color:#D1FFCA;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv5Comp
{
	background-color:#FFD0CA;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
tr.prClLv6{
	white-space:nowrap;
	padding-left:24px;
}
tr.prClLv6 td{
	white-space:nowrap;
	padding-left:24px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv6Neutral
{
	font-size:9px;
	background-color:#969696;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv6Both
{
	font-size:9px;
	background-color:#FFFFDA;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv6Ref
{
	font-size:9px;
	background-color:#E1FFDA;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv6Comp
{
	font-size:9px;
	background-color:#FFE0DA;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
tr.prClLv7{
	white-space:nowrap;
	padding-left:28px;
}
tr.prClLv7 td{
	white-space:nowrap;
	padding-left:28px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv7Neutral
{
	font-size:9px;
	background-color:#C0C0C0;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv7Both
{
	font-size:9px;
	background-color:#F1F1F1;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv7Ref
{
	font-size:9px;
	background-color:#F1F1F1;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv7Comp
{
	font-size:9px;
	background-color:#F1F1F1;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
/*Subtotal*/
td.prClLv5SbNeutral
{
	background-color:#FFFFFF;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv6SbNeutral
{
	font-size:9px;
	background-color:#FFFFFF;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv7SbNeutral
{
	font-size:9px;
	background-color:#FFFFFF;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
/********************************************************************************/
/********************************************************************************/
td.prClLv1BisNeutral
{
	background-color:#9999FF;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv1BisRef{
	background-color:#008000;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv1BisComp{
	background-color:#FF6600;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv1BisBoth{
	background-color:#FFCC00;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv2BisNeutral
{
	background-color:#969696;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv2TerNeutral
{
	background-color:#CCCCFF;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv2BisBoth
{
	background-color:#FFFF00;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv2BisRef
{
	background-color:#99CC00;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv2BisComp
{
	background-color:#FF6600;
	white-space:nowrap;
	font-weight:bold;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv5BisNeutral
{
	text-align:right;
	background-color:#CCCCFF;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv5BisBoth
{
	text-align:right;
	background-color:#FFFF99;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv5BisRef
{
	text-align:right;
	background-color:#CCFFCC;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv5BisComp
{
	text-align:right;
	background-color:#FFCC99;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv6BisNeutral
{
	background-color:#C0C0C0;
	white-space:nowrap;
	text-align:right;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv6BisBoth
{
	text-align:right;
	background-color:#FFFF99;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv6BisRef
{
	text-align:right;
	background-color:#CCFFCC;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}
td.prClLv6BisComp
{
	text-align:right;
	background-color:#FFCC99;
	white-space:nowrap;
	border-bottom-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-color:#FFFFFF;
	border-right-width: 1px; 
	border-right-style:solid;
}