<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings lockItem="false">
    <add name="AlertConnectionString" connectionString="Data Source=mau1;User Id=myUsername;Password=myPassword;Min Pool Size=10;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5;Decr Pool Size=2;" />
  </connectionStrings>
  <appSettings>
    <!-- Separate by ';' or ',' -->
    <add key="InputDirectories" value="\\frmitch-ditd058\d$\PixPalaceSites" />
    
    <add key="table" value="alerts" />
    <add key="selectFields" value="*" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TNS.LinkSystem" culture="neutral" publicKeyToken="32c946e5f5c6d4a5"/>
        <bindingRedirect oldVersion="3.4.0.0-3.99.99.0" newVersion="3.4.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>