<?xml version="1.0"?>
<configuration>
  <appSettings>
  <!--Parametres connection Rolex-->
  <add key="DbUserName" value="rolex03"/>
  <add key="DbPassword" value="40ans"/>
  <add key="DbDataSource" value="(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = ELBE)(PORT = 1521)))(CONNECT_DATA =(SID = ADEXPR03)))"/>
  <add key="ProviderDataAccess" value="Oracle.DataAccess.Client"/>
  <add key="SmtpServer" value="frmitch-msprod"/>
  <add key="SmtpPort" value="25"/>
  <add key="Sender" value="rolex@kantarmedia.com"/>
  <add key="Recipients" value="dede.mussuma@kantarmedia.com"/>
  <add key="VisualPath" value="\\frmitch-fs03.tnsad.com\quanti_multimedia_perf\AdexDatas\Rolex\"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Oracle" providerName="Oracle.DataAccess.Client" connectionString="User Id={0}; Password={1}; Data Source={2}; Pooling=True;Connection Timeout=120;Max Pool Size=150;Decr Pool Size=20;"/>
  </connectionStrings>
  <!--A RAJOUTER Si l'application retourne l'erreur suivante :
  Le fournisseur de données .Net Framework demandé est introuvable. Il n'est peut-être pas installé.
  -->
  <!--Pour Oracle 10-->
  <!--<system.data>
    <DbProviderFactories>
      <add name="Oracle Data Provider for .NET Version 10.2.0.2.0"
           invariant="Oracle.DataAccess.Client"
           description="Oracle Data Provider for .NET Version 10.2.0.2.0"
           type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess,
           Version=2.102.2.20, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>-->
  <!--Pour Oracle 11-->
  <system.data>
    <DbProviderFactories>
      <add name="Oracle Data Provider for .NET Version 11.2.0.2.0"
           invariant="Oracle.DataAccess.Client"
           description="Oracle Data Provider for .NET Version 11.2.0.2.0"
           type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess,
           Version=2.112.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
</configuration>
