<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="mongoDbName" value="adexpress-tracking" />
    <add key="mongoDbImport_Path" value="C:\Program Files\MongoDB\Server\3.4\bin\mongoimport.exe" />
  </appSettings>
</configuration>