
@{
    ViewBag.Title = "Results";
}

<div class="container">
    <div class="col-md-12">
      

        <div class="panel text-left">
            <div class="panel-heading text-left">
                <i class="fa fa-file-text text-lg text-primary-lt "></i>
                <h4 class="font-normal m-t-none m-b-md text-primary-lt">Chemin de fer du support</h4>
            </div>
            <!--/panel-heading text-left-->

            <div id="vhCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160225/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160223/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160219/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                                <h3>Vendredi 12/02/0216</h3>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160218/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160211/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160210/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160209/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160205/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160204/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160203/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail"><img src="http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160202/imagette/coe001.jpg" alt="Equipe" width="235" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner-->
                <a class="left carousel-control" href="#vhCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#vhCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--/vhCarousel-->
        </div>
        <!--/panel text-left-->
    </div>
</div>

@section Scripts {


 }
