@using TNS.AdExpress.Domain.Translation;
@{
    ViewBag.Title = "Results";
}



@section Scripts {
@Scripts.Render("~/bundles/portfolio-vehicle-view")
    <script>
        $(function () {

            if (typeof jQuery === "undefined") { throw new Error("Vehicle view modal requires jQuery") }

            var vhCarouselData = [
                   { "Id": 24904, "ParutionDate": "Vendredi 26/02/2016", "DayN": "20160326", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/coe001.jpg", "NbInser": 12, "Invest": "123456789" },
                    { "Id": 24904, "ParutionDate": "Vendredi 25/02/2016", "DayN": "20160325", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160225/imagette/coe001.jpg", "NbInser": 15, "Invest": "1234564789" },
                     { "Id": 24904, "ParutionDate": "Vendredi 23/02/2016", "DayN": "20160323", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160223/imagette/coe001.jpg", "NbInser": 14, "Invest": "123456789" },
                      { "Id": 24904, "ParutionDate": "Vendredi 19/02/2016", "DayN": "20160319", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160219/imagette/coe001.jpg", "NbInser": 12, "Invest": "45454545" },
                       { "Id": 24904, "ParutionDate": "Vendredi 18/02/2016", "DayN": "20160318", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160218/imagette/coe001.jpg", "NbInser": 5, "Invest": "784524222" },
                        { "Id": 24904, "ParutionDate": "Vendredi 11/02/2016", "DayN": "20160311", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160211/imagette/coe001.jpg", "NbInser": 10, "Invest": "123456789" },
                         { "Id": 24904, "ParutionDate": "Vendredi 10/02/2016", "DayN": "20160310", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160210/imagette/coe001.jpg", "NbInser": 12, "Invest": "4242424242" },
                          { "Id": 24904, "ParutionDate": "Vendredi 09/02/2016", "DayN": "20160309", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160209/imagette/coe001.jpg", "NbInser": 5, "Invest": "123456789" },
                          { "Id": 24904, "ParutionDate": "Vendredi 05/02/2016", "DayN": "20160305", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160205/imagette/coe001.jpg", "NbInser": 12, "Invest": "123456789" },
                          { "Id": 24904, "ParutionDate": "Vendredi 04/02/2016", "DayN": "20160304", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160204/imagette/coe001.jpg", "NbInser": 12, "Invest": "155424242" },
                          { "Id": 24904, "ParutionDate": "Vendredi 03/02/2016", "DayN": "20160303", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160203/imagette/coe001.jpg", "NbInser": 13, "Invest": "215755" },
                          { "Id": 24904, "ParutionDate": "Vendredi 02/02/2016", "DayN": "20160302", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160202/imagette/coe001.jpg", "NbInser": 11, "Invest": "84545454" }
            ];

            var LABEL_NB_INSERTION = "Nombre d'insertion :";
            var LABEL_TOTAL_INVEST = "Total investissement : ";
            ShowVehicleCarousel(vhCarouselData, LABEL_NB_INSERTION, LABEL_TOTAL_INVEST);

            var vehicleItemsData = [
                 { "ParutionDate": "Vendredi 26/02/2016",  "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/coe001.jpg", "SrcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/coe001.jpg", "NbPage": 44, "Title": "EQUIPE" },
                  { "ParutionDate": "Vendredi 26/02/2016",  "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/coe002.jpg", "SrcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/coe002.jpg", "NbPage": 44, "Title": "EQUIPE" },
                   {  "ParutionDate": "Vendredi 26/02/2016",  "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor003.jpg", "SrcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor003.jpg", "NbPage": 44, "Title": "EQUIPE" },
                  { "ParutionDate": "Vendredi 26/02/2016",  "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor004.jpg", "SrcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor004.jpg", "NbPage": 44, "Title": "EQUIPE" },
                      { "ParutionDate": "Vendredi 26/02/2016",  "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor005.jpg", "SrcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor005.jpg", "NbPage": 44, "Title": "EQUIPE" },
                  { "ParutionDate": "Vendredi 26/02/2016",  "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor006.jpg", "SrcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor006.jpg", "NbPage": 44, "Title": "EQUIPE" },
                   {  "ParutionDate": "Vendredi 26/02/2016", "Src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor007.jpg", "SrcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor007.jpg", "NbPage": 44, "Title": "EQUIPE" },
            ];

            var LABEL_NB_PAGES = "  Nombre de page : ";
            var LABEL_NEXT = "Suivant";
            var LABEL_PREV = "Précédent";

            OpenOneVehicleModalCarousel(vehicleItemsData, LABEL_NB_PAGES, LABEL_NEXT, LABEL_PREV);

            OpenZoomImageModal();

       

        });

      

        function OpenVehicleViewModal() {

            $("#modal-vehicleView > .modal-dialog > .modal-content").empty();

            $("#modal-vehicleView").on('shown.bs.modal', function (event) {

                var vehicleItemsData = [
                  { "mId": 24904, "pDate": "Vendredi 26/02/2016", "dayN": "20160326", "src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/coe001.jpg", "srcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/coe001.jpg", "nbPage": 44, "title": "EQUIPE" },
                  { "mId": 24904, "pDate": "Vendredi 26/02/2016", "dayN": "20160326", "src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/coe002.jpg", "srcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/coe002.jpg", "nbPage": 44, "title": "EQUIPE" },
                  { "mId": 24904, "pDate": "Vendredi 26/02/2016", "dayN": "20160326", "src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor003.jpg", "srcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor003.jpg", "nbPage": 44, "title": "EQUIPE" },
                  { "mId": 24904, "pDate": "Vendredi 26/02/2016", "dayN": "20160326", "src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor004.jpg", "srcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor004.jpg", "nbPage": 44, "title": "EQUIPE" },
                  { "mId": 24904, "pDate": "Vendredi 26/02/2016", "dayN": "20160326", "src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor005.jpg", "srcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor005.jpg", "nbPage": 44, "title": "EQUIPE" },
                  { "mId": 24904, "pDate": "Vendredi 26/02/2016", "dayN": "20160326", "src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor006.jpg", "srcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor006.jpg", "nbPage": 44, "title": "EQUIPE" },
                  { "mId": 24904, "pDate": "Vendredi 26/02/2016", "dayN": "20160326", "src": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/imagette/cor007.jpg", "srcZoom": "http://adexpress.kantarmedia.fr/ImagesPresse/24904/20160226/cor007.jpg", "nbPage": 44, "title": "EQUIPE" },
                ];
                var colNb = 0;
                var htmlArr = [];
                $.each(vehicleItemsData, function (i, val) {

                    //<!--/modal-header -->

                    if (i == 0) {
                        htmlArr.push("<div class='modal-header panel-heading header-popup-vehicleView'>");
                        htmlArr.push(" <button class='close' aria-hidden'true' type='button' data-dismiss='modal'><span aria-hidden='true'>&times;</span></button>");
                        htmlArr.push(" <h4 class='modal-title font-normal m-t-none m-b-md text-primary-lt' id='myModalLabel'>");
                        htmlArr.push("<i class='fa fa-file-text blue'></i>  ");
                        htmlArr.push(val.title);
                        htmlArr.push(" - ");
                        htmlArr.push(val.pDate);
                        htmlArr.push("</h4><p class='pull-right text-white'>");
                        htmlArr.push("  Nombre de page : ");
                        htmlArr.push(val.nbPage);
                        htmlArr.push(" </p>  </div>");

                        //Modal body
                        htmlArr.push(" <div class='modal-body'>");

                        //<!--/Ligne 1-->

                        htmlArr.push("   <div class='col-md-12'>");
                        htmlArr.push("  <div class='col-md-4'></div>");
                        htmlArr.push("  <div class='col-md-4' href='#modal-vehicleView-Img' data-toggle='modal' data-srcZoom='");
                        htmlArr.push(val.srcZoom);
                        htmlArr.push("'  data-title='");
                        htmlArr.push(val.title);
                        htmlArr.push("'  data-pDate='");
                        htmlArr.push(val.pDate);
                        htmlArr.push("'> ");
                        htmlArr.push("  <img class='img-full' alt='image 01' src='");
                        htmlArr.push(val.src);
                        htmlArr.push("'>");
                        htmlArr.push("  </div> <div class='col-md-4'></div> </div>");
                    }
                    else {
                        colNb++;
                        //<!--/col-md-12-->
                        if (colNb == 1) {
                            htmlArr.push("  <div class='col-md-12'> ");
                        }

                        htmlArr.push("   <div class='col-md-4 no-padder' href='#modal-vehicleView-Img' data-toggle='modal' data-srcZoom='");
                        htmlArr.push(val.srcZoom);
                        htmlArr.push("'  data-title='");
                        htmlArr.push(val.title);
                        htmlArr.push("'  data-pDate='");
                        htmlArr.push(val.pDate);
                        htmlArr.push("'> ");
                        htmlArr.push("  <img class='img-full' alt='image 01' src='");
                        htmlArr.push(val.src);
                        htmlArr.push("'> </div>");

                        if (colNb == 3) {
                            colNb = 0;
                            htmlArr.push("     </div>");//END  //<!--/col-md-12-->
                        }
                    }
                });

                if (colNb > 0) {
                    htmlArr.push(" </div>");//END  //<!--/col-md-12-->

                }

                if (vehicleItemsData.length > 0) {
                    htmlArr.push("  </div>");  //end Modal body
                }

                $("#modal-vehicleView > .modal-dialog > .modal-content").html(htmlArr.join(""));
            });

            $("#modal-vehicleView").on('hide.bs.modal', function () {
                $("#modal-vehicleView > .modal-dialog > .modal-content").empty();
            });
        }

      
    </script>

}
