<div class="row" style="color:#282828">
    <header>
        <h2 class="text-color">KANTAR MEDIA – AD, CONSUMER & REPUTATION INTELLIGENCE</h2>
    </header>
    <header>
        <h2 class="text-color">Tietosuojakäytäntö: asiakkaat ja käyttäjät – Adscope and Adexpress</h2>
    </header>
    <h3 class="text-color">Versio V.1.0</h3>
    <h3 class="text-color">KESKEISET TIEDOT HENKILÖTIETOJESI KÄSITTELYSTÄ</h3>
    <p style="font-weight:bold">
        -	Kantar käsittelee henkilötietoja (sukunimet, etunimet, sähköpostiosoitteet sekä tietokonetta, selaamista ja tietojen katselua koskevat tiedot) käyttöympäristöjensä, sovellustensa ja sivustojensa käyttäjien ja asiakkaiden hallinnointitarkoituksissa.
    </p>
    <p>
        -	<span style="font-weight:bold">Keräämme tietoja eri tavoin.</span> Olemme saattaneet saada näitä tietoja suoraan sinulta viestiessämme kanssasi, tai tiedot voivat olla toisen organisaatiossasi olevan henkilön toimittamia. Niitä on voitu myös kerätä IT-resurssien, kuten evästeiden, välityksellä. Saatamme saada tietoja myös eri yrityksiltä. Tällaisia yrityksiä ovat esimerkiksi C-Radar (Ranska), LinkedIn ja Infolegale. Infolegalen kautta saamme pääasiassa taloutta koskevia liiketoimintatietoja sekä johtotehtävissä olevien henkilöiden, osakkeenomistajien ja osakkuuksien nimitietoja.
    </p>
    <p>
        -	<span style="font-weight:bold">Tarvitsemme näitä tietoja</span>, jotta voimme tarjota palveluja asiakkaillemme sekä käyttöympäristöjemme, sovellustemme ja sivustojemme käyttäjille, hallinnoida ja valvoa asiakkaisiin liittyviä sopimuksentekoa edeltäviä sekä sopimusten alaisia suhteita, varmistaa kyseisten sopimusten noudattamista ja tarkistaa sopimusten perusteella saatavia maksuja, järjestää kanta-asiakasohjelmia, tehdä tyytyväisyystutkimuksia, tarkistaa tarjoamiemme ja alihankkijoidemme tarjoamien palvelujen laatua, laatia liiketoimintaa ja suorituskykyä kuvaavia tilastoja, tiedottaa asiakkaita ja aiempia asiakkaita ja/tai ehdottaa heille uusia palveluja, käsitellä mahdollisia maksuhäiriö- ja kiistatilanteita, hoitaa oikeuksiisi liittyviä asioita jäljempänä kuvatun mukaisesti, suorittaa kohderyhmän seurantaa, helpottaa selaamista ja käyttöympäristöjemme, sivustojemme ja sovellustemme tietosuojaa.
    </p>
    <p>
        -	<span style="font-weight:bold">Tämän tietojen käsittelyn oikeudellisena perusteena</span>, kyseessä olevan tarkoitusperän mukaan, ovat Kantarin palveluja tilanneiden asiakkaiden oikeutetut edut ja meidän oikeutetut etumme (päivittäinen liiketoiminta, olemassa olevan asiakaskunnan vakiinnuttaminen, liiketoiminnallinen profilointi ja ammatillisen asiakaskunnan kehittäminen, tarjousten ja palvelujen parannukset, asiakkuuksien hallinta, kiistatilanteiden ennakointi ja hallinta sekä oikeuden vahvistaminen, käyttäminen tai puolustaminen tuomioistuimessa). Sinulta saatetaan kuitenkin tarvita lupa siihen, että evästeitä ja muita jäljittimiä voidaan asentaa tai lukea käyttöympäristöissämme, sivustoissamme ja sovelluksissamme. (Katso <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">evästekäytäntömme</a>).
    </p>
    <p>
        -	<span style="font-weight:bold">Joidenkin tietojen kerääminen voi olla pakollista.</span> Jos tällaisia tietoja ei ole pystytty keräämään, seuraukset ovat tilannekohtaisia. Yleensä seurauksena on se, ettet pysty käyttämään sivustojamme, sovelluksiamme ja käyttöympäristöjämme tai hyödyntämään palvelujamme (koska tietoja olisi tarvittu sopimuksellisista syistä) tai että emme pysty vastaamaan oikeuksiesi nojalla lähettämiisi pyyntöihin (koska tietoja olisi tarvittu lakisääteisistä syistä).
    </p>
    <p>
        -	<span style="font-weight:bold">Tahot, joille Kantar voi antaa tietojasi</span>, ovat organisaatiosi, alihankkijamme tai palveluntarjoajamme (tahot, jotka hoitavat kirjanpitoa, asiakkuuksien hallintaa, profilointia ja arkistointia, asiakashallintaohjelmiston ylläpitoa tai tiettyjen laskujen perintään liittyviä käsittelytehtäviä; toimijat, jotka tarjoavat liiketoimintaa koskevia oikeudellisia tietoja; palveluntarjoajat ja työkalut, joita käytetään sähköpostitse hoidettavassa postituksessa; asianajajat; laillistetut tilintarkastajat sekä auditoijat), palveluntarjoajat tai ohjelmistot, jotka tarjoavat Kantarin palveluja omien palvelujensa osana, sekä oikeus- ja hallintoviranomaiset.
    </p>
    <p>
        -	<span style="font-weight:bold">Omat oikeutesi.</span> Näitä ovat oikeutesi tarkastella, oikaista ja poistaa omia tietojasi, oikeutesi rajoittaa tietojesi käsittelyä, oikeutesi siirtää tietosi järjestelmästä toiseen sekä vastustamisoikeutesi, mukaan lukien oikeutesi vastustaa profilointia sekä oikeutesi määrittää, muokata tai peruuttaa ohjeistusta siitä, mitä tiedoillesi tapahtuu kuolemasi jälkeen. Jos pystyt todistamaan henkilöllisyytesi ja näiden oikeuksien käyttämistä koskevat edellytykset täyttyvät, voit käyttää näitä oikeuksia ja olla meihin yhteydessä kirjoittamalla seuraavaan sähköpostiosoitteeseen <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> tai seuraavaan postiosoitteeseen: Kantar, Service GDPR, 2 Rue Francis Pédron, 78240 Chambourcy, France. Sinulla on myös oikeus tehdä valitus CNIL:lle (Ranskan tietosuojaviranomaiselle).
    </p>
    <p>
        -	<span style="font-weight:bold">Tietojesi säilytysaika</span> vaihtelee käsitellyn tiedon luonteen ja tarkoitusperän mukaan. Säilytysaika voi myös määräytyä lakisääteisen määräajan perusteella (joka on yleensä viisi vuotta siitä, kun oikeuksiensa käyttämistä toivova henkilö on tullut tietoiseksi tai hänen olisi tullut saattaa tietoiseksi oikeuksien käyttämisen mahdollisuudesta).
    </p>
    <p>
        -	<span style="font-weight:bold">Tietosi voidaan siirtää Euroopan talousalueen ulkopuolelle.</span> Näissä tilanteissa Kantar varmistaa, että nämä siirrot tehdään maihin, joissa henkilötietojen suojauksen taso on Euroopan komission mukaan riittävä, tai että kyseiset siirrot suorittavien palveluntarjoajien tai kumppaneiden kanssa toimitaan Euroopan komission malleihin perustuvien sopimuslausekkeiden mukaisesti.
    </p>
    <p>
        -	<span style="font-weight:bold">Olemme nimenneet erityisen tietosuojavastaavan.</span> Hänen yhteystietonsa ovat seuraavat: <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> tai 6 More London Place - Tooley Street - SE1 2QY LONDON, United Kingdom.
    </p>
    <p class="text-color">
        Jos haluat lisätietoja, tutustu salassapitokäytäntöön, joka on ohessa kokonaisuudessaan
    </p>
    <br />
    <p>
        Tässä salassapitokäytännössä määritetään ehdot, joiden mukaisesti Kantar kerää ja käsittelee henkilötietojasi hallinnoidessaan käyttöympäristöjensä, sivustojensa ja sovellustensa asiakkaita ja käyttäjiä.
    </p>
    <p>
        Kantar on yksinkertaistettu osakeyhtiö, jonka osakepääoma on 1 617 492 euroa. Se on rekisteröity Versailles’n kauppa- ja yritysrekisteriin numerolla 612 034 496, ja sen kotipaikka on osoitteessa 2, rue Francis Pedron, Chambourcy (78240).
    </p>
    <p>
        Koska haluamme kunnioittaa yksityisyyttäsi ja sinua koskevia tietoja, varmistamme, että henkilötietosuojaan liittyvää sovellettavaa lainsäädäntöä noudatetaan, mukaan lukien lakia nro 78-17, joka on säädetty 6 tammikuuta 1978 ja joka tunnetaan nimellä Informatique et Libertés (<span style="font-weight: bold">Ranskan tietosuojalaki</span>) sekä Euroopan parlamentin ja neuvoston asetusta (EU) 2016/679, joka on annettu 27. päivänä huhtikuuta 2016 luonnollisten henkilöiden suojelusta henkilötietojen käsittelyssä sekä näiden tietojen vapaasta liikkuvuudesta ja joka tunnetaan nimellä <span style="font-weight: bold">yleinen tietosuoja-asetus</span> eli “<span style="font-weight: bold">GDPR</span>”).
</p>
    <p>
        Olemme nimenneet erityisen tietosuojavastaavan. Voit ottaa häneen yhteyttä sähköpostitse: <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> ja postitse: 6 More London Place - Tooley Street - SE1 2QY LONDON, United Kingdom.
    </p>
    <p>
        Tätä tietosuojakäytäntöä saatetaan päivittää. Ilmoitamme mahdollisesta päivityksestä etukäteen ja pyydämme siihen tarvittaessa suostumuksesi.
    </p>
    <h3 class="text-color">1.	MILLAISTA TIETOA KÄSITTELEMME, JA KUINKA TIETO KERÄTÄÄN?</h3>
    <p>
        Keräämiämme tietoja ovat pääasiallisesti sukunimesi, etunimesi, yrityksen postiosoite, yrityksen sähköpostiosoite, selaamistasi koskevat tiedot sekä tiedot siitä, mitä tietoja katselet käyttöympäristöissämme, sivustoissamme ja sovelluksissamme.
    </p>
    <p>
        Voimme kerätä tietoja eri tavoin.
    </p>
    <p>
        Saatamme saada tiedot suoraan sinulta viestiessämme kanssasi, tai tiedot voivat olla toisen organisaatiossasi olevan henkilön toimittamia.
    </p>
    <p>
        Niitä on voitu myös kerätä IT-resurssien, kuten evästeiden, välityksellä. Jos haluat lisätietoja näiden työkalujen käytöstä käyttöympäristöissämme, sivustoissamme ja sovelluksissamme, tutustu evästekäytäntöön, joka on luettavissa osoitteessa: <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">evästekäytäntömme</a>.
    </p>
    <p>
        Saatamme saada tietoja myös eri yrityksiltä. Tällaisia yrityksiä ovat esimerkiksi C-Radar (Ranska), LinkedIn ja Infolegale. Infolegalen kautta saamme pääasiassa taloutta koskevia liiketoimintatietoja sekä johtotehtävissä olevien henkilöiden, osakkeenomistajien ja osakkuuksien nimitietoja.
    </p>
    <h3 class="text-color">2.	Mitkä ovat tietojenkäsittelyyn liittyvien toimintojemme tarkoitusperät ja oikeudelliset perusteet?</h3>
    <p>
        Jotta henkilötietojen käsittely on laillista, sen perusteena on yleisen tietosuoja-asetuksen artiklan 6 mukaisesti oltava jokin näissä sopimuskohdissa mainittu oikeudellinen peruste.
    </p>
    <p>
        Oheiseen taulukkoon on koottu eri tarkoitusperät, jotka voivat liittyä tietojen käsittelyyn, sekä kyseisten tarkoitusperien oikeudelliset perusteet.
    </p>
    <table>
        <tr style="font-weight:bold; text-align:center">
            <td style="border:1px solid #282828; padding:4px">Tarkoitusperät</td>
            <td style="border:1px solid #282828; padding:4px">Oikeudelliset perusteet</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Palvelujen toimittaminen</td>
            <td style="border:1px solid #282828; padding:4px">Kantarin ehdottamia palveluja tilanneen organisaation oikeutetut edut</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Asiakkaisiin liittyvien sopimuksentekoa edeltävien sekä sopimusten alaisten suhteiden hallinnointi ja valvonta, kyseisten sopimusten noudattamisen varmistaminen ja sopimusten perusteella saatavien maksujen tarkistaminen</td>
            <td style="border:1px solid #282828; padding:4px">Kantarin oikeutetut edut (päivittäinen hallinnointi)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Kanta-asiakasohjelmien ja tyytyväisyystutkimusten organisointi</td>
            <td style="border:1px solid #282828; padding:4px">Kantarin oikeutetut edut (olemassa olevan asiakaskunnan vakiinnuttaminen)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Nykyisten ja aiempien asiakkaiden profilointi</td>
            <td style="border:1px solid #282828; padding:4px">Kantarin oikeutetut edut (asiakaskehitys)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">
                Tarjoamiemme ja alihankkijoiden tarjoamien palvelujen laadun tarkistaminen<br />
                Liiketoimintaa ja suorituskykyä kuvaavien tilastojen laatiminen<br />
                Kohderyhmän seuranta, selaamisen helpottaminen sekä käyttöympäristöjen, sivustojen ja sovellusten tietosuojan varmistaminen<br />
            </td>
            <td style="border:1px solid #282828; padding:4px">
                Kantarin oikeutetut edut (palvelujen ja tarjousten parantaminen)<br />
                Evästeiden ja vastaavien työkalujen avulla kerättyjen tietojen osalta tarvitsemme joskus lupasi kyseisten evästeiden käyttöön. (Katso <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">evästekäytäntömme</a>)
            </td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">
                Ne asiakkaat, jotka ovat valinneet yhteyksien seurannan ja käyttöympäristömme käytön asiakkaan sisäisen laskutuksen tarkoituksiin: raportonti yhteyksistä ja käyttöympäristön käyttö.
            </td>
            <td style="border:1px solid #282828; padding:4px">
                Kantarin oikeutetut edut<br />
                Tässä tapauksessa, jos käyttäjä haluaa käyttää järjestelmää, hän ei voi kieltää tai poistaa evästekäytäntöjä liittyen tähän raportointiin (Katso <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">evästekäytäntömme</a>)
            </td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Mahdollisten maksuhäiriö- tai kiistatilanteiden hallinta</td>
            <td style="border:1px solid #282828; padding:4px">Kantarin oikeutetut edut (saatavien perintä, kiistatilanteiden ennakointi ja hallinta sekä oikeuden vahvistaminen, käyttäminen tai puolustaminen tuomioistuimessa)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Oikeuksien hallinta kohdan <span style="font-weight:bold">5</span> mukaisesti.</td>
            <td style="border:1px solid #282828; padding:4px">Kantarin oikeudellisten velvoitteiden noudattaminen</td>
        </tr>
    </table>
    <div class="row"></div>
    <h3 class="text-color">3.	Onko tietojesi kerääminen ja käsittely pakollista?</h3>
    <p>
        Joidenkin sivustoissamme, sovelluksissamme ja käyttöympäristöissämme olevien palvelujen käyttäminen vaatii seuraavien tietojen antamista: sukunimi, etunimi ja yrityksen sähköpostiosoite.
    </p>
    <p>
        Jotta kyseisten resurssien tietosuoja, asiakkaiden kanssa solmittujen sopimusten noudattaminen ja saatavat maksut voidaan varmistaa, meidän on pystyttävä valvomaan pääsyä sivustoihimme, sovelluksiimme ja käyttöympäristöihimme ja niiden käyttöä. Tämän valvontaprosessin aikana voimme kerätä median käyttöä koskevaa tietoa.
    </p>
    <p>
        Jos näitä tietoja ei toimiteta meille tai jos niitä ei pystytä keräämään, et pysty käyttämään näitä sivustoja, sovelluksia tai käyttöympäristöjä etkä sen vuoksi hyödyntämään palvelujamme. Tässä tapauksessa tietoja on annettava sopimuksellisista syistä.
    </p>
    <p>
        Järjestelmämme voivat myös seurata yhteyksiä ja hyödyntää eri toimintoja niille asiakkaillemme, jotka tilaavat palvelun joka oikeuttaa tarjoamaan seurantatietoja palveluistamme, liittyen  yhteyksiin ja palvelun käyttöön, sisäisen laskutuksen tarkoituksiin jotta he voisivat laskuttaa uudelleen omia asiakkaitaan.
    </p>
    <p>
        Evästeiden kautta suoritettu tiedonkeruu koskee vain niitä asiakkaita, jotka tilaavat yhteyden ja käytön seurantapalvelun, jotta voimme noudattaa sopimusvelvoitteitamme, ja se rajoittuu tiukasti yhteyksien seurantaan ja asiakkaalle avattujen eri tilien käyttöön Kantarin kanssa tekemänsä sopimuksen ehtojen mukaisesti. Tässä tapauksessa näiden asiakkaiden, jotka haluavat käyttää Kantar-alustaa, käyttäjät eivät voi kieltäytyä tämän yhteyden ja käytön seurantapalvelun vastaavien evästeiden asentamisesta, koska siitä on yhteisesti sovittu.
    </p>
    <p>
        Jotta voimme parantaa ja optimoida palveluitamme ja ymmärtää, miten niitä käytetään, voimme myös kerätä tietoja web-alustan käytöstä ja näistä ominaisuuksista evästeiden avulla. Tämä tiedonkeruu on vapaaehtoista, ja voit kieltäytyä tietojen keräämisestä. Lisätietoja kerätyistä tiedoista ja yksityisyyden suojatoimintojen ymmärtämisestä saat evästepolitiikastamme.
    </p>
    <p>
        Tämä koskee seuraavia sivustoja, sovelluksia ja käyttöympäristöjä:
        <ul>
            <li>Adrequest</li>
            <li>AdScope</li>
        </ul>
    </p>
    <p>
        Jotta voit käyttää oikeuksiasi kohdassa <span style="font-weight:bold">5</span> kuvatun mukaisesti, sinun on todistettava meille henkilöllisyytesi. Jos et pysty todistamaan henkilöllisyyttäsi, emme ehkä pysty täyttämään pyyntöäsi. Tässä tapauksessa tietoja on annettava lakisääteisistä syistä.
    </p>
    <p>
        Muiden tietojen kerääminen voi olla pakollista. Sinulle kerrotaan, millaisten tietojen kerääminen on pakollista, onko kyseessä sopimuksellinen vai lakisääteinen velvoite ja mitä seuraa siitä, jos tarvittavia tietoja ei anneta.
    </p>
    <h3 class="text-color">4.	Kenelle jaamme tietojasi?</h3>
    <p>
        Tietojen jakaminen voi olla tarpeen seuraavien tahojen kanssa:
        <ul>
            <li>oma organisaatiosi</li>
            <li>alihankkijamme tai palveluntarjoajamme (tahot, jotka hoitavat kirjanpitoa, asiakkuuksien hallintaa, profilointia ja arkistointia, asiakashallintaohjelmiston ylläpitoa tai tiettyjen laskujen perintään liittyviä käsittelytehtäviä; palveluntarjoajat, joita käytetään sähköpostitse hoidettavassa postituksessa; asianajajat; laillistetut tilintarkastajat ja auditoijat) sekä palveluntarjoajat tai ohjelmistot, jotka tarjoavat Kantarin palveluja omien palvelujensa osana. Näitä alihankkijoita ja palveluntarjoajia sitovat luottamuksellisuutta ja turvallisuutta koskevat velvoitteet sekä yleisessä tietosuoja-asetuksessa määritetyt muut alihankkijoita koskevat velvoitteet. Valitsemme alihankkijamme huolellisesti ja olemme kaikissa olosuhteissa vastuussa alihankkijoiden suorittamasta tietojesi käsittelystä.</li>
        </ul>
    </p>
    <p>
        Edellä kuvatun mukaisesti emme koskaan paljasta tietojasi kolmansille osapuolille ilman sinulta saatua nimenomaista lupaa, ellei kyseessä ole esimerkiksi seuraavanlainen erityistilanne:
        <ul>
            <li>Joudumme paljastamaan tietosi lakisääteisistä syistä tai oikeudellisten toimien, riita-asian ja/tai viranomaispyynnön vuoksi.</li>
            <li>Koemme, että tietojesi paljastaminen on tarpeen tai asianmukaista kansallisen turvallisuuden vuoksi, lainkäyttösyistä tai muista yleisen edun mukaisista syistä.</li>
        </ul>
    </p>
    <h3 class="text-color">5.	Mitkä ovat oikeutesi?</h3>
    <p>
        Jollei poikkeuksia sovelleta yleisen tietosuoja-asetuksen artiklan 15 ja sitä seuraavien artikloiden mukaisesti, sinulla on oikeus seuraaviin:
        <ul>
            <li>oikeus hankkia vahvistus Kantarilta siitä, onko sinua koskevia henkilötietoja käsitelty, ja jos on, oikeus tarkastella kyseisiä henkilötietoja sekä useita muita suorittamaamme tietojen käsittelemiseen liittyviä tietoja (oikeus saada pääsy tietoihin – yleisen tietosuoja-asetuksen artikla 15)</li>
            <li>oikeus siihen, että Kantar oikaisee sinua koskevia henkilötietoja (oikeus tietojen oikaisemiseen – yleisen tietosuoja-asetuksen artikla 16)</li>
            <li>oikeus siihen, että Kantar poistaa sinua koskevat henkilötiedot tietyissä tapauksissa (oikeus tietojen poistamiseen tai ”oikeus tulla unohdetuksi” – yleisen tietosuoja-asetuksen artikla 17)</li>
            <li>oikeus siihen, että Kantar rajoittaa tietojensa käsittelemistä tietyissä tapauksissa (oikeus käsittelyn rajoittamiseen – yleisen tietosuoja-asetuksen artikla 18)</li>
            <li>erityistilanteeseen liittyvistä syistä oikeus saada Kantar lopettamaan sinua koskevien tietojen käsittely milloin tahansa (vastustamisoikeus – yleisen tietosuoja-asetuksen artikla 21.1 )</li>
            <li>oikeus milloin tahansa vastustaa sinua koskevien henkilötietojen käsittelyä, jos sitä tehdään profilointitarkoituksissa (oikeus vastustaa profilointia – yleisen tietosuoja-asetuksen artikla 21.2 )</li>
            <li>
                oikeus siihen, että voit milloin tahansa määrittää, muokata tai peruuttaa ohjeita, jotka koskevat kuolemasi jälkeen tapahtuvaa henkilötietojesi tallentamista, poistamista ja luovuttamista Informatique et Libertés -lain (Ranskan tietosuojalain) pykälän 40-1 mukaisesti. Nämä ohjeet voivat olla luonteeltaan yleisiä tai erityisiä. Käsittelemiämme tietoja koskevien erityisohjeiden osalta pystymme toimimaan vain säilyttäjinä. Tallennetut yleisohjeet saamme CNIL:n sertifioimalta digitaalisesti luotetulta kolmannelta osapuolelta.<br />
                Sinulla on myös oikeus nimetä kolmas osapuoli, jolle sinua koskevat tiedot annetaan kuolemasi jälkeen. Tässä tapauksessa suostut ilmoittamaan kyseiselle kolmannelle osapuolelle toiveestasi ja siitä, että meille välitetään tieto, jonka perusteella tämä taho on selvästi tunnistettavissa, ja että lähetät kyseiselle taholle tämän tietosuojakäytännön.
            </li>
        </ul>
    </p>
    <p>
        Edellyttäen, että pystyt todistamaan henkilöllisyytesi ja että edellä mainitut edellytykset täyttyvät, voit käyttää oikeuksiasi ja olla meihin yhteydessä kirjoittamalla seuraavaan sähköpostiosoitteeseen: <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> tai seuraavaan postiosoitteeseen: Kantar, Service GDPR, 2 Rue Francis Pédron, 78240 Chambourcy, France.
    </p>
    <p>
        Jos sinulla on tili jossakin sivustossamme, sovelluksessamme tai käyttöympäristössämme, voit myös tehdä tiettyjä muutoksia tai poistamisia suoraan kyseisestä sivustosta, sovelluksesta tai käyttöympäristöstä käsin.
    </p>
    <p>
        Jos sinulla on tietosuojakäytäntöön tai tietojesi käsittelyyn liittyviä kysymyksiä, voit ottaa yhteyttä yllä mainittuun sähköpostiosoitteeseen tai postiosoitteeseen.
    </p>
    <p>
        Sinulla on myös oikeus tehdä valitus Ranskan tietosuojaviranomaiselle eli CNIL:lle (Commission Nationale de l’Informatique et des Libertés).
    </p>
    <h3 class="text-color">6.	Miten pitkään säilytämme tietojasi?</h3>
    <p>
        Tietoja säilytetään vain niin kauan kuin se on ehdottoman välttämätöntä yllä kohdassa <span style="font-weight:bold">2</span>. kuvattuihin tarkoituksiin. Tämän jälkeen tiedot arkistoidaan ja niitä säilytetään tietojen vanhenemispäivään saakka. Ajan pituus vaihtelee tietojen luonteen ja tarkoitusperän mukaan.
    </p>
    <p>
        Säilytämme henkilötietojasi niin kauan kuin se on välttämätöntä palvelujen tarjoamiseksi ja organisaatioosi sitovien sopimusvelvoitteidemme täyttämiseksi tai muista olennaisista syistä, joita ovat esimerkiksi lailliset velvoitteemme, liiketoimintaa ja taloutta koskevien arkistojen ylläpito, riita-asioiden ratkaiseminen, tietosuoja, petosten ja väärinkäytön selvittäminen ja estäminen sekä organisaatioosi sitovan sopimuksen toimeenpaneminen.
    </p>
    <p>
        Jos käytät palvelujamme organisaatiosi hallinnoiman tilauksen kautta, säilytämme työyhteystietosi sen jälkeen, kun organisaatiosi on päättänyt tilauksen, jotta pystymme viestimään kanssasi kolmen vuoden ajan viimeisen yhteydenottosi jälkeen.
    </p>
    <h3 class="text-color">7.	Siirrot Euroopan talousalueen ulkopuolelle</h3>
    <p>
        Tietosi voidaan siirtää Euroopan talousalueen ulkopuolelle.
    </p>
    <p>
        Näissä tilanteissa Kantar varmistaa, että nämä siirrot tehdään maihin, joissa henkilötietojen suojauksen taso on Euroopan komission mukaan riittävä, tai että kyseiset siirrot suorittavien palveluntarjoajien tai kumppaneiden kanssa toimitaan Euroopan komission malleihin perustuvien sopimuslausekkeiden mukaisesti.
    </p>
</div>


