<div class="row" style="color:#282828">
    <header>
        <h2 class="text-color">KANTAR MEDIA - AD, SPOTREBITEĽSKÁ A REPUTAČNÁ INTELIGENCIA</h2>
    </header>
    <header>
        <h2 class="text-color">Pravidlá ochrany osobných údajov: Klienti a užívatelia – Adscope a Adexpress</h2>
    </header>
    <h3 class="text-color">Verzia V.1.0</h3>
    <h3 class="text-color">KĽÚČOVÉ INFORMÁCIE O SPRACOVANÍ VAŠICH OSOBNÝCH ÚDAJOV</h3>
    <p style="font-weight:bold">
        -	Kantar spracúva osobné údaje, ktoré sa vás týkajú (priezviská, krstné mená, e-mailové adresy, informácie o vašom počítači, údaje o prehliadaní alebo prezeraní) s cieľom spravovať zákazníkov a používateľov svojich platforiem, aplikácií a webových stránok.
    </p>
    <p>
        -	<span style="font-weight:bold">Údaje zhromažďujeme rôznymi spôsobmi.</span> Tieto údaje nám môžu byť poskytnuté počas našej interakcie alebo inou osobou vo vašej organizácii. Môžu sa tiež zhromažďovať prostredníctvom IT zdrojov, ako sú súbory cookie. Môžeme tiež získať údaje od spoločností ako C-Radar (Francúzsko), LinkedIn alebo spoločnosti Infolegale, ktorá nám poskytuje predovšetkým finančné údaje o podnikoch a mená manažérov, akcionárov a podielov.
    </p>
    <p>
        -	<span style="font-weight:bold">Požadujeme, aby tieto údaje</span> poskytovali naše služby našim klientom a používateľom našich platforiem, aplikácií a webových stránok; riadili a monitorovali naše predzmluvné a zmluvné vzťahy s našimi klientmi; zabezpečili súlad s týmito zmluvami; overili nám splatné sumy pri uplatňovaní týchto zmlúv; organizovali vernostné programy; vykonávali prieskumy spokojnosti zákazníkov; kontrolovali kvalitu služieb, ktoré poskytujeme my a naši subdodávatelia; vypracovávali výkonnostné a obchodné štatistiky; poskytovali našim klientom a bývalým klientom informácie a/alebo navrhli nové služby; riadili prípadné incidenty a spory ohľadom platieb; riadili vaše práva, ako je opísané nižšie; vykonávali monitorovanie návštevnosti; uľahčili prehliadanie a bezpečnosť našich platforiem, webových stránok a aplikácií.
    </p>
    <p>
        -	<span style="font-weight:bold">Právnym základom tohto spracovania</span>, v závislosti od príslušného konečného účelu, sú oprávnené záujmy našich klientov, ktorí sa prihlásili na odber služieb spoločnosti Kantar, naše legitímne záujmy (každodenné riadenie, konsolidácia existujúcej klientely, komerčné vyhliadky a rozvoj našej profesionálnej klientely, zlepšovanie našich služieb a ponúk, riadenie predaja a vzťahu so zákazníkmi, predvídanie a riadenie sporov a potvrdzovanie, vykonávanie alebo obhajovanie práv pred súdmi). Váš súhlas však môže byť potrebný na inštaláciu alebo čítanie súborov cookie a iných indikátorov na našich platformách, webových stránkach a aplikáciách (pozrite si naše <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">pravidlá týkajúce sa súborov cookie</a>).
    </p>
    <p>
        -	<span style="font-weight:bold">Niektoré údaje sa môžu zbierať povinne.</span> Dôsledky neschopnosti zhromažďovať takéto informácie budú závisieť od príslušných situácií. Patrí medzi ne najmä to, že nemáte prístup k našim webovým stránkam, aplikáciám a platformám a nemôžete tak využívať naše služby (v tomto prípade je požiadavka na poskytnutie informácií zmluvná) a my nemôžeme odpovedať na vaše žiadosti predložené na základe vašich práv (v tomto prípade je požiadavka na poskytnutie informácií zákonná).
    </p>
    <p>
        -	<span style="font-weight:bold">Príjemcami, ktorým môže spoločnosť Kantar poskytnúť vaše údaje,</span> sú vaša organizácia, naši subdodávatelia alebo poskytovatelia služieb (dodávatelia riadenia predaja a vzťahov so zákazníkmi, správy zákazníkov, riešenia pre vyhľadávanie a archiváciu, spoločnosť zaoberajúca sa údržbou softvéru na správu zákazníkov, dodávatelia právnych informácií týkajúcich sa podnikov, spoločnosti, ktoré sa zaoberajú zhromažďovaním určitých faktúr, poskytovateľov služieb alebo nástrojov používaných na účely e-mailu, právnici, účtovníci a audítori), poskytovatelia služieb alebo softvéru zahŕňajúceho služby spoločnosti Kantar vo svojich vlastných službách, okrem súdnych a správnych orgánov.
    </p>
    <p>
        -	<span style="font-weight:bold">Máte svoje práva.</span> Ide o právo na prístup, opravu a vymazanie vašich údajov, právo obmedziť ich spracovanie, právo na prenosnosť údajov, právo na námietky vrátane odporu voči prieskumom a právo definovať, meniť alebo rušiť pokyny týkajúce sa osudu vašich údajov po smrti. Za predpokladu, že ste schopní preukázať svoju totožnosť a že sú splnené podmienky na uplatnenie týchto práv, môžete tieto práva uplatniť písomne na nasledujúcej e-mailovej adrese <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> alebo na nasledujúcej poštovej adrese: Kantar, Service GDPR, 2 Rue Francis Pédron, 78240 Chambourcy, France. Máte tiež právo podať sťažnosť na CNIL (francúzsky orgán na ochranu údajov).
    </p>
    <p>
        -	<span style="font-weight:bold">Lehoty na uchovávanie vašich údajov</span> sa líšia v závislosti od povahy spracovávaných údajov a sledovaného účelu, alebo od dĺžky zákonnej lehoty na ukončenie platnosti (čo je spravidla päť rokov, odkedy sa osoba, ktorá chce uplatniť svoje práva, dozvedela alebo sa mala dozvedieť o skutočnostiach, ktoré jej umožňujú tieto práva uplatniť).
    </p>
    <p>
        -	<span style="font-weight:bold">Vaše údaje môžu byť prenesené mimo Európskeho hospodárskeho priestoru.</span> Za týchto okolností Kantar zabezpečí, aby sa tieto prevody uskutočňovali v krajinách, v ktorých Európska komisia uznala, že úroveň ochrany poskytovaná osobným údajom je dostatočná, alebo obsahujú zmluvné ustanovenia založené na vzoroch Európskej komisie s poskytovateľmi služieb alebo partnermi, ktorí uvedené prevody vykonávajú.
    </p>
    <p>
        -	<span style="font-weight:bold">Vymenovali sme úradníka pre ochranu údajov.</span> Jeho kontaktné údaje sú: <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> alebo 6 More London Place - Tooley Street - SE1 2QY LONDON, United Kingdom.
    </p>
    <p class="text-color">
        Ďalšie informácie vám poskytneme, ak si chcete preštudovať kompletné pravidlá o zachovávaní mlčanlivosti uvedené nižšie
    </p>
    <br />
    <p>
        Tieto pravidlá o zachovávaní mlčanlivosti definujú podmienky, za ktorých Kantar zhromažďuje a spracúva osobné údaje, ktoré sa vás týkajú, keď spravuje svojich klientov a používateľov svojich platforiem, webových stránok a aplikácií.
    </p>
    <p>
        Kantar je zjednodušená akciová spoločnosť so základným imaním vo výške 1 617 492 EUR, zapísaná pod číslom 612 034 496 v obchodnom registri vo Versailles, so sídlom 2, rue Francis Pedron, Chambourcy (78240).
    </p>
    <p>
        S cieľom rešpektovať vaše súkromie a informácie o vás zabezpečujeme dodržiavanie platných právnych predpisov na ochranu osobných údajov vrátane zákona č. 78-17 zo 6. januára 1978 známeho ako "Informatique et Libertés" (ďalej len <span style="font-weight: bold">Francúzsky zákon o ochrane osobných údajov</span>) a Európskej smernice 2016/679 z 27. apríla 2016 o ochrane fyzických osôb pri spracovaní osobných údajov a voľnom obehu týchto údajov, známom ako všeobecné nariadenie o ochrane osobných údajov alebo GDPR (ďalej len “<span style="font-weight: bold">GDPR</span>”).
    </p>
    <p>
        Vymenovali sme úradníka pre ochranu údajov. Kontaktovať ho môžete na nasledujúcej e-mailovej adrese: <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> alebo poštovej adrese: 6 More London Place - Tooley Street - SE1 2QY LONDON, United Kingdom.
    </p>
    <p>
        Možno budeme potrebovať aktualizovať tieto pravidlá ochrany osobných údajov. O každej aktualizácii budete informovaný vopred a v prípade potreby budeme požadovať váš súhlas.
    </p>
    <h3 class="text-color">1.	AKÉ ÚDAJE SPRACOVÁVAME A AKO SA ZHROMAŽĎUJÚ?</h3>
    <p>
        Údaje, ktoré zhromažďujeme, môžu byť okrem údajov týkajúcich sa prehliadania a konzultácií s našimi platformami, webovými stránkami a aplikáciami najmä vaše priezvisko, krstné meno, obchodná poštová adresa, obchodná e-mailová adresa.
    </p>
    <p>
        Vaše údaje môžeme zhromažďovať rôznymi spôsobmi.
    </p>
    <p>
        Vaše údaje nám môžu byť poskytnuté počas našej interakcie alebo inou osobou vo vašej organizácii.
    </p>
    <p>
        Môžu sa tiež zhromažďovať prostredníctvom IT zdrojov, ako sú súbory cookie. Ďalšie informácie o používaní týchto nástrojov na našich platformách, webových stránkach a aplikáciách vám umožnia nahliadnuť do pravidiel používania súborov cookie, ktoré nájdete na nasledujúcej adrese <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">pravidlá týkajúce sa súborov cookie</a>.
    </p>
    <p>
        Môžeme tiež získať údaje od spoločností ako C-Radar (Francúzsko), LinkedIn alebo spoločnosti Infolegale, ktorá nám poskytuje predovšetkým finančné údaje o podnikoch a mená manažérov, akcionárov a podielov.
    </p>
    <h3 class="text-color">2.	Aký je konečný účel a právne dôvody pre naše činnosti spracovania údajov?</h3>
    <p>
        Pri uplatnení článku 6 GDPR musí byť spracovanie akýchkoľvek osobných údajov, aby bolo zákonné, založené na jednom z právnych dôvodov uvedených v týchto článkoch.
    </p>
    <p>
        Nižšie uvedená tabuľka zobrazuje rôzne konečné účely, ktoré sa môžu sledovať pri spracovaní vašich údajov, a právne dôvody poskytujúce základ pre každý z týchto konečných účelov.
    </p>
    <table>
        <tr style="font-weight:bold; text-align:center">
            <td style="border:1px solid #282828; padding:4px">Konečné účely</td>
            <td style="border:1px solid #282828; padding:4px">Právny základ</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Dodávanie našich služieb</td>
            <td style="border:1px solid #282828; padding:4px">Oprávnené záujmy vašej organizácie, ktorá sa prihlásila k odberu služby, ktorú navrhla Kantar</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Riadenie a monitorovanie predzmluvných a zmluvných vzťahov s našimi klientmi, zabezpečenie dodržiavania týchto zmlúv, overovanie súm, ktoré nám majú byť vyplatené pri uplatňovaní týchto zmlúv</td>
            <td style="border:1px solid #282828; padding:4px">Legitímne záujmy spoločnosti Kantar (každodenné riadenie)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Organizovanie vernostných programov a prieskumov spokojnosti</td>
            <td style="border:1px solid #282828; padding:4px">Legitímne záujmy spoločnosti Kantar (konsolidácia existujúcej klientely)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Hľadanie súčasných a bývalých klientov</td>
            <td style="border:1px solid #282828; padding:4px">Legitímne záujmy spoločnosti Kantar (rozvoj zákazníkov)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">
                Overovanie kvality služieb, ktoré poskytujeme my a naši subdodávatelia<br />
                Tvorba komerčných a výkonnostných štatistík<br />
                Monitorovanie návštevnosti, uľahčenie prehliadania a zabezpečenie bezpečnosti našich platforiem, webových stránok a aplikácií<br />
            </td>
            <td style="border:1px solid #282828; padding:4px">
                Legitímne záujmy spoločnosti Kantar (zlepšenie našich služieb a ponúk)<br />
                V prípade údajov zozbieraných prostredníctvom súborov cookie a podobných nástrojov sa niekedy vyžaduje váš súhlas s používaním týchto súborov cookie (pozrite si prosím naše <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">pravidlá týkajúce sa súborov cookie</a>)
            </td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">
                Pre niektorých klientov, ktorí sa rozhodli pre sledovanie pripojení a používanie našich platforiem na účely internej prefakturácie klienta: reportovanie o pripojení k platforme a jej používaní.
            </td>
            <td style="border:1px solid #282828; padding:4px">
                Legitímne záujmy vašej organizácie<br />
                V tomto prípade používatelia, ktorí chcú používať túto platformu, nebudú môcť odmietnuť alebo odstrániť súbory cookie, ktoré sa použili na toto reportovanie (pozrite si prosím naše <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">pravidlá týkajúce sa súborov cookie</a>)
            </td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Riadenie prípadných platobných incidentov alebo sporov</td>
            <td style="border:1px solid #282828; padding:4px">Legitímne záujmy spoločnosti Kantar (vymáhanie pohľadávok, predvídanie a riadenie sporov, potvrdzovanie, uplatňovanie alebo obhajovanie práva pred súdmi)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Riadenie vašich práv, ako je uvedené v článku <span style="font-weight:bold">5</span>.</td>
            <td style="border:1px solid #282828; padding:4px">Dodržiavanie zákonných povinností zo strany spoločnosti Kantar</td>
        </tr>
    </table>
    <div class="row"></div>
    <h3 class="text-color">3.	Je zhromažďovanie a spracovanie vašich údajov povinné?</h3>
    <p>
        Prístup k niektorým službám na našich webových stránkach, aplikáciách a platformách si vyžaduje poskytnutie nasledujúcich údajov: priezvisko, krstné meno a obchodná e-mailová adresa.
    </p>
    <p>
        S cieľom zabezpečiť bezpečnosť týchto zdrojov, skontrolovať dodržiavanie zmlúv uzatvorených s našimi klientmi a overiť sumy, ktoré nám majú byť vyplatené, musíme byť schopní monitorovať prístup a používanie našich webových stránok, aplikácií a platforiem. Počas tohto procesu monitorovania môžeme zhromažďovať údaje z konzultácií s médiami.
    </p>
    <p>
        Ak nám tieto údaje nie sú poskytnuté alebo ich nie je možné zozbierať, nemáte k týmto webovým stránkam, aplikáciám a platformám prístup, a preto nebudete môcť využívať naše služby. Tieto požiadavky na poskytovanie údajov majú zmluvný charakter.
    </p>
    <p>
        Naše platformy môžu tiež sledovať pripojenia a používanie rôznych funkcií pre našich klientov, ktorí si predplatia službu, ktorá ich oprávňuje na poskytovanie údajov o sledovaní týkajúcich sa spojení a využívanie našich služieb na účely internej prefakturácie s cieľom môcť fakturovať svojim vlastným klientom.
    </p>
    <p>
        Toto zhromažďovanie údajov, ktoré sa vykonáva prostredníctvom súborov cookie, sa vzťahuje len na tých klientov, ktorí si predplatili služby sledovania pripojenia a používania, aby boli v súlade s našimi zmluvnými záväzkami a je prísne obmedzené na sledovanie pripojení a používanie rôznych účtov otvorených pre klienta podľa podmienok jeho zmluvy so spoločnosťou Kantar. V tomto prípade nemôžu užívatelia spomedzi týchto klientov, ktorí chcú používať platformu Kantar, odmietnuť inštaláciu súborov cookie, ktoré zodpovedajú tejto službe pripojenia a sledovania používania, pretože ide o zmluvný záväzok.
    </p>
    <p>
        Aby sme mohli zlepšiť a optimalizovať naše služby a pochopiť, ako sa používajú, môžeme tiež zbierať údaje týkajúce sa používania webovej platformy a týchto funkcií prostredníctvom používania súborov cookie. Tento zber údajov je nepovinný a zber takýchto údajov môžete odmietnuť. Ďalšie informácie o zozbieraných údajoch a pochopenie možností ochrany osobných údajov nájdete v pravidlách týkajúcich sa súborov cookie.
    </p>
    <p>
        Webové stránky, aplikácie a platformy, ktorých sa týka zber vyššie uvedených údajov, sú nasledovné:
        <ul>
            <li>Adrequest</li>
            <li>AdScope</li>
        </ul>
    </p>
    <p>
        S cieľom uplatniť svoje práva uvedené v článku <span style="font-weight:bold">5</span>, nám musíte predložiť doklad totožnosti. Neposkytnutie tohto dokladu nám môže brániť v splnení vašej požiadavky. Táto požiadavka na poskytovanie údajov má zmluvný charakter.
    </p>
    <p>
        Zber iných údajov môže byť povinný. Budete informovaní o údajoch, pre ktoré je zber povinný, o zmluvnej alebo zákonnej povahe tejto povinnosti poskytovať údaje a o dôsledkoch neposkytnutia príslušných údajov.
    </p>
    <h3 class="text-color">4.	S kým zdieľame vaše osobné údaje?</h3>
    <p>
        Možno budeme potrebovať zdieľať údaje:
        <ul>
            <li>s vašou organizáciou;</li>
            <li>s našimi subdodávateľmi alebo poskytovateľmi služieb (dodávatelia riadenia predaja a vzťahov so zákazníkmi, riadenie zákazníkov, vyhľadávacie a archivačné riešenia, spoločnosť zaoberajúca sa údržbou softvéru na riadenie zákazníkov, spoločnosti, ktoré sa zaoberajú zberom určitých faktúr, poskytovatelia služieb na účely e-mailu, právnici, autorizovaní účtovníci a audítori), poskytovateľmi služieb alebo softvéru zahŕňajúceho služby Kantar vo vlastných službách. Títo subdodávatelia alebo poskytovatelia služieb sú, okrem iných povinností uvedených v GDPR pre subdodávateľov, viazaní povinnosťou zachovávať dôvernosť a bezpečnosť. Starostlivo vyberáme našich subdodávateľov a za každých okolností sme zodpovední za spracovanie vašich údajov týmito subdodávateľmi.</li>
        </ul>
    </p>
    <p>
        Okrem vyššie uvedeného sa zaväzujeme, že nikdy neprezradíme vaše údaje tretím stranám, s výnimkou vášho výslovného súhlasu, alebo za osobitných okolností, napríklad:
        <ul>
            <li>ak sme povinní zverejniť vaše údaje zo zákona, v dôsledku súdneho konania, sporu a/alebo žiadosti orgánov verejnej moci;</li>
            <li>ak sa domnievame, že sprístupnenie vašich údajov je potrebné alebo vhodné z dôvodov národnej bezpečnosti, pri uplatňovaní zákona alebo z iných dôvodov vo verejnom záujme.</li>
        </ul>
    </p>
    <h3 class="text-color">5.	Aké sú vaše práva?</h3>
    <p>
        Pokiaľ neplatia výnimky, podľa podmienok článku 15 a nasl. GDPR, máte:
        <ul>
            <li>právo získať od spoločnosti Kantar potvrdenie, že osobné údaje, ktoré sa vás týkajú, sú alebo nie sú spracované, a ak je to tak, právo na prístup k uvedeným osobným údajom a viacerým informáciám týkajúcim sa spracovania, ktoré vykonávame (právo prístupu - článok 15 GDPR);</li>
            <li>právo nechať Kantar opraviť osobné údaje, ktoré sa vás týkajú (právo na opravu - článok 16 GDPR);</li>
            <li>právo nechať Kantar vymazať osobné údaje, ktoré sa vás týkajú v určitých prípadoch (právo na vymazanie alebo „právo na zabudnutie“ - článok 17 GDPR);</li>
            <li>právo nechať Kantar v niektorých prípadoch obmedziť svoje spracovanie (právo na obmedzenie spracovania - článok 18 GDPR);</li>
            <li>z dôvodov súvisiacich s vašou konkrétnou situáciou, právo na to, aby Kantar prestal spracúvať údaje, ktoré sa vás týkajú, kedykoľvek, v určitých prípadoch (právo na vznesenie námietky - článok 21 ods. 1 GDPR);</li>
            <li>právo vzniesť námietky proti spracovaniu osobných údajov, ktoré sa vás týkajú, kedykoľvek na účely prieskumu (právo namietať proti prieskumu - článok 21 ods. 2 GDPR);</li>
            <li>
                právo kedykoľvek definovať, upravovať alebo rušiť pokyny týkajúce sa uchovávania, vymazávania a sprostredkovania vašich osobných údajov po vašej smrti v súlade s článkom 40 ods. 1 zákona Informatique et Libertés (francúzsky zákon o ochrane údajov). Tieto pokyny môžu mať všeobecný alebo osobitný charakter. Môžeme byť len správcami špeciálnych inštrukcií týkajúcich sa údajov, ktoré spracúvame, pričom všeobecné pokyny sú prijímané a uchovávané digitálnou dôveryhodnou treťou stranou certifikovanou CNIL.<br />
                Máte tiež právo vymenovať tretiu stranu, ktorej budú poskytnuté vaše údaje po vašej smrti. V takom prípade súhlasíte s tým, že túto tretiu stranu informujete o svojich preferenciách a o skutočnosti, že údaje, ktoré umožňujú jej jednoznačnú identifikáciu, budú zaslané nám, a pošlete jej tieto pravidlá ochrany osobných údajov.
            </li>
        </ul>
    </p>
    <p>
        Na základe preukázania svojej totožnosti a vyššie uvedených informácií, môžete svoje práva uplatniť písomne na nasledujúcej e-mailovej adrese <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> alebo na nasledujúcej poštovej adrese: Kantar, Service GDPR, 2 Rue Francis Pédron, 78240 Chambourcy, France.
    </p>
    <p>
        Ak máte účet na jednej z našich webových stránok, aplikácií alebo platforiem, môžete tiež vykonať určité úpravy alebo vymazania priamo z tejto webovej stránky alebo tejto aplikácie alebo platformy.
    </p>
    <p>
        Môžete sa na nás obrátiť prostredníctvom vyššie uvedenej e-mailovej adresy alebo poštovej adresy pre otázky týkajúce sa pravidiel ochrany osobných údajov a spracovania vašich údajov.
    </p>
    <p>
        Nakoniec ste tiež oprávnený podať sťažnosť na Commission Nationale de l'Informatique et des Libertés (francúzsky orgán na ochranu údajov alebo CNIL).
    </p>
    <h3 class="text-color">6.	Ako dlho uchovávame vaše údaje?</h3>
    <p>
        Údaje sú uchovávané po dobu nevyhnutne potrebnú na účely uvedené vyššie v článku <span style="font-weight:bold">2</span>. Údaje sa potom archivujú na platnú dobu platnosti, ktorá sa líši podľa povahy údajov a ich konečného účelu.
    </p>
    <p>
        Vaše osobné údaje uchovávame tak dlho, ako je to potrebné na poskytovanie našich služieb a plnenie zmluvných záväzkov, ktoré nás zaväzujú k vašej organizácii, alebo na iné základné účely, ako sú dodržiavanie našich právnych záväzkov, uchovávanie obchodných a finančných archívov, riešenie sporov, zachovanie bezpečnosti, odhaľovanie a predchádzanie podvodom a zneužívaniu a plnenie zmluvy, ktorá nás zaväzuje k vašej organizácii.
    </p>
    <p>
        Ak máte prístup k našim službám prostredníctvom prihláseného odberu spravovaného vašou organizáciou, po ukončení prihlásenia Vašej organizácie si ponecháme vaše profesionálne kontaktné informácie, aby sme s vami mohli ďalej komunikovať tri roky po poslednom kontakte s nami.
    </p>
    <h3 class="text-color">7.	Prevody mimo Európskeho hospodárskeho priestoru</h3>
    <p>
        Vaše údaje môžu byť prenesené mimo Európskeho hospodárskeho priestoru.
    </p>
    <p>
        Za týchto okolností Kantar zabezpečí, aby sa tieto prevody uskutočňovali v krajinách, v ktorých Európska komisia uznala, že úroveň ochrany poskytovaná osobným údajom je dostatočná, alebo obsahujú zmluvné ustanovenia založené na vzoroch Európskej komisie s poskytovateľmi služieb alebo partnermi, ktorí uvedené prevody vykonávajú.
    </p>
</div>


