<div class="row" style="color:#282828">
    <header>
        <h2 class="text-color">KANTAR MEDIA – AD, CONSUMER & REPUTATION INTELLIGENCE</h2>
    </header>
    <header>
        <h2 class="text-color">Privacy policy: Clients and Users – Adscope and Adexpress</h2>
    </header>
    <h3 class="text-color">Version V.1.0</h3>
    <h3 class="text-color">KEY INFORMATION ABOUT THE PROCESSING OF YOUR PERSONAL DATA</h3>
    <p style="font-weight:bold">
        -	Kantar processes personal data concerning you (last names, first names, e-mail addresses, information about your computer, browsing or viewing data) in order to manage the customers and users of its platforms, applications and websites.
    </p>
    <p>
        -	<span style="font-weight:bold">We collect data in different ways.</span> This data may be supplied to us by you during our interactions or by another person within your organisation. It may also be gathered via IT resources such as cookies. We may also obtain data from companies such as C-Radar (France), LinkedIn, or the company Infolegale which chiefly provides us with financial data about businesses, and the names of managers, shareholders and shareholdings.
    </p>
    <p>
        -	<span style="font-weight:bold">We require this data to</span> supply our services to our clients and the users of our platforms, applications and websites, to manage and monitor our pre-contractual and contractual relationships with our clients, to ensure compliance with these contracts, to verify the amounts payable to us in application of these contracts, to organise loyalty programmes, to perform customer satisfaction surveys, to check the quality of the services supplied by ourselves and by our subcontractors, to generate performance and commercial statistics, to provide our clients and former clients with information and/or to propose new services, to manage any possible payment incidents and disputes, to manage your rights as described below, to carry out audience monitoring, to facilitate browsing and the security of our platforms, websites and applications.
    </p>
    <p>
        -	<span style="font-weight:bold">The legal basis of this processing</span>, depending on the end purpose concerned, is the legitimate interests of our clients who have subscribed to Kantar’s services, our legitimate interests (day-to-day management, consolidation of our existing clientele, commercial prospection and development of our professional clientele, improvements to our services and offers, account management, anticipating and managing disputes, and confirming, exercising or defending a right before the courts). Your consent may however be required for the installation or reading of cookies and other tracers on our platforms, websites and applications (please see our <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">cookie policy</a>).
    </p>
    <p>
        -	<span style="font-weight:bold">Some data may be collected on a mandatory basis.</span> The consequences of failing to collect such information will depend on the situations concerned. These chiefly include you being unable to access our websites, applications and platforms and to benefit from our services (in this case the requirement to supply the information is a contractual one) and us being unable to reply to your requests submitted on the basis of your rights (in this case the requirement to supply the information is a statutory one).
    </p>
    <p>
        -	<span style="font-weight:bold">The recipients to whom your data may be supplied by Kantar</span> are your organisation, our subcontractors or service providers (suppliers of accountancy management, customer management, prospection and archiving solutions, the company handling the maintenance of the customer management software, suppliers of legal information concerning businesses, companies handling the collection of certain invoices, service providers or tools used for e-mailing purposes, lawyers, chartered accountants and auditors), service providers or software incorporating Kantar’s services in their own services, in addition to the judicial and administrative authorities.
    </p>
    <p>
        -	<span style="font-weight:bold">You have rights.</span> These are the right to access, rectify and delete your data, the right to limit its processing, the right to data portability, a right of opposition including opposition to prospection, and the right to define, modify or cancel the instructions concerning the fate of your data after your death. On condition that you are able to provide proof of your identity and that the conditions for exercising these rights are met, you may exercise these rights by writing to us at the following e-mail address <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> or the following postal address: Kantar, Service GDPR, 2 Rue Francis Pédron, 78240 Chambourcy, France. You also have the right to submit a complaint to the CNIL (French data protection authority).
    </p>
    <p>
        -	<span style="font-weight:bold">The storage periods for your data</span> vary according to the nature of the data processed and the end purpose pursued, or the length of the legal expiry period (which is generally five years from the moment that the person wishing to exercise his/her rights was made aware or should have been made aware of the facts enabling him/her to exercise them).
    </p>
    <p>
        -	<span style="font-weight:bold">Your data may be transferred outside the European Economic Area.</span> Under these circumstances Kantar will ensure that these transfers are made to countries in which the level of protection afforded to personal data has been recognised as being sufficient by the European Commission or else include contractual clauses based on the European Commission’s templates with the service providers or partners performing the said transfers.
    </p>
    <p>
        -	<span style="font-weight:bold">We have appointed a data protection officer.</span> His/her contact details are: <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> or 6 More London Place - Tooley Street - SE1 2QY LONDON, United Kingdom.
    </p>
    <p class="text-color">
        For further information, we invite you to consult the complete confidentiality policy below
    </p>
    <br />
    <p>
        This confidentiality policy defines the conditions in which Kantar collects and processes the personal data concerning you when managing its clients and the users of its platforms, websites and applications.
    </p>
    <p>
        Kantar is a simplified joint stock company, with a registered capital of 1,617,492.00 euros, registered under the number 612 034 496 in the Trade & Company Register of Versailles, having its registered office at 2, rue Francis Pedron, Chambourcy (78240).
    </p>
    <p>
        Keen to respect your privacy and the information concerning you, we ensure compliance with the applicable legislation for the protection of personal data, including law number 78-17 of 6 January 1978 known as the “Informatique et Libertés” law (the <span style="font-weight: bold">French data protection act</span>) and European regulation 2016/679 of 27 April 2016 concerning the protection of natural persons regarding the processing of personal data and the free circulation of this data, known as the general data protection regulation or GDPR (the “<span style="font-weight: bold">GDPR</span>”).
    </p>
    <p>
        We have appointed a data protection officer. He/she may be contacted at the following e-mail address: <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> and at the following postal address: 6 More London Place - Tooley Street - SE1 2QY LONDON, United Kingdom.
    </p>
    <p>
        We may find it necessary to update this privacy policy. You will be informed of any update in advance, and if necessary we will seek your consent.
    </p>
    <h3 class="text-color">1.	WHAT SORT OF DATA DO WE PROCESS AND HOW IS IT COLLECTED?</h3>
    <p>
        The data we collect may chiefly be your last name, first names, business postal address, business e-mail address, in addition to data concerning your browsing and your consultation of our platforms, websites and applications.
    </p>
    <p>
        We may collect your data in different ways.
    </p>
    <p>
       Your data may be supplied to us by you during our interactions or by another person within your organisation.
    </p>
    <p>
        It may also be gathered via IT resources such as cookies. For further information about the use of these tools on our platforms, websites and applications, we invite you to consult the cookie policy, which you will find at the following address <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">cookie policy</a>.
    </p>
    <p>
        We may also obtain data from companies such as C-Radar (France), LinkedIn, or the company Infolegale which chiefly provides us with financial data about businesses, and the names of managers, shareholders and shareholdings.
    </p>
    <h3 class="text-color">2.	What are the end purposes and legal grounds for our data processing activities?</h3>
    <p>
        In application of article 6 of the GDPR, in order to be legal, the processing of any personal data must be based on one of the legal grounds mentioned in these articles.
    </p>
    <p>
        The table below shows the different end purposes which may be pursued when processing your data and the legal grounds providing the basis for each of these end purposes.
    </p>
    <table>
        <tr style="font-weight:bold; text-align:center">
            <td style="border:1px solid #282828; padding:4px">End purposes</td>
            <td style="border:1px solid #282828; padding:4px">Legal grounds</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Supplying our services</td>
            <td style="border:1px solid #282828; padding:4px">The legitimate interests of your organisation, which has subscribed to the service proposed by Kantar</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Managing and monitoring the pre-contractual and contractual relationships with our clients, ensuring compliance with these contracts, verifying the amounts payable to us in application of these contracts</td>
            <td style="border:1px solid #282828; padding:4px">Kantar’s legitimate interests (day-to-day management)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Organising loyalty programmes and satisfaction surveys</td>
            <td style="border:1px solid #282828; padding:4px">Kantar’s legitimate interests (consolidating its existing clientele)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Prospecting current and former clients</td>
            <td style="border:1px solid #282828; padding:4px">Kantar’s legitimate interests (customer development)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">
                Verifying the quality of the services supplied by ourselves and by our subcontractors<br />
                Producing commercial and performance statistics<br />
                Audience monitoring, facilitating browsing and ensuring the security of our platforms, websites and applications<br />
            </td>
            <td style="border:1px solid #282828; padding:4px">
                Kantar’s legitimate interests (improving our services and offers)<br />
                For the data collected via cookies and similar tools, your consent to the use of these cookies will sometimes be required (please see our <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">cookie policy</a>)
            </td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">
                For certain clients having opted for the tracking of connections to, and the use of our platforms for the client’s internal re-invoicing purposes: reporting on connections to and the use of the platform.
            </td>
            <td style="border:1px solid #282828; padding:4px">
                Your organisation’s legitimate interests<br />
                In this case, users wishing to use the platform will not be able to refuse or delete the cookies used for this reporting (please see our <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">cookie policy</a>)
            </td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Managing any possible payment incidents or disputes</td>
            <td style="border:1px solid #282828; padding:4px">Kantar’s legitimate interests (debt collection, anticipating and managing disputes, confirming, exercising or defending a right before the courts)</td>
        </tr>
        <tr>
            <td style="border:1px solid #282828; padding:4px">Managing your rights as stated in article <span style="font-weight:bold">5</span>.</td>
            <td style="border:1px solid #282828; padding:4px">Compliance with the legal obligations incumbent on Kantar</td>
        </tr>
    </table>
    <div class="row"></div>
    <h3 class="text-color">3.	Is the collection and processing of your data mandatory?</h3>
    <p>
        Accessing some of the services on our websites, applications and platforms requires the provision of the following data: last name, first name and business e-mail address.
    </p>
    <p>
        In order to ensure the security of these resources, to check compliance with the contracts concluded with our clients and to verify the sums payable to us, we must be able to monitor the access to, and use of our websites, applications and platforms. During this monitoring process, we may collect media consultation data.
    </p>
    <p>
        If this data is not supplied to us or cannot be collected, you cannot access these websites, applications and platforms and you will therefore be unable to benefit from our services. Here, these requirements to supply data are of a contractual nature.
    </p>
    <p>
        Our platforms may also track connections to, and the use of the different functions for those of our clients who subscribe to the service entitling them to the provision of tracking data concerning connections to, and the use of our services, for internal re-invoicing purposes in order for them to re-invoice their own clients.
    </p>
    <p>
        Performed via cookies, this data collection only applies for those of our clients subscribing to the connection and usage tracking service in order to comply with our contractual commitments and is strictly limited to tracking connections to, and the use of the various accounts opened for the client under the terms of its contract with Kantar. In this case, users from these clients wishing to use the Kantar platform may not refuse the installation of cookies corresponding to this connection and usage tracking service, as it is a contractual obligation.
    </p>
    <p>
        To help us improve and optimise our services and to understand how they are being used, we may also collect data concerning the use of the web platform and these features via the use of cookies. This data collection is optional and you may refuse the collection of such data. For further information about the data collected and to understand your privacy options, you may consult the cookie policy.
    </p>
    <p>
        The websites, applications and platforms concerned by the collection of the above-mentioned data are as follows:
        <ul>
            <li>Adrequest</li>
            <li>AdScope</li>
        </ul>
    </p>
    <p>
        In order to be able to exercise your rights as mentioned in article <span style="font-weight:bold">5</span>, you will need to supply us with proof of your identity. Failure to provide this proof may prevent us from complying with your request. Here, this requirement to supply data is of a statutory nature.
    </p>
    <p>
        The collection of other data may be mandatory. You will be informed of the data for which the collection is mandatory, the contractual or statutory nature of this obligation to supply data and the consequences of a failure to supply the data concerned.
    </p>
    <h3 class="text-color">4.	Who will we share your data with?</h3>
    <p>
        We may find it necessary to share the data:
        <ul>
            <li>with your organisation;</li>
            <li>with our subcontractors or service providers (suppliers of accountancy management, customer management, prospection and archiving solutions, the company handling the maintenance of the customer management software, companies handling the collection of certain invoices, service providers used for e-mailing purposes, lawyers, chartered accountants and auditors), service providers or software incorporating Kantar’s services in their own services. These subcontractors or service providers are bound by confidentiality and security obligations in addition to other obligations listed in the GDPR for subcontractors. We carefully select our subcontractors and in all circumstances we remain liable for the processing of your data by these subcontractors.</li>
        </ul>
    </p>
    <p>
        Subject to the above, we undertake never to divulge your data to third parties, except with your express consent, or in special circumstances, for example:
        <ul>
            <li>if we are required to divulge your data by law, as a result of legal proceedings, a dispute and/or a request by the public authorities;</li>
            <li>if we feel that the disclosure of your data is necessary or appropriate for national security reasons, in application of the law or for other reasons in the public interest.</li>
        </ul>
    </p>
    <h3 class="text-color">5.	What are your rights?</h3>
    <p>
        Unless exceptions apply, under the terms of articles 15 et seq. of the GDPR, you have:
        <ul>
            <li>the right to obtain confirmation from Kantar that the personal data concerning you is or is not processed and, when it is, the right to access both the said personal data and several items of information concerning the processing we perform (right of access – article 15 of the GDPR);</li>
            <li>the right to have Kantar rectify the personal data concerning you (right of rectification – article 16 of the GDPR);</li>
            <li>the right to have Kantar delete the personal data concerning you in certain cases (right of deletion or “right to be forgotten”– article 17 of the GDPR);</li>
            <li>the right to have Kantar limit its processing in certain cases (right to the limitation of processing – article 18 of the GDPR);</li>
            <li>for reasons related to your specific situation, the right to have Kantar cease the processing of the data concerning you at any time, in certain cases, (right of opposition – article 21.1. of the GDPR);</li>
            <li>for reasons related to your specific situation, the right to have Kantar cease the processing of the data concerning you at any time, in certain cases, (right of opposition – article 21.1. of the GDPR);</li>
            <li>
                the right to define, modify or cancel at any time the instructions concerning the storage, deletion and communication of your personal data after your death, in application of article 40-1 of the Informatique et Libertés law (French data protection act). These instructions may be general or special in nature. We may only be custodians of the special instructions concerning the data we process, with the general instructions being received and stored by a digital trusted third party certified by the CNIL.<br />
                You also have the right to nominate a third party to whom the data concerning you will be provided after your death. In this case you agree to inform this third party of your preferences and of the fact that data making it possible to clearly identify him/her will be forwarded to us, and to send him/her this privacy policy.
            </li>
        </ul>
    </p>
    <p>
        Subject to the provision of proof of your identity and of the above-mentioned information, you may exercise your rights by writing to us at the following e-mail address: <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> or the following postal address: Kantar, Service GDPR, 2 Rue Francis Pédron, 78240 Chambourcy, France.
    </p>
    <p>
        If you have an account on one of our websites, applications or platforms, you can also carry out certain modifications or deletions directly from this website or this application or platform.
    </p>
    <p>
        You can contact us at the above-mentioned e-mail address or postal address for questions concerning the privacy policy, and the processing of your data.
    </p>
    <p>
        Finally, you are also entitled to submit a complaint to the Commission Nationale de l’Informatique et des Libertés (the French data protection authority or CNIL).
    </p>
    <h3 class="text-color">6.	For how long do we store your data?</h3>
    <p>
        The data is stored for the time strictly necessary to the end purposes mentioned above in article <span style="font-weight:bold">2</span>. The data is then archived for the applicable expiry period which varies according to the nature of the data and its end purpose.
    </p>
    <p>
        We store your personal data for as long as necessary in order to provide our services and fulfil the contractual obligations binding us to your organisation, or for other essential purposes such as compliance with our legal obligations, maintaining business and financial archives, dispute resolution, the maintenance of security, the detection and prevention of fraud and abuse, and the performance of the contract binding us to your organisation.
    </p>
    <p>
        If you access our services via a subscription managed by your organisation, we will retain your professional contact information after the termination of the subscription by your organisation in order to continue communicating with you for three years after your last contact with us.
    </p>
    <h3 class="text-color">7.	Transfers outside the European Economic Area</h3>
    <p>
        Your data may be transferred outside the European Economic Area.
    </p>
    <p>
        Under these circumstances Kantar will ensure that these transfers are made to countries in which the level of protection afforded to personal data has been recognised as being sufficient by the European Commission or else include contractual clauses based on the European Commission’s templates with the service providers or partners performing the said transfers.
    </p>
</div>

