
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutPrivacy.cshtml";
}

<div>
    <div class="row" style="color:#282828">
        <header>
            <h2 class="text-color">KANTAR MEDIA – AD, CONSUMER & REPUTATION INTELLIGENCE</h2>
        </header>
        <header>
            <h2 class="text-color">Politique de confidentialité Clients et Utilisateurs</h2>
        </header>
        <h3 class="text-color">Version V.1.0</h3>
        <h3 class="text-color">L’ESSENTIEL A SAVOIR SUR LES TRAITEMENTS DE VOS DONNEES PERSONNELLES</h3>
        <p style="font-weight:bold">
            -	Kantar est amenée à traiter des données personnelles vous concernant (noms, prénoms, adresses email, postes, données de navigation ou de consultation) dans le cadre de la gestion de sa clientèle et des utilisateurs de ses plateformes, applications et sites Internet.
        </p>
        <p>
            -	<span style="font-weight:bold">Nous collectons vos données de différentes façons.</span> Elles peuvent nous être communiquées par vous-même lors de nos échanges ou par une autre personne au sein de votre structure. Elles peuvent également être recueillies par le biais d’outils informatiques tels que des cookies. Nous pouvons également collecter des données auprès de sociétés comme C-Radar (France), LinkedIn, ou encore la société Infolegale qui nous fournit des données financières d’entreprises principalement ainsi que le nom des dirigeants et les liens capitalistiques.
        </p>
        <p>
            -	<span style="font-weight:bold">Nous avons besoin de ces données pour</span> fournir nos services à nos clients et utilisateurs de nos plateformes, applications et sites Internet, gérer et suivre nos relations précontractuelles et contractuelles avec nos clients, contrôler le respect de ces contrats, vérifier les rémunérations qui nous sont dues en application de ces contrats, organiser des programmes de fidélisation, réaliser des enquêtes de satisfaction, contrôler la qualité des services fournis par nous-mêmes et par nos sous-traitants, réaliser des statistiques commerciales ou de performance, informer et/ou proposer de nouvelles offres ou services à nos clients et anciens clients, gérer les éventuels impayés et contentieux, gérer vos droits rappelés ci-dessous, suivre l’audience, faciliter la navigation et assurer la sécurité de nos plateformes, sites Internet et applications.
        </p>
        <p>
            -	<span style="font-weight:bold">Les fondements juridiques de ces traitements</span> sont, en fonction des finalités, les intérêts légitimes de nos clients qui ont souscrits aux services de Kantar, nos intérêts légitimes (gestion courante, renforcement de la clientèle existante, prospection commerciale et développement de la clientèle professionnelle, amélioration des services et des offres, gestion comptable, anticipation et gestion de contentieux, constatation, exercice ou défense d'un droit en justice). Votre consentement pourra toutefois également être nécessaire pour l’installation ou la lecture de cookies et autres traceurs sur nos plateformes, sites Internet et applications (voir notre <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">politique de cookies</a>).
        </p>
        <p>
            -	<span style="font-weight:bold">Certaines données doivent être obligatoirement collectées.</span> Les conséquences d’un défaut de collecte dépendent des situations. Il s’agira principalement de l’impossibilité pour vous d’accéder à nos sites, applications et plateformes et de bénéficier de nos services (l’exigence de fourniture est alors contractuelle) et de l’impossibilité pour nous de répondre à vos demandes formées sur le fondement de vos droits (l’exigence de fourniture est alors réglementaire).
        </p>
        <p>
            -	<span style="font-weight:bold">Les destinataires auxquels vos données peuvent être communiquées par Kantar</span> sont votre structure, nos sous-traitants ou prestataires (fournisseurs de solutions de gestion comptable, de gestion de la clientèle, de la prospection et de l’archivage, société en charge de la maintenance du logiciel de gestion de la clientèle, fournisseurs d’informations légales sur les sociétés, sociétés en charge de la gestion du recouvrement de certaines factures, prestataire ou outils d’emailing, avocats, experts comptables et commissaires aux comptes), les prestataires ou logiciels intégrant les services de Kantar dans leurs propres services, les autorités judiciaires et administratives.
        </p>
        <p>
            -	<span style="font-weight:bold">Vous avez des droits.</span> Il s’agit du droit d’accès, du droit de rectification, du droit d’effacement, du droit à la limitation des traitements, du droit à la portabilité des données, du droit d’opposition, y compris à la prospection et du droit de définir, modifier et révoquer des directives relatives au sort de vos données après votre mort. Sous réserve de justifier de votre identité et que les conditions d’exercice de ces droits sont remplies, vous pourrez exercer ces droits en nous écrivant à l’adresse électronique suivante : <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> ou à l’adresse postale suivante : Kantar, Service GDPR, 2 Rue Francis Pédron, 78240 Chambourcy, France. Vous disposez également du droit d’introduire une réclamation auprès de la CNIL.
        </p>
        <p>
            -	<span style="font-weight:bold">Les durées de conservation de vos données</span> varient selon la nature des données traitées et la finalité poursuivie ou encore selon la durée de la prescription légale (qui est généralement de cinq ans à compter du moment où la personne souhaitant exercer une action a eu ou aurait dû avoir connaissance des faits lui permettant de l’exercer).
        </p>
        <p>
            -	<span style="font-weight:bold">Vos données peuvent faire l’objet de transferts de données en dehors de l’Espace économique européen.</span> Dans ce cas, Kantar veille à ce que ces transferts soient effectués vers des pays où le niveau de protection des données personnelles a été reconnu comme adéquat par la Commission Européenne ou à conclure les clauses contractuelles types de la Commission européenne avec les prestataires ou partenaires effectuant lesdits transferts.
        </p>
        <p>
            -	<span style="font-weight:bold">Nous avons désigné un délégué à la protection des données.</span> Ses coordonnées sont : <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a>  ou 6 More London Place - Tooley Street - SE1 2QY LONDON, Royaume-Uni.
        </p>
        <p class="text-color">
            Pour en savoir plus, nous vous invitons à prendre connaissance de la politique de confidentialité complète ci-dessous
        </p>
        <br />
        <p>
            La présente politique de confidentialité définit les conditions dans lesquelles Kantar recueille et traite des données personnelles vous concernant dans le cadre de la gestion de sa clientèle et des utilisateurs de ses plateformes, sites Internet et applications.
        </p>
        <p>
            Kantar est une société par actions simplifiée, au capital de 1 617 492,00 euros, immatriculée sous le numéro 612 034 496 au registre du commerce et des sociétés de Versailles et dont le siège social est situé au 2, rue Francis Pedron à Chambourcy (78240).
        </p>
        <p>
            Soucieux du respect de votre vie privée et de la protection des informations vous concernant, nous respectons la législation en vigueur en matière de protection des données personnelles, et notamment la loi n°78-17 du 6 janvier 1978 dite loi « <span style="font-weight:bold">Informatique et Libertés</span> » (la « loi Informatique et Libertés ») et le règlement européen 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données dit règlement général sur la protection des données ou RGPD (le « <span style="font-weight:bold">RGPD</span> »).
        </p>
        <p>
            Nous avons désigné un <span style="font-weight:bold; text-decoration:underline">délégué à la protection des données</span>. Celui-ci peut être contacté à l’adresse email suivante : <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> et l’adresse postale suivante : 6 More London Place - Tooley Street - SE1 2QY LONDON, Royaume-Uni.
        </p>
        <p>
            Nous pouvons être conduits à mettre à jour la présente politique de confidentialité. Toute mise à jour sera portée préalablement à  votre connaissance, et, si cela est nécessaire, d’un recueil de votre consentement.
        </p>
        <h3 class="text-color">1.	QUELLES SONT LES DONNEES QUE NOUS TRAITONS ET COMMENT SONT-ELLES COLLECTEES ?</h3>
        <p>
            Les données que nous collectons peuvent être essentiellement votre nom, vos prénoms, votre adresse postale professionnelle, votre adresse email professionnelle, ainsi que des données de navigation et de consultation de nos plateformes, sites Internet et applications.
        </p>
        <p>
            Nous pouvons être amenés à collecter vos données de différentes façons.
        </p>
        <p>
            Vos données peuvent nous être communiquées par vous-même lors de nos échanges ou par une autre personne au sein de votre structure.
        </p>
        <p>
            Elles peuvent également être recueillies par le biais d’outils informatiques tels que des cookies. Pour plus d’informations sur l’utilisation de ces outils sur nos plateformes, sites Internet et applications, nous vous invitons à prendre connaissance de la politique de cookies accessible à l’adresse suivante: <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">politique de cookies</a>.
        </p>
        <p>
            Nous pouvons également collecter des données auprès de sociétés comme C-Radar (France), LinkedIn ou encore la société Infolegale qui nous fournit des données financières d’entreprises principalement ainsi que le nom des dirigeants et les liens capitalistiques.
        </p>
        <h3 class="text-color">2.	Quelles sont les finalités et quels sont les fondements juridiques de nos traitements de données ?</h3>
        <p>
            En application de l’article 6 du RGPD, tout traitement de données à caractère personnel, pour être licite, doit reposer sur l’un des fondements juridiques énoncés à ces articles.
        </p>
        <p>
            Le tableau ci-dessous expose les différentes finalités pouvant être poursuivies lors de nos traitements de vos données et les fondements juridiques sur lesquelles repose la poursuite de chacune de ces finalités.
        </p>
        <table>
            <tr style="font-weight:bold; text-align:center">
                <td style="border:1px solid #282828; padding:4px">Finalités poursuivies</td>
                <td style="border:1px solid #282828; padding:4px">Fondements juridiques</td>
            </tr>
            <tr>
                <td style="border:1px solid #282828; padding:4px">Fournir nos services</td>
                <td style="border:1px solid #282828; padding:4px">Intérêts légitimes de votre structure qui a souscrit au service proposé par Kantar</td>
            </tr>
            <tr>
                <td style="border:1px solid #282828; padding:4px">Gérer et suivre les relations précontractuelles et contractuelles avec nos clients, contrôler le respect de ces contrats, vérifier les rémunérations qui nous sont dues en application de ces contrats</td>
                <td style="border:1px solid #282828; padding:4px">Intérêts légitimes de Kantar</td>
            </tr>
            <tr>
                <td style="border:1px solid #282828; padding:4px">Organiser des programmes de fidélisation et des enquêtes de satisfaction</td>
                <td style="border:1px solid #282828; padding:4px">Intérêts légitimes de Kantar (renforcement de la clientèle existante)</td>
            </tr>
            <tr>
                <td style="border:1px solid #282828; padding:4px">Prospecter nos clients et anciens clients</td>
                <td style="border:1px solid #282828; padding:4px">Intérêts légitimes de Kantar (développement de la clientèle)</td>
            </tr>
            <tr>
                <td style="border:1px solid #282828; padding:4px">
                    Contrôler la qualité des services fournis par nous-mêmes et nos sous-traitants<br />
                    Réaliser des statistiques commerciales et de performance<br />
                    Suivre l’audience, faciliter la navigation et assurer la sécurité de nos plateformes, sites Internet et applications<br />
                </td>
                <td style="border:1px solid #282828; padding:4px">
                    Intérêts légitimes de Kantar (amélioration des services et des offres)<br />
                    Pour les données collectées via des cookies et autres outils similaires, votre consentement à l’utilisation de ces cookies sera parfois nécessaire (voir notre <a href="@Url.Action("Index", "CookiePolicy")" class="text-color">politique de cookies</a>)
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #282828; padding:4px">Gérer les éventuels impayés et contentieux</td>
                <td style="border:1px solid #282828; padding:4px">Intérêts légitimes de Kantar (recouvrement, anticipation et gestion de contentieux, constatation, exercice ou défense d'un droit en justice)</td>
            </tr>
            <tr>
                <td style="border:1px solid #282828; padding:4px">Gérer vos droits rappelés à l’article <span style="font-weight:bold">5</span>.</td>
                <td style="border:1px solid #282828; padding:4px">Respect des obligations légales auxquelles Kantar est soumise</td>
            </tr>
        </table>
        <div class="row"></div>
        <h3 class="text-color">3.	La collecte et le traitement de vos données sont-ils obligatoires ?</h3>
        <p>
            L’accès à certains de nos services sur nos sites Internet, applications et plateformes est subordonné à la communication des données suivantes : nom, prénom et adresse email professionnelle.
        </p>
        <p>
            Afin d’assurer la sécurité de ces outils, de contrôler le respect des contrats conclus avec nos clients et de vérifier les rémunérations qui nous sont dues, nous devons pouvoir surveiller les accès et les utilisations de nos sites Internet, applications et plateformes. Lors de cette surveillance, nous pouvons être amenés à recueillir les données de consultation médias.
        </p>
        <p>
            Les sites, applications et plateformes concernés sont les suivants :
            <ul>
                <li>Adrequest</li>
                <li>UBM360</li>
                <li>BIPP</li>
            </ul>
        </p>
        <p>
            Si ces données ne nous sont pas communiquées ou ne peuvent pas être collectées, vous ne pourrez pas accéder à ces sites, applications et plateformes et donc bénéficier de nos services. Ces exigences de fourniture de données ont ici un caractère contractuel.
        </p>
        <p>
            Pour pouvoir exercer vos droits rappelés à l’article <span style="font-weight:bold">5</span>, la communication d’un justificatif d’identité pourra être requise. La non-communication de ce justificatif peut nous empêcher de répondre à vos demandes. Cette exigence de fourniture de données revêt ici un caractère réglementaire.
        </p>
        <p>
            La collecte d’autres données peut être obligatoire. Toutes les données dont la collecte est obligatoire, la nature contractuelle ou règlementaire de cette obligation de fourniture, ainsi que les conséquences de l’absence de fourniture des données concernées sont alors portées à votre connaissance.
        </p>
        <h3 class="text-color">4.	A qui sommes-nous susceptibles de transmettre vos données ?</h3>
        <p>
            Nous pouvons être amenés à communiquer des données :
            <ul>
                <li>à votre structure ;</li>
                <li>à nos sous-traitants ou prestataires (fournisseurs de solutions de gestion comptable, de gestion de la clientèle, de la prospection et de l’archivage, société en charge de la maintenance du logiciel de gestion de la clientèle, sociétés en charge de la gestion du recouvrement de certaines factures, prestataire d’emailing, avocats, experts comptables et commissaires aux comptes), prestataires ou logiciels intégrant les services de Kantar dans leurs propres services. Ces sous-traitants et prestataires sont tenus d’une obligation de confidentialité et de sécurité, ainsi que d’autres obligations énumérées dans le RGPD pour les sous-traitants. Nous choisissons avec soin nos sous-traitants et demeurons en tout état de cause responsables du traitement de vos données par ses sous-traitants.</li>
            </ul>
        </p>
        <p>
            Sous réserve de ce qui précède, nous nous engageons à ne jamais divulguer vos données à des tiers, sauf avec votre autorisation expresse ou dans des circonstances très particulières, par exemple :
            <ul>
                <li>si nous sommes amenés, du fait de la loi, dans le cadre d’une procédure judiciaire, d’un litige et/ou d’une requête des autorités publiques, à divulguer vos données ;</li>
                <li>si nous pensons qu’à des fins de sécurité nationale, d’application de la loi ou autre motif d’intérêt général, la divulgation de vos données est nécessaire ou appropriée.</li>
            </ul>
        </p>
        <h3 class="text-color">5.	Quels sont vos droits ?</h3>
        <p>
            Vous disposez dans les conditions définies aux articles 15 et suivants du RGPD, sauf exceptions :
            <ul>
                <li>du droit d'obtenir de Kantar la confirmation que des données personnelles vous concernant sont ou ne sont pas traitées et, lorsqu'elles le sont, l'accès auxdites données à caractère personnel ainsi qu’à plusieurs informations sur nos traitements (droit d’accès – article 15 du RGPD) ;</li>
                <li>du droit d'obtenir de Kantar la rectification des données personnelles vous concernant qui sont inexactes (droit de rectification – article 16 du RGPD) ;</li>
                <li>du droit d'obtenir de Kantar l'effacement de données personnelles vous concernant dans certains cas (droit d’effacement ou « à l’oubli » – article 17 du RGPD) ;</li>
                <li>du droit d'obtenir de Kantar la limitation des traitements dans certains cas (droit à la limitation du traitement – article 18 du RGPD) ;</li>
                <li>du droit d’obtenir à tout moment de Kantar pour des raisons tenant à votre situation particulière, que nous ne procédons plus aux traitements des données personnelles vous concernant dans certains cas (droit  d’opposition – article 21.1. du RGPD) ;</li>
                <li>du droit de s'opposer à tout moment au traitement des données personnelles vous concernant à des fins de prospection (droit d’opposition à la prospection – article 21.2. du RGPD) ;</li>
                <li>
                    du droit de définir, modifier et révoquer à tout moment des directives relatives à la conservation, à l'effacement et à la communication de vos données personnelles après votre mort en application de l’article 40-1 de la loi Informatique et Libertés. Ces directives peuvent être générales ou particulières. Nous pouvons être uniquement dépositaires des directives particulières concernant les données que nous traitons, les directives générales peuvent être recueillies et conservées par un tiers de confiance numérique certifié par la CNIL.<br />
                    Vous avez aussi le droit de désigner un tiers auquel les données vous concernant pourront être communiquées après votre mort. Vous vous engagez alors à informer ce tiers de votre démarche et du fait que des données permettant de l’identifier sans ambiguïté nous seront transmises, à lui communiquer la présente politique de confidentialité.
                </li>
            </ul>
        </p>
        <p>
            Sous réserve de justifier de votre identité et des éléments susvisés, vous pouvez exercer vos droits en nous écrivant à l’adresse électronique suivante : <a href="mailto:Privacy-Global@kantarmedia.com" class="dinvainsregular14 text-color">Privacy-Global@kantarmedia.com</a> ou à l’adresse postale suivante : Kantar, Service GDPR, 2 Rue Francis Pédron, 78240 Chambourcy, France.
        </p>
        <p>
            Si vous disposez d’un compte sur l’un de nos sites, applications ou plateformes, vous pouvez également procéder à certaines rectifications ou suppressions directement à partir de ce site ou cette application ou plateforme.
        </p>
        <p>
            Vous pouvez nous contacter à l’adresse électronique ou à l’adresse postale précédemment mentionnées pour toute question relative à la politique de confidentialité et aux traitements de vos données.
        </p>
        <p>
            Enfin, vous disposez également du droit d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés (la CNIL).
        </p>
        <h3 class="text-color">6.	Combien de temps conservons-nous vos données ?</h3>
        <p>
            Les données sont conservées pendant le temps strictement nécessaire aux finalités décrites ci-dessus à l’article <span style="font-weight:bold">2</span>. Puis les données sont ensuite archivées pour la durée de la prescription applicable qui varie selon la nature des données et les finalités poursuivies.
        </p>
        <p>
            Nous conservons vos données personnelles aussi longtemps que nécessaire pour fournir nos services et exécuter les obligations contractuelles nous liant à votre structure, ou à d’autres fins essentielles telles que le respect de nos obligations légales, la tenue d’archives commerciales et financières, le règlement de différends, le maintien de la sécurité, la détection et la prévention de la fraude et d’abus, et l’exécution du contrat nous liant à votre structure.
        </p>
        <p>
            Si vous accédez à nos services par l’intermédiaire d’un abonnement administré par votre structure, nous retenons vos données de contact professionnelles après résiliation de l’abonnement de votre structure afin de continuer à communiquer avec vous pendant trois ans après votre dernier contact avec nous.
        </p>
        <h3 class="text-color">7.	Transferts en dehors de l’Espace économique européen</h3>
        <p>
            Vos données peuvent faire l’objet de transferts de données en dehors de l’Espace économique européen.
        </p>
        <p>
            Dans ce cas, Kantar veille à ce que ces transferts soit effectués vers des pays où le niveau de protection des données personnelles a été reconnu comme adéquat par la Commission Européenne ou à conclure les clauses contractuelles types de la Commission européenne avec les prestataires ou partenaires effectuant lesdits transferts.
        </p>
    </div>
</div>

<div class="reponsive-hide-xs row height20"></div>
<div class="reponsive-hide-xs row height20"></div>
