@using TNS.AdExpress.Constantes.Web

@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutPrivacy.cshtml";
}

<div>
    @if (ViewBag.SiteLanguageCode.ToString().Equals(CountryCode.FRANCE))
    {
        Html.RenderPartial("_PrivacyPolicyFr");
    }
    else if(ViewBag.SiteLanguageCode.ToString().Equals(CountryCode.UK))
    {
        Html.RenderPartial("_PrivacyPolicyEn");
    }
</div>

<div class="reponsive-hide-xs row height20"></div>
<div class="reponsive-hide-xs row height20"></div>
