@using TNS.AdExpress.Domain.Translation;
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
    <h3 class="tools text-left pull-left" title="@GestionWeb.GetWebWord(1989, ViewBag.SiteLanguage)">
        <a id="load-detail-selection" href="#detail-selection" data-toggle="modal"><i class="icon-eyeglass blue"></i> </a>
    </h3>
    <div id="detail-selection" class="modal fade modal-express">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header panel-heading header-kantar-popup">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="font-normal m-t-none m-b-md text-primary-lt">@GestionWeb.GetWebWord(1989, ViewBag.SiteLanguage)</h4>
                </div>
                <div class="modal-body">
                    <div id="DetailSelectionLoader">
                        <center><i style="color:black;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
                    </div>
                    <div class="datas"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pull-right custom-button selectexporttype">
    <select id="export-type" class="selectdatepicker exportTypes hide">
        <option value="1">@GestionWeb.GetWebWord(1996, ViewBag.SiteLanguage)</option>
    </select>&nbsp;
    <button class="btn btn-save" id="btn-export-creativems"><i class="fa fa-file-excel-o fa-file-excel-size"></i></button>
</div>


