<div class="pull-right custom-button selectexporttype">
    <select id="export-type" class="selectdatepicker exportTypes hide">
        <option value="1">Résultat Formaté (Excel)</option>
    </select>&nbsp;
    <button class="btn btn-save" id="btn-export"><i class="fa fa-file-excel-o fa-file-excel-size"></i></button>
</div>


