.violetBorderColorLoading{
	border-color : #646262;
	border-top :#646262 2px solid; 
	border-left :#646262 2px solid; 
	border-right :#646262 2px solid; 
	border-bottom :#646262 2px solid;
}
.greyBackGroundLoading{
	background-color : #E1E0DA;
}
.violetBorderLoading{
	border-color : #646262;
	border-top :#646262 1px solid; 
	border-left :#646262 1px solid; 
	border-right :#646262 1px solid; 
	border-bottom :#646262 1px solid;
}
.txtVioletLoading{
	color : #646262;
}