/* Modules styles */
.module{
}

.moduleGroup{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	/*color: #644883;*/
	color: #646262;
	font-weight: bold;
}

.moduleSubGroup{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*color: #644883;*/
	color: #646262;
	font-weight: bold;
}

td.actualities{
	background-image:url(/App_Themes/CzKMAE-Cz/Images/Common/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	/*color: #644883;*/
	color: #646262;
	font-weight: bold
}


td.moduleGroup{
	background-image:url(/App_Themes/CzKMAE-Cz/Images/Common/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

td.moduleGroupWithBackgroung{
	background-image:url(/App_Themes/CzKMAE-Cz/Images/Common/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	/*background-color:#E8E4ED;*/
	background-color:#DFDFDF;
}

td.moduleGroupInformation{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*color: #644883;*/
	color: #646262;
	font-weight: normal;
	/*background-color:#E8E4ED;*/
	background-color:#DFDFDF;
	padding:3px;
}

/* Module presentation */
a.module, a.module:active, a.module:visited{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
 /*color : #ff0099;*/
 color : #FF7100;
 text-decoration : none;
}
a.module:hover {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
 /*color : #ff0099;*/
 color : #FF7100;
 font-weight: normal;
 text-decoration : underline;
}

/* dotted line */
.dot {
  text-decoration: none;
  border-bottom: 1px gray dotted;
}

/* css for tooltips */
.moduleTableInfoBulle { 
	background-image:url(/App_Themes/CzKMAE-Cz/Images/Common/Infobulle/InfoBulleBackground.gif);
	background-repeat:repeat-x;
	background-position: top left;
	/*background-color: #E8E4ED;*/
	background-color:#E8E8E8;
	padding-left : 5px;
	padding-right : 5px;
	padding-bottom : 2px;
	padding-top : 0px;
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #555555; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.title{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.custom-tip {
	color: #000;
	width: 250px;
	z-index: 13000;
}
.custom-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #644883;
	padding: 0px;
	background: #B1A3C1;
	border-bottom: 1px solid #FFFFFF;
}
.custom-text {
	font-size: 11px;
	color: #644883;
	padding: 0px;
	background: #E8E4ED;
}

a.Tips1:link, a.Tips1:visited, a.Tips1:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; 
	/*COLOR: #ff0099;*/
	COLOR: #FF7100;
	FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

a.Tips1:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; 
	/*COLOR: #ff0099;*/
	COLOR: #FF7100;
	FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}