<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Parametres connection PITAGOR-->
    <add key="DbUserName" value="PITAFR01_PROC_8" />
    <add key="DbPassword" value="yopos47" />
    <add key="DbDataSource"  value="(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = SUMATRA)(PORT = 1521)))(CONNECT_DATA =(SID = PITAFR01)))"/>
    <!--Parametres connection ORQUA-->
    <!--<add key="DbUserNameOrqua" value="gesco" />
    <add key="DbPasswordOrqua" value="gesco6" />
    <add key="DbDataSourceOrqua"  value="(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = frmitch-or005)(PORT = 1521)))(CONNECT_DATA =(SID = NPS)))"/>-->
    
    <add key="ProviderDataAccess" value="Oracle.DataAccess.Client" />
    <add key="SmtpServer" value="frmitch-msprod" />
    <add key="SmtpPort" value="25" />
    <add key="Sender" value="alertpreroll@kantarmedia.com" />
    <add key="Recipients" value="dede.mussuma@kantarmedia.com" />
    <add key="ServiceName" value="AdExpress Audio Converter"/>
    <add key="ServiceDescription" value="Convert creative file from WMA to MP3"/>

    <add key="RadioDirectoryPath" value="\\frmitch-fsrad01.tnsad.com\Clips$\"/>
    <add key="TvNatDirectoryPath" value="\\frmitch-fstv03.TNSAD.COM\Clips_NAT\TV\"/>
    <add key="TvPanDirectoryPath" value="\\TV-PAN-STOCKAGE.TNSAD.COM\PAN\Clips_PAN\TV\"/>
    <add key="TvThematiqueDirectoryPath" value="\\frmitch-fstv03.TNSAD.COM\Clips_NAT\TV\"/>
    <add key="TvParrainageDirectoryPath" value="\\frmitch-fstv03.TNSAD.COM\clips_par$\TV\"/>

    <add key="RadioDestinationPath" value="\\frmitch-fs03.tnsad.com\quali_multimedia\Radio\"/>
    <add key="TvDestinationPath" value="\\frmitch-fs03.TNSAD.COM\quali_multimedia\VideoFrance\Video\"/>
    <!--<add key="RadioDestinationPath" value="F:\Dev\Tests\Marketing Direct\Creative\Radio\"/>
    <add key="TvDestinationPath" value="F:\Dev\Tests\Marketing Direct\Creative\Video\"/>-->
   

    <add key="argumentsRadio" value=" -vn -ar 44100 -ac 2 -ab 192 -f mp3 "/>
    <add key="argumentsTV" value=" -acodec libfaac -aq 200 -vcodec libx264 -s {0} -aspect 16:9 "/>

    <add key="VideoBrQuality" value="416x234"/>
    <add key="VideoMrQuality" value="640x360"/>
    <add key="VideoHrQuality" value="1024x576"/>

    <add key="SponsorshipTvCategories" value=" 68,44"/>
    <!--Parametres Impersonation-->
    <add key="UseImpersonate" value="True"/>
    <add key="User" value="svc.frmit.InvestPubW"/>
    <add key="Password" value="InvpubWeb0504"/>
    <add key="Domain" value="tnsad"/>

    <add key="ServiceName" value="AdExpress Audio Converter"/>
    <add key="ServiceDescription" value="Convert creative file from WMA to MP3"/>
    
    <!--<add key="ServiceName" value="AdExpress Video Converter"/>
    <add key="ServiceDescription" value="Convert creative file from WMV to MP4"/>-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="Oracle" providerName="Oracle.DataAccess.Client" connectionString="User Id={0}; Password={1}; Data Source={2}; Pooling=True;Connection Timeout=120;Max Pool Size=150;Decr Pool Size=20;" />
  </connectionStrings>
  <!--A RAJOUTER POUR ORACLE 10 Si l'application retourne l'erreur suivante :
  Le fournisseur de données .Net Framework demandé est introuvable. Il n'est peut-être pas installé.
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!--<system.data>
    <DbProviderFactories>
      <add name="Oracle Data Provider for .NET Version 10.2.0.2.0"
           invariant="Oracle.DataAccess.Client"
           description="Oracle Data Provider for .NET Version 10.2.0.2.0"
           type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess,
           Version=2.102.2.20, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>-->
  <!--A RAJOUTER POUR ORACLE 11 Si l'application retourne l'erreur suivante :
  Le fournisseur de données .Net Framework demandé est introuvable. Il n'est peut-être pas installé.
  -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>