<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="618614c6-5736-4bd6-a4dc-498cba8b7aa0" Name="Kantar AdExpress - Requester AdExpress" Language="1033" Version="1.0.0.0" Manufacturer="Kantar_AdExpress_Requester_AdExpress" UpgradeCode="1971ec74-bb5e-45ff-91c0-10aa834f86ac">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfPMFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="RequeterFiles.wxs"/>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="Requester AdExpress">
					<Component Id="ProductComponent" Guid="262875c5-2597-4411-b0d8-c0a3a84ed7b3">
            <File Id="RequesterPrgFile" Name="$(var.TNS.Ares.RequesterSrv.TargetFileName)" Source="$(var.TNS.Ares.RequesterSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Requester AdExpress" Name="$(var.TNS.Ares.RequesterSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.RequesterSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
				</Directory>
			</Directory>
		</Directory>

    <Feature Id="ProductFeature" Title="Requeter AdExpress" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="RequesterPRG1"/>
    </Feature>
	</Product>
</Wix>
