<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="f38b1d4f-43bd-412f-a391-a2d8a6f24273" Name="Kantar AdExpress: PdfPMSrv Myisis" Language="1033" Version="1.0.0.0" Manufacturer="Kantar_AdExpress_PdfPMSrv" UpgradeCode="6c9606bf-e1bd-42f0-869c-5cdfe83f6b93">
    <Package InstallerVersion="200" Compressed="yes" />
    
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfPMFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="PdfPMFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Pdf PM Srv Myisis">
          <Component Id="ProductComponent" Guid="40226a04-17c0-45fc-8fb9-0f989760956b">
            <File Id="MyisisPrgFile" Name="$(var.TNS.Ares.AdExpress.PdfPMSrv.TargetFileName)" Source="$(var.TNS.Ares.AdExpress.PdfPMSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Pdf PM Srv Myisis" Name="$(var.TNS.Ares.AdExpress.PdfPMSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.AdExpress.PdfPMSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Pdf PM Srv Myisis" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="MyisisPRG1"/>
    </Feature>
  </Product>
</Wix>
