
.gradientBar {
	background-image: -moz-linear-gradient(left center, #F70000, #FF8F00);
	background-image: -webkit-gradient(linear, left top, right top, from(#F70000), to(#FF8F00));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F70000,endColorstr=#FF8F00, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F70000,endColorstr=#FF8F00, GradientType=1)";
}


/**************************************************************
   Page Header
 **************************************************************/
#header {
	height: 79px;
	margin: 0;
    background : url(/App_Themes/P3Fr/images/background_header.gif) repeat-x bottom left;
    background-color:Black;
}
#header div
{
	background-color: transparent;
	vertical-align:bottom; 
	height: 100%;
}

#header div.globalHeader
{
	background-color: transparent; 
	width: 200px; 
	float: left; 
	
}

#header div.globalLogo
{	
	width: 180px; 
	float: right; 
	background-color:black;
}

/**************************************************************
   Page Core
 **************************************************************/
#core 
{
	vertical-align:top;
	margin: 0;
	height:100%;
}




#menu {
	height: 10px;
	margin: 0;
}






.layoutGlobal
{
	height:100%;
}

