.bodyStyle {
	background-image: none; 
	margin: 0px; 
	background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
	z-index:1;
}
.header {
	background-image:url(/App_Themes/PromoPSAFr/Images/header_background.gif);
	background-repeat:repeat-x;
	height:64px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:11px;
	color:#525252;
}
.promotionsInformationDiv{
	width:100%; 
	background-color:#CBCBCB; 
	vertical-align:top;
	border-bottom:solid 1px #eee;
	height:19px;
	text-align:left;
}

/* Text */
.txtGreyBold12 {
	font-family:Arial;
	font-weight:bold;
    font-size:12px;
    color:#666;
}
/* Global */
.textBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	border: 1px solid #CBCBCB;
	width: 150px;
	height:18px;
}
.validateButton {
	border: 1px solid #CBCBCB;
	background-color:#eee;
}
.duplicateButton {
	border: 1px solid #CBCBCB;
	background-color:#FFDDDD;
}
/* Identification */
#global {
	position: absolute;
	width: 300px;
	margin-left: -150px;
	left: 50%;
	height: 88px;
	margin-top: -44px;
	top: 50%;
}
.toCodifyStyle {
    background-color : #e8e8e8;
    background-image: url();
}
.codifiedStyle {
    background-color : #94d472;
    background-image: url();
}
.rejectedStyle {
    background-color : #fed2d2;
    background-image: url();
}
.pendingStyle {
    background-color : #f0c95b;
    background-image: url();
}
.validateMonth{
    color:#222222;
    text-decoration: none;
    font-weight:900;
    border:1px solid #64a72c;
    background-color: #94D472;
    margin:2px;
    width:50px;
    padding:3px 25px 3px 25px;
    font:100% 'trebuchet ms',helvetica,sans-serif;
    box-shadow: 5px 5px 5px #94D472;
}
.validateMonth:hover {
    color:#222222;
    text-decoration: none;
    font-weight:900;
    border:1px solid #64a72c;
    background-color: #B4E09C;
    margin:2px;
    width:50px;
    padding:3px 25px 3px 25px;
    font:100% 'trebuchet ms',helvetica,sans-serif;
}

.startCodification{
    color:#222222;
    text-decoration: none;
    font-weight:900;
    border:1px solid #222222;
    background-color: #CBCBCB;
    margin:2px;
    width:50px;
    padding:3px 25px 3px 25px;
    font:100% 'trebuchet ms',helvetica,sans-serif;
    box-shadow: 5px 5px 5px #CBCBCB;
}
.startCodification:hover {
    color:#222222;
    text-decoration: none;
    font-weight:900;
    border:1px solid #222222;
    background-color: #E8E8E8;
    margin:2px;
    width:50px;
    padding:3px 25px 3px 25px;
    font:100% 'trebuchet ms',helvetica,sans-serif;
}

.buttonSpace {
    padding-left: 340px;
}