<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Parametres connection Promo AdExpress-->
    <add key="DbUserName" value="PROMO03"/>
    <add key="DbPassword" value="waltari2"/>
    <!--<add key="DbDataSource" value="(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.17.236.126)(PORT = 1521)))(CONNECT_DATA =(SID = ADEXPR03)))"/>-->
    <add key="DbDataSource" value="(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = ELBE)(PORT = 1521)))(CONNECT_DATA =(SID = ADEXPR03)))"/>
    <add key="ProviderDataAccess" value="Oracle.DataAccess.Client"/>    
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Oracle" providerName="Oracle.DataAccess.Client"
         connectionString="User Id={0}; Password={1}; Data Source={2}; Pooling=True;Connection Timeout=120;Max Pool Size=150;Decr Pool Size=20;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>