<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="fafce020-7b22-423b-bb77-cac590cb879a" Name="Kantar AdExpress - PdfVpSchedule Thoueris" Language="1033" Version="1.0.0.0" Manufacturer="Kantar_AdExpress_PdfVpSchedule" UpgradeCode="3289e424-4a34-4217-aca0-8c77b2b156f2">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfVpSchedule.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="PdfVpSchedule.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Pdf Vp Schedule Srv Thoueris">
          <Component Id="ProductComponent" Guid="44ee72d4-c23e-4cab-92aa-183fefaf37cf">
            <File Id="ThouerisPrgFile" Name="$(var.TNS.Ares.AdExpress.PdfVpScheduleSrv.TargetFileName)" Source="$(var.TNS.Ares.AdExpress.PdfVpScheduleSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Pdf Vp Schedule Srv Thoueris" Name="$(var.TNS.Ares.AdExpress.PdfVpScheduleSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.AdExpress.PdfVpScheduleSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Pdf Vp Schedule Srv Thoueris" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="ThouerisPRG1"/>
    </Feature>

  </Product>
</Wix>

