<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KMI.PromoPSA.Rules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="KMI.PromoPSA.Rules.Default.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <KMI.PromoPSA.Rules.Properties.Settings>
      <setting name="KMI_PromoPSA_Rules_Rights_Rights" serializeAs="String">
        <value>http://frmitch-ws001:2019/Rights.asmx</value>
      </setting>
      <setting name="KMI_PromoPSA_Rules_Dispacher_Dispacher" serializeAs="String">
        <value>http://localhost:56081/Dispacher.asmx</value>
      </setting>
    </KMI.PromoPSA.Rules.Properties.Settings>
    <KMI.PromoPSA.Rules.Default.Properties.Settings>
      <setting name="KMI_PromoPSA_Rules_Default_Rights_Rights" serializeAs="String">
        <value>http://frmitch-ws001:2019/Rights.asmx</value>
      </setting>
    </KMI.PromoPSA.Rules.Default.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
