<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="073f0619-5259-4d4c-834e-c5de8eee3e9c" Name="Kantar AdExpress - Requester KantarMusic" Language="1033" Version="1.0.0.0" Manufacturer="Kantar_Requester_KantarMusic" UpgradeCode="4d32ac80-d9a9-4db5-8a76-799f1769882b">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfPMFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="RequeterFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Requester KantarMusic">
          <Component Id="ProductComponent" Guid="262875c5-2597-4411-b0d8-c0a3a84ed7b3">
            <File Id="RequesterPrgFile" Name="$(var.TNS.Ares.RequesterEasyMusicSrv.TargetFileName)" Source="$(var.TNS.Ares.RequesterEasyMusicSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Requester KantarMusic" Name="$(var.TNS.Ares.RequesterEasyMusicSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.RequesterEasyMusicSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

		<Feature Id="ProductFeature" Title="Requeter KantarMusic" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="RequesterPRG1"/>
		</Feature>
	</Product>
</Wix>
