@model Km.AdExpressClientWeb.Models.SocialMedia.PostFacebook
@*<div class="modal-content">*@
<div class="row">
    <div class="modal-header header-kantar-popup">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
        <h4 class="modal-title" id="postFacebookModalTitle">Post Facebook</h4>
    </div>
    <div class="modal-body">
        <iframe id="objectPost" src="" scrolling="no" style="width:700px;height:700px; border:none;"></iframe>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        @Html.Hidden(Model.NumberComments)
        <div id="chart-div-comment" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        </div>

        @Html.Hidden(Model.NumberLikes)
        <div id="chart-div-like" class="ccol-lg-4 col-md-4 col-sm-4 col-xs-1">
        </div>

        @Html.Hidden(Model.NumberShares)
        <div id="chart-div-share" class="col-lg-4 col-md-4 col-sm-4 col-xs-1">
        </div>
        @Html.Hidden("id", Model.IdPost)
    </div>
</div>
@*</div*@>

<script>
    var id =$('#id').val();
$("#objectPost").attr('src', "http://kmchmd1002:82/Facebook/GetPost?id=" + id );
$("#objectPost").show();

</script>
