@model Km.AdExpressClientWeb.Models.SocialMedia.PostFacebook
<div class="row">
    <div class="modal-header header-kantar-popup">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
        <h4 class="modal-title" id="postFacebookModalTitle">Post Facebook</h4>
    </div>
    
    <div class="modal-body col-lg-12 col-md-12 col-sm-12">

        <div id="mediaLoader">
            <center><i style="color:black;" class="fa fa-spinner fa-pulse fa-fw"></i></center>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <iframe id="objectPost" src="" scrolling="no" style="width:100%;height:700px; border:none;"></iframe>
        </div>
        @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">*@
        <div id="chartsPostFacebook" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            @Html.Hidden(Model.NumberComments)
            <div id="chart-div-comment"class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-responsive center" >
            </div>

            @*@Html.Hidden(Model.NumberLikes)
            <div id="chart-div-like" class="ccol-lg-4 col-md-4 col-sm-4 col-xs-1 img-responsive center">
            </div>

            @Html.Hidden(Model.NumberShares)
            <div id="chart-div-share" class="col-lg-4 col-md-4 col-sm-4 col-xs-1 img-responsive center">
            </div>
            @Html.Hidden("id", Model.IdPost)*@

        </div>
    </div>
    @Html.Hidden("id", Model.IdPost)
</div>

<script>
    var id = $('#id').val();
    $("#objectPost").attr('src', "http://kmchmd1002:82/Facebook/GetPost?id=" + id);
    $("#mediaLoader").hide();
    $("#objectPost").show();
    $("#chartsPostFacebook").show();
</script>
