@model  List<Km.AdExpressClientWeb.Models.MediaSchedule.MediaPlanNavigationNode>

    <div class="col-xs-1 padder-v margin-b text-left">&nbsp;</div>
    <div class="col-xs-10 padder-v margin-b text-left">
        <center>
            <ul class="timeline">
                @foreach (var navigation in Model)
                {
                    if (navigation.IsActive)
                    {
                        if (navigation.Id > 1)
                        {
                            <li class="tl-item">
                                <div class="tl-wrap tl-active">
                                    <div class="tl-content">
                                    </div>
                                </div>
                            </li>
                        }
                        <li class="tl-header">
                            <a id=@(navigation.Description) class="btn btn-warning btn-circle" href="@Url.Action(navigation.Action, navigation.Controller, navigation.Id)">
                                <i class="fa fa-file-text"></i>
                            </a>
                            <p class="lead">@navigation.Title</p>
                        </li>
                    }
                    else
                    {
                        if (navigation.Id > 1)
                        {
                            <li class="tl-item">
                                <div class="tl-wrap">
                                    <div class="tl-content">
                                    </div>
                                </div>
                            </li>
                        }
                        <li class="tl-header">
                            <a id=@(navigation.Description) class="btn btn-warning btn-circle btn-empty" href="@Url.Action(navigation.Action, navigation.Controller, navigation.Id)">
                                <i class="fa fa-file-text"></i>
                            </a>
                            <p class="lead">@navigation.Title</p>
                        </li>
                    }
                }
            </ul>
        </center>
    </div>