
@{
    ViewBag.Title = "Presentation";
}

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
    <h1 class=""><i class="icon-chart blue"></i> Plan Média</h1>
    <small class="">Connaitre l'activité publicitaire d'un annonceur ou d'un secteur</small>
</div>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
    <h3 class=""><i class="icon-star blue"></i></h3>
</div>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
    <h3 class=""><i class="icon-eyeglass  blue"></i></h3>
</div>

