@model Km.AdExpressClientWeb.Models.MediaSchedule.ResultsViewModel
@{
    ViewBag.Title = "Results";
}

<div class="row">
    @Html.Partial("Presentation",Model.Presentation)
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
        <div class="row row-sm">
            @Html.Partial("NavigationBar", Model.NavigationBar)
        </div>
     </div>
</div>
<div class="row">
    <center>
        <div id="grid" class="hide">
        </div>
        <div id="gridLoader">
            <img src="~/IgniteUI/css/structure/images/igLoadingSmall.gif" />
        </div>
    </center>
    <div>&nbsp;</div>
</div>
@section Scripts {
<script src="~/IgniteUI/js/i18n/infragistics-fr.js"></script>
<script src="~/IgniteUI/js/infragistics.core.js"></script>
<script src="~/IgniteUI/js/infragistics.lob.js"></script>
    <script>
        //{columnKey: 'Address', allowHiding: false, hidden: true}

        if (typeof jQuery === "undefined") { throw new Error("jQuery") }
        $(function () {
            var cols = [];
            var data = [];
            //Mock Data
            data[1] = [
                //Level 1
                { "ClassifId": 0, "PID": -1, "Level": "PRESSE", "Period": "2653400", "Pdm": "-", "j": "1", "F": "2", "M": "0" },
                { "ClassifId": 1, "PID": -1, "Level": "TELEVISION", "Period": "455", "Pdm": "-", "j": "1", "F": "1", "M": "1" },

                //Level 2
                { "ClassifId": 4, "PID": 0, "Level": "MAGAZINES", "Period": "4444", "Pdm": "0", "j": "0", "F": "1", "M": "0" },
                { "ClassifId": 5, "PID": 1, "Level": "TV NATIONALE", "Period": "524545", "Pdm": "0", "j": "1", "F": "1", "M": "1" },

                //Level 3
                { "ClassifId": 8, "PID": 4, "Level": " AUTO JOURNAL", "Period": "45442", "Pdm": "4", "j": "1", "F": "2", "M": "0" },
                { "ClassifId": 9, "PID": 4, "Level": "EXPRESS", "Period": "455765", "Pdm": "4", "j": "1", "F": "2", "M": "0" },

               { "ClassifId": 10, "PID": 5, "Level": "TF1", "Period": "585454", "Pdm": "4", "j": "1", "F": "2", "M": "1" },
               { "ClassifId": 11, "PID": 5, "Level": "FRANCE 2", "Period": "4572", "Pdm": "4", "j": "1", "F": "2", "M": "0" },

                //Level 4
                { "ClassifId": 12, "PID": 8, "Level": "444444", "Period": "43434", "Pdm": "2", "j": "1", "F": "2", "M": "0" },
                { "ClassifId": 13, "PID": 8, "Level": "555555", "Period": "424", "Pdm": "2", "j": "1", "F": "1", "M": "0" },
                { "ClassifId": 14, "PID": 9, "Level": "666666", "Period": "45454", "Pdm": "2", "j": "1", "F": "2", "M": "0" },

                { "ClassifId": 15, "PID": 10, "Level": "777777", "Period": "4554", "Pdm": "3", "j": "1", "F": "2", "M": "0" },
                { "ClassifId": 16, "PID": 11, "Level": "888888", "Period": "5454", "Pdm": "3", "j": "1", "F": "2", "M": "0" }

            ];


            data[0] =
            [
                    { headerText: "Id", key: "ClassifId", width: "200px", dataType: "number", allowHiding: false, hidden: true, template: "" },
                    { headerText: "SUPPORTS", key: "Level", width: "220px", dataType: "string", template: "" },
                    { headerText: "01/01/2016 - 31/01/2016", key: "Period", width: "220px", dataType: "number", template: "" },
                    { headerText: "PDM", key: "Pdm", width: "130px", dataType: "number", template: "" },
                    { headerText: "Version", key: "Version", width: "130px", dataType: "string", template: "<center><a href='#'><span class='glyphicon glyphicon-search'></span></a></center>" },
                    { headerText: "Insertion", key: "Insertion", width: "130px", dataType: "string", template: "<center><a href='#'><span class='glyphicon glyphicon-search'></span></a></center>" },

                    {
                        headerText: "Janvier 2016",
                        group: [
                             {
                                 headerText: "01",
                                 group: [
                                     { headerText: "L", key: "j", width: "20px", dataType: "string", template: "<span {{if ${j} != '0' }} class='orangeTg' {{else}}  class='blackTg'{{/if}} ></span>" },
                                    { headerText: "M", key: "j", width: "20px", dataType: "string", template: "<span {{if ${j} != '0' }}  class='orangeTg' {{else}}  class='blackTg'{{/if}} ></span>" },
                                    { headerText: "M", key: "j", width: "20px", dataType: "string", template: "<span {{if ${j} != '0' }}  class='orangeTg' {{else}}  class='blackTg'{{/if}} ></span>" },
                                    { headerText: "J", key: "j", width: "20px", dataType: "string", template: "<span {{if ${j} != '0' }}  class='orangeTg' {{else}}  class='blackTg'{{/if}} ></span>" },
                                    { headerText: "V", key: "j", width: "20px", dataType: "string", template: "<span {{if ${j} != '0' }}  class='orangeTg' {{else}}  class='blackTg'{{/if}} ></span>" },
                                    { headerText: "S", key: "j", width: "20px", dataType: "string", template: "<span {{if ${j} != '0' }}  class='orangeTg' {{else}}  class='blackTg'{{/if}} ></span>" },
                                    { headerText: "D", key: "j", width: "20px", dataType: "string", template: "<span {{if ${j} != '0' }}  class='orangeTg' {{else}}  class='blackTg'{{/if}} ></span>" }
                                 ]
                             }
                             //,
                             // {
                             //     headerText: "02",
                             //     group: [
                             //         { headerText: "M", key: "F", width: "130px", dataType: "string", template: "<span {{if ${F} != '0' }} class='orange' {{else}} class='black'{{/if}} ></span>" }
                             //     ]
                             // },
                             //  {
                             //      headerText: "03",
                             //      group: [
                             //          { headerText: "Me", key: "M", width: "130px", dataType: "string", template: "<span {{if ${M} != '0' }} class='orange' {{else}} class='black'{{/if}} ></span>" }
                             //      ]
                             //  }
                        ],
                        dataRendered: function (evt, ui) {
                            ui.owner.element.find("tr td:nth-child(4)").css("text-align", "center");
                            ui.owner.element.find("tr td:nth-child(5)").css("text-align", "center");
                        }
                    }

            ];


            $("#grid").igTreeGrid({
                dataSource: data,
                primaryKey: "ClassifId",
                width: "100%",
                defaultColumnWidth: 200,
                avgRowHeight: 60,
                autoGenerateColumns: true
            });



            //$("#changeColSett").click(function () {

                var ds;
                var cols;
                var colsFixed;
                var needFixedColumns = false;

                var renderGrid = function (success, error) {
                    if (success) {
                        
                        $("#grid").igTreeGrid("destroy");

                        if (needFixedColumns) {
                            $("#grid").igTreeGrid({
                                dataSource: ds.dataView(),
                                columns: cols,
                                autoGenerateColumns: false,
                                primaryKey: "ID_PRODUCT",
                                foreignKey: "PID",
                                width: "1000px",
                                features: [
                                   {
                                       name: "MultiColumnHeaders"
                                   },
                                   {
                                       name: "Paging",
                                       mode: "allLevels",
                                       pageSize: 25
                                   },
                                   {
                                       name: "ColumnFixing",
                                       fixingDirection: "left",
                                       columnSettings: colsFixed
                                   }
                                ]
                            })
                        }
                        else {
                            $("#grid").igTreeGrid({
                                dataSource: ds.dataView(),
                                columns: cols,
                                autoGenerateColumns: false,
                                primaryKey: "ID_PRODUCT",
                                foreignKey: "PID",
                                features: [
                                   {
                                       name: "MultiColumnHeaders"
                                   },
                                   {
                                       name: "Paging",
                                       mode: "allLevels",
                                       pageSize: 25
                                   }
                                ]
                            })
                        }
                    } else {
                        alert(error);
                    }
                    $("#gridLoader").addClass("hide");
                    $("#grid").removeClass("hide");
                }

                $.ajax({
                    url: '@Url.Action("MediaScheduleResult", "MediaSchedule")',
                    contentType: "application/x-www-form-urlencoded",
                    type: "POST",
                    datatype: "json",
                    error: function (xmlHttpRequest, errorText, thrownError) {
                    },
                    success: function (data) {
                        if (data != null) {
                            dataTreeGrid = data.datagrid;
                            cols = data.columns;
                            colsFixed = data.columnsfixed;
                            needFixedColumns = data.needfixedcolumns;

                            var schema = new $.ig.DataSchema("array", {
                                fields: data.schema
                            });

                            //cols = cols.replace(/\"([^(\")"]+)\":/g, "$1:");
                            //This code creates an $.ig.DataSource from the HTML Table DOM data
                            ds = new $.ig.DataSource({
                                type: "json",
                                schema: schema,
                                dataSource: dataTreeGrid,
                                callback: renderGrid
                            });

                            // Binds to the underlying data
                            ds.dataBind();
                        }
                    }
                });

                //for (var key1 in data[0]) {

                //    if (data[0][key1].group != null) {
                //        cols.push({
                //            headerText: data[0][key1].headerText,
                //            group: data[0][key1].group

                //        })
                //    } else {
                //        cols.push({
                //            headerText: data[0][key1].headerText,
                //            key: data[0][key1].key,
                //            width: data[0][key1].width,
                //            dataType: data[0][key1].dataType,
                //            allowHiding: data[0][key1].allowHiding,
                //            hidden: data[0][key1].hidden,
                //            template: data[0][key1].template,

                //        })
                //    }

                //}

                //$("#grid").igTreeGrid("destroy");
                //$("#grid").igTreeGrid({
                //    dataSource: data[1],
                //    primaryKey: "ClassifId",
                //    foreignKey: "PID",
                //    autoGenerateColumns: false,
                //    columns: cols,
                //    features: [
                //       {
                //           name: "MultiColumnHeaders"
                //       },
                //       {
                //           name: "Paging",
                //           mode: "allLevels",
                //           pageSize: 10
                //       }
                //    ]
                //})

              
            });

        //});
    </script>
}