<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="922bf52e-b518-495b-8679-db46b2eb63e4" Name="Kantar AdExpress - PdfCadrageSrv Aton" Language="1033" Version="1.0.0.0" Manufacturer="TNS.Ares.AdExpress.PdfCadrageSrvInstaller" UpgradeCode="d479fb86-2f61-49e1-a51e-190192aba812">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- UI Initialisation-->
    <Property Id="SRVWIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="SrvWixUI_InstallDir" />
    <!-- Add PdfCadrageFiles.wxs directories -->
    <DirectoryRef Id="INSTALLDIR" FileSource="PdfCadrageFiles.wxs"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Pdf PM Srv Aton">
          <Component Id="ProductComponent" Guid="40226a04-17c0-45fc-8fb9-0f989760956b">
            <File Id="AtonPrgFile" Name="$(var.TNS.Ares.AdExpress.PdfCadrageSrv.TargetFileName)" Source="$(var.TNS.Ares.AdExpress.PdfCadrageSrv.TargetPath)" DiskId="1" KeyPath="yes" />
            <!-- Service Installation -->
            <ServiceInstall Id="MyServiceInstall" DisplayName="Ares Pdf PM Srv Aton" Name="$(var.TNS.Ares.AdExpress.PdfCadrageSrv.TargetFileName)" ErrorControl="normal" Start="demand" Type="ownProcess" Vital="yes" />
            <ServiceControl Id="MyServiceControl" Name="$(var.TNS.Ares.AdExpress.PdfCadrageSrv.TargetFileName)" Start="install" Stop="uninstall" Remove="uninstall" />
            <!-- FIN Service Installation -->
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Pdf PM Srv Aton" Level="1">
      <ComponentRef Id="ProductComponent" />
      <!-- link to AlertQuotaFiles.wxs component-->
      <ComponentGroupRef Id="AtonPRG1"/>
    </Feature>
  </Product>
</Wix>
