<div class="row" style="color:#282828">
    <h2 class="text-color">Politique de cookies et technologies similaires sur Adscope et Adexpress</h2>
    <p>
        Des cookies et des technologies similaires sont utilisés sur les sites et applications Adscope et Adexpress.
    </p>
    <p>
        Découvrez ci dessous plus en détail comment Kantar Media utilise ces technologies.
    </p>
    <h3 class="text-color">Que sont les cookies ?</h3>
    <p>
        Les cookies sont de petits fichiers placés sur votre ordinateur, smartphone ou tablette par les éditeurs de sites lorsque vous naviguez sur le Web. Comme de nombreux sites Web, nos services ont recours aux cookies.
    </p>
    <p>
        Par ailleurs, lors de l’utilisation de nos services, nous collectons directement dans nos bases de données des données de connexion et de navigation sur nos services.
    </p>
    <p>
        Le terme de cookies doit, aux termes de la présente politique de cookies, être entendu au sens large comme couvrant l'ensemble des dispositifs qui permettent de déposer ou de lire des informations sur votre ordinateur, smartphone ou tablette.
    </p>
    <h3 class="text-color">Pourquoi ces technologies sont elles utilisées par nos services ?</h3>
    <p>
        Nous utilisons les cookies et d'autres technologies similaires afin de collecter des informations sans lesquels nos services (sites web, API, notification par email) ne pourraient pas fonctionner normalement ou ne pourrait pas être fournis.
    </p>
    <p>
        Dans certains cas, nous pouvons être amenés à utiliser les informations obtenues afin d’améliorer la qualité de nos services ou faire des analyses d’audience, d’utilisation ou de navigation sur nos services.
    </p>
    <p>
        Les finalités de ces cookies et collectes d’informations sont l’authentification des utilisateurs à nos plateformes et la sécurité de nos plateformes et le contrôle d’utilisations sur nos plateformes
    </p>
    <p>
        Enfin nous stockons, pour nos utilisateurs, les préférences configurées.
    </p>
    
    <p>
        Ces utilisations relèvent de l'une des catégories suivantes.
        <ul>
            <li>Authentification et sécurité :</li>
            <li style="list-style: none">
                <ul>
                    <li>Pour assurer la sécurité de nos plateformes.</li>
                    <li>Pour vous permettre de voir du contenu dont la diffusion est limitée.</li>
                    <li>Pour nous aider à détecter les comportements inappropriés et toute autre activité enfreignant les règles de nos outils et services.</li>
                    <li>Par exemple, ces technologies nous aident à authentifier votre accès à nos outils et services, et à empêcher tout utilisateur non autorisé d'accéder à votre compte.</li>
                </ul>
            </li>
            <li>Statistiques et performances :</li>
            <li style="list-style: none">
                <ul>
                    <li>Pour nous aider à améliorer nos services et à comprendre la manière dont ils sont utilisés, notamment les :</li>
                    <li>
                        <ul>
                            <li>Connexions</li>
                            <li>Recherches</li>
                            <li>Consultations</li>
                            <li>Export</li>
                            <li>Impressions</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Afin de fournir le service demandé par l’utilisateur :</li>
            <li style="list-style: none">
                <ul>
                    <li>Dans le cas où votre structure a souscrit à notre service de statistiques d’utilisation de la plateforme, nous sommes amenés à collecter les informations suivantes :</li>
                    <li>
                        <ul>
                            <li>Connexions</li>
                            <li>Recherches</li>
                            <li>Consultations</li>
                            <li>Export</li>
                            <li>Impressions</li>
                        </ul>
                        Ces données sont ensuite utilisées par votre structure à des fins de refacturation interne.
                    </li>
                </ul>
            </li>
        </ul>
    </p>
    <h3 class="text-color">Où ces technologies sont elles utilisées ?</h3>
    <p>
        Nous utilisons ces technologies sur nos sites Web, applications et services dont voici la liste :
        <ul>
            <li>Adscope</li>
            <li>Adexpress</li>
        </ul>
    </p>
    <h3 class="text-color">Quelles sont mes options en matière de confidentialité ?</h3>
    <p>
        En poursuivant votre navigation sur nos sites et applications sur une autre page que cette page, vous consentez à l’utilisation de ces cookies.
    </p>
    <p>
        Vous pouvez toutefois, si vous le souhaitez, refuser le recours à des cookies ou, après avoir donné votre consentement, retirer partiellement ou totalement ce consentement par le biais des moyens mentionnés ci-dessus.
    </p>
    <p>
        Si vous acceptez le dépôt et la lecture de cookies sur votre terminal, les cookies intégrés dans les pages et contenus que vous avez consultés pourront être stockés temporairement dans un espace dédié de votre terminal. Ils y seront lisibles uniquement par leur émetteur.
    </p>
    <p>
        Si vous refusez ce dépôt ou cette lecture ou si vous supprimez les cookies qui ont été déposés sur votre terminal, le fonctionnement normal de nos sites est susceptible d’être entravé. Tel pourrait être le cas si vous tentez d'accéder à votre compte, ce qui nécessite de vous identifier et de vous permettre de rester connecté en naviguant de page en page. Tel pourrait également être le cas lorsque nous ne pourrons pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par votre terminal, ses paramètres de langue et d'affichage ou le pays depuis lequel votre terminal semble connecté à Internet. Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos sites résultant de l'impossibilité pour nous d'enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.
    </p>
    <p>
        Cela étant précisé, vous pouvez à tout moment exprimer et modifier vos souhaits en matière de cookies, par les moyens décrits ci-dessous.
    </p>
    <p>
        1. Les choix offerts par votre navigateur
    </p>
    <p>
        La configuration de votre navigateur peut vous permettre de s’opposer à l’utilisation de certains cookies ou technologies similaires.
    </p>
    <p>
        Vous pouvez configurer votre navigateur de manière à ce que des cookies soient enregistrés dans votre terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur.
    </p>
    <p>
        Vous pouvez également configurer votre navigateur de manière à ce que l'acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu'un cookie soit susceptible d'être enregistré dans votre terminal.
    </p>
    <p>
        Cette manipulation peut être effectuée à tout moment.
    </p>
    <p>
        La configuration de chaque navigateur est différente. Nous vous invitons à consulter le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies. Pour les plus connus, voir par exemple :
        <ul>
            <li>Pour Internet Explorer™ : <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" class="text-color">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
            <li>Pour Safari™ : <a href="https://support.apple.com/fr-fr/HT201265" target="_blank" class="text-color">https://support.apple.com/fr-fr/HT201265</a></li>
            <li>Pour Chrome™ : <a href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en" target="_blank" class="text-color">https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en</a></li>
            <li>Pour Firefox™ : <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies" target="_blank" class="text-color">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies</a></li>
            <li>Pour Opera™ : <a href="http://help.opera.com/Windows/10.20/fr/cookies.html" target="_blank" class="text-color">http://help.opera.com/Windows/10.20/fr/cookies.html</a></li>
        </ul>
    </p>
    <p>
        2. Autres possibilités de paramétrage des cookies utilisés par Kantar Media
    </p>
    <p>
        Vous êtes en mesure de désactiver la collecte d’informations par et pour Kantar Media à des fins statistiques et de performance. Pour voir ou modifier les paramètres de votre compte, veuillez vérifier que vous êtes connecté et vous rendre ici pour personnaliser vos paramètres.
    </p>
    <p>
        <span style="font-weight:bold">Important :</span> si votre structure a opté pour le service de suivi de la navigation et de l’utilisation de nos services par ses utilisateurs, il ne vous sera pas possible d’utiliser nos services sans les cookies de suivi de votre navigation et de vos utilisations de nos services. Si vous avez refusé que ces données soient utilisées par Kantar Media à des fins statistiques ou de performance, Kantar ne les utilisera pas à ces fins, mais elles seront collectées par Kantar Media pour être transmises à votre structure en application du contrat conclu entre votre structure et Kantar Media.
    </p>
    <p>
        Attention, la prise en compte de vos différents souhaits repose sur un cookie ou plusieurs cookies déterminés. Si vous supprimez tous les cookies enregistrés au sein de votre terminal concernant notre site, nous ne saurons plus quel consentement ou quel refus vous avez émis. Cela reviendra donc à réinitialiser votre consentement et vous devrez donc à nouveau refuser le ou les cookies que vous ne souhaitez pas conserver. De même, si vous utilisez un autre navigateur Internet, vous devrez à nouveau refuser ces cookies car vos choix, comme les cookies auxquels ils se rapportent, dépendent du navigateur et du terminal (ordinateur, tablette, smartphone, etc.) que vous utilisez pour consulter notre site.
    </p>
    <p>
        Pour en savoir plus sur les cookies et autres traceurs sur Internet, les moyens de vous opposer à leur utilisation et plus généralement vos droits, nous vous invitons à consulter le site de la Commission Nationale de l’Informatique et des Libertés (CNIL), et notamment son dossier intitulé « Maîtriser mes données » accessible à l’adresse : <a href="https://www.cnil.fr/fr/maitriser-mes-donnees" target="_blank" class="text-color">https://www.cnil.fr/fr/maitriser-mes-donnees</a> ou encore la rubrique consacrée aux cookies : <a href="https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi" target="_blank" class="text-color">https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi</a> ; <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank" class="text-color">www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/</a>). La CNIL a aussi réalisé une vidéo pour tout savoir sur les cookies. La vidéo est accessible ici : <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank" class="text-color">www.cnil.fr/vos-droits/vos-traces/les-cookies/#c5554</a>.
    </p>
</div>
