<div class="row" style="color:#282828">
    <h2 class="text-color">Pravidlá týkajúce sa súborov cookie a podobných technológií na Adscope a Adexpress</h2>
    <p>
        Súbory cookie a podobné technológie sa používajú na webových stránkach a aplikáciách Adscope a Adexpress.
    </p>
    <p>
        Ďalšie informácie o tom, ako spoločnosť Kantar Media tieto technológie využíva nájdete nižšie.
    </p>
    <h3 class="text-color">Čo sú súbory cookie?</h3>
    <p>
        Cookies sú malé súbory umiestnené vo vašom počítači, smartfóne alebo tablete vydavateľmi webových stránok, keď surfujete na webe. Naše služby, podobne ako mnohé iné webové stránky, používajú súbory cookie.
    </p>
    <p>
        Pri využívaní našich služieb navyše zhromažďujeme spoločné a vyhľadávané údaje o našich službách priamo v našich databázach.
    </p>
    <p>
        Na účely týchto pravidiel sa pojem „cookies“ musí chápať v širšom zmysle, pričom zahŕňa všetky riešenia, ktoré umožňujú umiestniť alebo čítať informácie vo vašom počítači, smartfóne alebo tablete.
    </p>
    <h3 class="text-color">Prečo túto technológiu využívame pri našich službách?</h3>
    <p>
        Súbory cookie a iné podobné technológie používame na zhromažďovanie informácií, bez ktorých by naše služby (webové stránky, API, e-mailové upozornenia) nefungovali normálne alebo ich nebolo možné vôbec poskytovať
    </p>
    <p>
        V niektorých prípadoch môžeme použiť získané informácie s cieľom zlepšiť kvalitu našich služieb alebo vykonať audity návštevnosti, používania alebo prehliadania našich služieb.
    </p>
    <p>
        Nakoniec ukladáme aj nastavenia, ktoré používatelia nakonfigurovali.
    </p>
    <p>
        Všetky tieto použitia patria do jednej z nasledujúcich kategórií.
        <ul>
            <li>Overenie a zabezpečenie:</li>
            <li style="list-style: none">
                <ul>
                    <li>Kvôli bezpečnosti našich platforiem.</li>
                    <li>Aby ste mohli vidieť obsah s obmedzeným obehom.</li>
                    <li>S cieľom pomôcť nám identifikovať nevhodné správanie a iné činnosti, ktoré porušujú pravidlá platné pre naše riešenia a služby.</li>
                    <li>Tieto technológie nám napríklad pomáhajú overiť váš prístup k našim riešeniam a službám a zabrániť neoprávnenému používateľovi v prístupe k vášmu účtu.</li>
                </ul>
            </li>
            <li>Štatistika a výkonnosť:</li>
            <li style="list-style: none">
                <ul>
                    <li>S cieľom pomôcť zlepšiť naše služby a pochopiť, ako sa používajú, vrátane:</li>
                    <li>
                        <ul>
                            <li>Pripojení</li>
                            <li>Vyhľadávaní</li>
                            <li>Pozretí</li>
                            <li>Exportovania</li>
                            <li>Tlače</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Na poskytovanie služby, ktorú používateľ požaduje:</li>
            <li style="list-style: none">
                <ul>
                    <li>Ak sa vaša organizácia prihlási na odber služby štatistických údajov o používaní platformy, môžeme zhromažďovať informácie nasledujúceho typu:</li>
                    <li>
                        <ul>
                            <li>Spojenia</li>
                            <li>Vyhľadávaní</li>
                            <li>Pozretí</li>
                            <li>Exportovania</li>
                            <li>Tlače</li>
                        </ul>
                        Tieto údaje potom vaša organizácia používa na interné účely opätovnej fakturácie.
                    </li>
                </ul>
            </li>
        </ul>
    </p>
    <h3 class="text-color">Kde sa táto technológia používa?</h3>
    <p>
        Túto technológiu používame na našich webových stránkach, aplikáciách a službách, ktorých zoznam je nasledovný:
        <ul>
            <li>Adscope</li>
            <li>Adexpress</li>
        </ul>
    </p>
    <h3 class="text-color">Aké sú moje možnosti, pokiaľ ide o súkromie?</h3>
    <p>
        Pokračovaním v prehliadaní našich webových stránok a aplikácií na inej stránke, než je táto stránka, súhlasíte s používaním týchto súborov cookie.
    </p>
    <p>
        Ak však budete chcieť, môžete odmietnuť používanie súborov cookie, alebo po udelení súhlasu úplne alebo čiastočne stiahnuť tento súhlas, ako je uvedené vyššie.
    </p>
    <p>
        Ak súhlasíte s umiestnením a čítaním súborov cookie na vašom termináli, súbory cookie zabudované na webových stránkach a zobrazený obsah sa môžu dočasne uložiť vo vyhradenom priestore vášho terminálu. Môžu ich čítať iba ich vydavateľ.
    </p>
    <p>
        Ak odmietnete nahrávanie alebo čítanie súborov cookie alebo odstránite súbory cookie umiestnené vo vašom termináli, naše webové stránky nemusia správne fungovať. Môže to byť v prípade, ak sa pokúsite o prístup k svojmu účtu, čo vyžaduje prihlásenie a umožňuje vám zostať pripojení počas surfovania zo stránky na stránku. Môže to byť aj v prípade, keď za účelom technického účtovníctva nedokážeme rozpoznať typ prehliadača, ktorý používa váš terminál, jeho nastavenia jazyka a displeja, alebo krajinu, z ktorej je váš terminál pripojený na internet. V prípade potreby odmietame akúkoľvek zodpovednosť za následky vyplývajúce zo zhoršeného fungovania našich webových stránok v dôsledku toho, že nie sme schopní zaznamenávať alebo konzultovať súbory cookie potrebné na ich fungovanie alebo ak ste tieto súbory cookie odmietli alebo odstránili.
    </p>
    <p>
        To znamená, že predvoľby súborov cookie môžete kedykoľvek vyjadriť a upraviť podľa nasledujúcich krokov.
    </p>
    <p>
        1. Možnosti, ktoré ponúka váš prehliadač
    </p>
    <p>
        Nastavenia vášho prehliadača vám umožňujú brániť sa proti používaniu určitých súborov cookie alebo podobných technológií.
    </p>
    <p>
        Váš prehliadač môžete nakonfigurovať tak, aby umožňoval ukladanie súborov cookie do vášho terminálu, alebo naopak ich odmietnutie, či už systematicky alebo v závislosti od vydavateľa.
    </p>
    <p>
        Môžete tiež nakonfigurovať svoj prehliadač tak, aby sa vás opýtal, či majú byť súbory cookie prijaté alebo odmietnuté skôr, ako sa súbor cookie uloží do vášho terminálu.
    </p>
    <p>
        Tieto nastavenia je možné kedykoľvek nakonfigurovať.
    </p>
    <p>
        Každý prehliadač je nakonfigurovaný inak. Pozývame vás, aby ste sa oboznámili s ponukou Pomocníka prehliadača, v ktorej sa dozviete, ako zmeniť nastavenia súborov cookie. Pre najobľúbenejšie prehliadače nájdete napríklad:
        <ul>
            <li>Pre Internet Explorer™ : <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" class="text-color">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
            <li>Pre Safari™ : <a href="https://support.apple.com/fr-fr/HT201265" target="_blank" class="text-color">https://support.apple.com/fr-fr/HT201265</a></li>
            <li>Pre Chrome™ : <a href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en" target="_blank" class="text-color">https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en</a></li>
            <li style="text-align: left;">Pre Firefox™ : <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies" target="_blank" class="text-color">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies</a></li>
            <li>Pre Opera™ : <a href="http://help.opera.com/Windows/10.20/fr/cookies.html" target="_blank" class="text-color">http://help.opera.com/Windows/10.20/fr/cookies.html</a></li>
        </ul>
    </p>
    <p>
        2. Ďalšie možnosti konfigurácie súborov cookie, ktoré používa Kantar Media
    </p>
    <p>
        Na štatistické a výkonnostné účely máte možnosť deaktivovať zhromažďovanie informácií spoločnosťou Kantar Media a pre spoločnosť Kantar Media. Ak chcete zobraziť alebo upraviť nastavenia účtu, skontrolujte, či ste pripojení a upravte nastavenia <a href="@Url.Action("Index", "CookieSettings")" class="text-color">tu</a>.
</p>
    <p>
        <span style="font-weight:bold">Dôležité:</span> ak sa vaša organizácia rozhodla pre možnosť prehliadania a sledovania používania, pokiaľ ide o používanie našich služieb jej používateľmi, nebudete môcť používať naše služby bez súborov cookie, ktoré sú potrebné na sledovanie prehľadávania a využívania našich služieb. Ak ste odmietli používanie týchto údajov spoločnosťou Kantar Media na štatistické alebo výkonnostné účely, spoločnosť Kantar ich nebude používať na tieto účely, ale Kantar Media ich bude zhromažďovať na účely postúpenia vašej organizácii v rámci uplatňovania zmluvy uzatvorenej medzi vašou organizáciou a spoločnosťou. Kantar Media.
    </p>
    <p>
        Upozornenie: realizácia vašich preferencií zahŕňa použitie jedného alebo viacerých špecifických súborov cookie. Ak vymažete všetky súbory cookie, ktoré boli zaznamenané vo vašom termináli, týkajúce sa našej webovej stránky, už nebudeme vedieť, ktoré povolenia ste udelili alebo odmietli. Preto budete musieť obnoviť autorizácie, čo bude znamenať opätovné odmietnutie súborov cookie, ktoré nechcete uložiť. Podobne, ak používate iný webový prehliadač, musíte znova odmietnuť tieto súbory cookie, pretože vaše voľby a súbory cookie, na ktoré sa vzťahujú, závisia od prehliadača a terminálu (počítača, tabletu, smartfónu atď.), ktorý používate na prezeranie našej webovej stránky.
    </p>
    <p>
        Ak sa chcete dozvedieť viac o súboroch cookie a iných indikátoroch na internete, o spôsoboch, ako sa brániť ich používaniu a všeobecnejšie o vašich právach, pozývame vás na webovú stránku Commission Nationale de l´Information et des Libertés (CNIL - francúzsky orgán na ochranu údajov), a najmä jeho článok "Kontrola mojich údajov", ktorý nájdete na nasledujúcej adrese: https://www.cnil.fr/fr/maitriser-mes-donnees alebo sekciu ohľadom súborov cookie: https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi; www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/). CNIL (francúzsky orgán na ochranu údajov) tiež vytvoril video, v ktorom sa dozviete všetko o súboroch cookie. Video nájdete tu: www.cnil.fr/vos-droits/vos-traces/les-cookies/#c5554.
    </p>
</div>
