<div class="row" style="color:#282828">
    <h2 class="text-color">Adscope ja Adexpress - palvelujen evästeitä ja vastaavia tekniikoita koskeva käytäntö</h2>
    <p>
        Adscope ja Adexpress -sivustoissa ja -sovelluksissa käytetään evästeitä ja vastaavia tekniikoita.
    </p>
    <p>
        Jäljempänä on lisätietoja siitä, miten Kantar Media käyttää näitä tekniikoita.
    </p>
    <h3 class="text-color">Mitä evästeet ovat?</h3>
    <p>
        Evästeet ovat pieniä tiedostoja, joita sivustojen julkaisijat tallentavat tietokoneeseesi, älypuhelimeesi tai tablettiisi. Kuten monissa muissakin sivustoissa, palveluissamme käytetään evästeitä.
    </p>
    <p>
        Lisäksi keräämme suoraan palvelujamme koskevia yhteys- ja selaustietoja tietokantoihimme palvelujemme käytön yhteydessä.
    </p>
    <p>
        Tässä käytännössä eväste-termiä käytetään laajassa merkityksessä, ja sillä viitataan kaikkiin ratkaisuihin, joilla voidaan tallentaa tai lukea tietokoneessa, älypuhelimessa tai tabletissa olevia tietoja.
    </p>
    <h3 class="text-color">Miksi käytämme tätä tekniikkaa palveluissamme?</h3>
    <p>
        Keräämme evästeiden ja muiden vastaavien tekniikoiden avulla tietoja, joita ilman palvelumme (sivustot, ohjelmointirajapinnat (APIt), sähköposti-ilmoitukset) eivät toimisi odotetusti tai niitä ei voitaisi tarjota lainkaan.
    </p>
    <p>
        Joissakin tapauksissa voimme käyttää saatuja tietoja palvelumme laadun parantamiseksi tai käyttäjien, palveluiden käyttöä tai selaamista koskevien analyysien suorittamiseksi.
    </p>
    <p>
        Tallennamme myös asetukset, jotka käyttäjät ovat määrittäneet.
    </p>
    <p>
        Kaikki nämä käyttötarkoitukset kuuluvat johonkin seuraavista luokista:
        <ul>
            <li>Käytön varmentaminen ja tietoturva:</li>
            <li style="list-style: none">
                <ul>
                    <li>Järjestelmien tietoturvan varmistaminen.</li>
                    <li>Sisällön näyttäminen rajatulle jakelulle.</li>
                    <li>Sopimattoman käytöksen ja muiden ratkaisuihimme ja palveluihimme sovellettavien sääntöjen vastaisen toiminnan tunnistaminen.</li>
                    <li>Näiden tekniikoiden avulla voimme esimerkiksi todentaa pääsysi ratkaisuihimme ja palveluihimme sekä estää luvattomien käyttäjien pääsy tilillesi.</li>
                </ul>
            </li>
            <li>Tilastointi ja suorituskyky:</li>
            <li style="list-style: none">
                <ul>
                    <li>Auttaa meitä parantamaan palveluitamme ja ymmärtämään miten niitä käytetään, kuten:</li>
                    <li>
                        <ul>
                            <li>Yhteydet</li>
                            <li>Haut</li>
                            <li>Selaukset</li>
                            <li>Exportoinnit</li>
                            <li>Tulostus</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Tuottamaan käyttäjän tarvitseman palvelun:</li>
            <li style="list-style: none">
                <ul>
                    <li>Jos asiakas tilaa alustan käytön tilastopalvelua, voimme kerätä sitä varten seuraavan tyyppistä tietoa:</li>
                    <li>
                        <ul>
                            <li>Yhteydet</li>
                            <li>Haut</li>
                            <li>Selaukset</li>
                            <li>Exportoinnit</li>
                            <li>Tulostus</li>
                        </ul>
                        Asiakas voi käyttää näitä tietoja omaan laskutukseen.
                    </li>
                </ul>
            </li>
        </ul>
    </p>
    <h3 class="text-color">Missä tätä tekniikkaa käytetään?</h3>
    <p>
        Käytämme tätä tekniikkaa seuraavissa sivustoissamme, sovelluksissamme ja palveluissamme:
        <ul>
            <li>Adscope</li>
            <li>Adexpress</li>
        </ul>
    </p>
    <h3 class="text-color">Mitä yksityisyyteen liittyviä valintoja on käytettävissä?</h3>
    <p>
        Jatkamalla verkkosivustomme ja sovellusten selaamista muualla kuin tällä sivulla hyväksyt näiden evästeiden käytön.
    </p>
    <p>
        Halutessasi voit kuitenkin estää evästeiden käytön tai peruuttaa suostumuksenne kokonaan tai osittain edellä kuvatulla tavalla.
    </p>
    <p>
        Jos hyväksyt evästeiden asettamisen ja lukemisen laitteessasi, Web-sivujen evästeet ja katsomasi sisällön sisältämät evästeet voidaan tallentaa väliaikaisesti laitteeseesi. Evästeitä voi lukea vain niiden asettaja.
    </p>
    <p>
        Jos kieltäydyt evästeiden tallentamisesta tai lukemisesta tai jos poistat laitteessa olevat evästeet, sivustomme eivät välttämättä toimi oikein. Näin esimerkiksi tapauksessa, jos yrität olla kirjautuneena käyttäjätilillesi ja selailla samaan aikaan muilla sivustoilla. Tai jos teknisen kirjanpidon vuoksi emme pysty tunnistamaan laitteen käyttämää selaimen tyyppiä, sen kieli- ja näyttöasetuksia tai maata, josta laite näyttää olevan yhteydessä Internetiin. Emme vastaa mistään seurauksista, jotka johtuvat sivustojemme heikentyneestä toiminnasta, jos emme pysty tallentamaan tai lukemaan sivuston toiminnalle välttämättömät evästeisiin, jos olet evännyt tai poistanut nämä evästeet.
    </p>
    <p>
        Voit kuitenkin määrittää tai muuttaa evästeasetuksiasi milloin tahansa seuraavien ohjeiden mukaisesti.
    </p>
    <p>
        1. Selaimen tarjoamat vaihtoehdot
    </p>
    <p>
        Selaimesi asetusten avulla voit estää tiettyjen evästeiden tai vastaavien tekniikoiden käyttöä.
    </p>
    <p>
        Voit määrittää selaimesi sallimaan evästeiden tallentamisen laitteeseesi tai hylkäämään evästeet joko yleisesti tai evästeen myöntäjän perusteella.
    </p>
    <p>
        Voit myös määrittää selaimesi pyytämään sinulta vahvistuksen ennen evästeen tallentamista laitteeseesi.
    </p>
    <p>
        Voit muuttaa näitä asetuksia milloin tahansa.
    </p>
    <p>
        Asetukset määritetään eri selaimissa eri tavoilla. Katso tarkat ohjeet evästeasetuksen muuttamiseen käyttämäsi selaimen ohjevalikosta. Yleisimmin käytettyjen selainten ohjeet:
        <ul>
            <li>Internet Explorer™ : <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" class="text-color">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
            <li>Safari™ : <a href="https://support.apple.com/fr-fr/HT201265" target="_blank" class="text-color">https://support.apple.com/fr-fr/HT201265</a></li>
            <li>Chrome™ : <a href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en" target="_blank" class="text-color">https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en</a></li>
            <li style="text-align: left;">Firefox™ : <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies" target="_blank" class="text-color">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies</a></li>
            <li>Opera™ : <a href="http://help.opera.com/Windows/10.20/fr/cookies.html" target="_blank" class="text-color">http://help.opera.com/Windows/10.20/fr/cookies.html</a></li>
        </ul>
    </p>
    <p>
        2. Muut mahdollisuudet Kantar Median käyttämien evästeiden määrittämiseen
    </p>
    <p>
        Sinulla on mahdollisuus estää Kantar Median tietojen kerääminen tilastollisia ja suorituskyvyn tarpeita varten. Jos haluat tarkastella tai muokata asetuksiasi, varmista että olet kirjautunut ja muokkaa asetuksiasi <a href="@Url.Action("Index", "CookieSettings")" class="text-color">tästä</a>.
</p>
    <p>
        <span style="font-weight:bold">Tärkeää:</span> jos organisaatiosi on valinnut selaamisen ja käytön seuranta -vaihtoehdon, joka koskee käyttäjien palveluiden käyttöä, et voi käyttää palveluitamme ilman selaamista ja palveluidemme käyttöä koskevia evästeitä. Jos olet kieltänyt Kantar Mediaa käyttämästä näitä tietoja tilastollisiin tai toiminnallisiin tarkoituksiin, Kantar ei käytä niitä näihin tarkoituksiin, mutta Kantar Media kerää niitä edelleen organisaatiollesi organisaatiosi ja Kantar Median välisen sopimuksen mukaisesti.
    </p>
    <p>
        Huomautus: valintojen käyttöönotto sisältää yhden tai useamman erityisen evästeen käytön. Jos poistat kaikki laitteeseesi tallennetut verkkosivujamme koskevat evästeet, emme ole enää tietoisia siitä, mitä lupia olet antanut tai kieltäytynyt. Siksi sinun on palautettava asetuksesi, millä määritellään kieltäytymiset evästeistä, joita et halua tallentaa. Vastaavasti, jos käytät toista selainta, sinun on jälleen hylättävä nämä evästeet valintasi mukaan, koska evästeet, joihin ne viittaavat, ovat riippuvaisia selaimesta ja laitteesta (tietokone, tabletti, älypuhelin jne.), joita käytät verkkosivustojemme selailussa.
    </p>
    <p>
        Lisätietoja evästeistä ja muista Internetissä käytettävistä jäljitystekniikoista, niiden käytön estämistavoista ja oikeuksistasi yleisesti saat esimerkiksi Ranskan tietosuojaviranomaiselta eli CNIL:ltä (Commission Nationale de l’Informatique et des Libertés), etenkin sen käyttäjän tietojen hallintaa koskevasta artikkelista (https://www.cnil.fr/fr/maitriser-mes-donnees) ja evästeitä koskevasta osiosta (https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi; www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/) tai paikallisilta tietosuojaviranomaisilta. CNIL on tuottanut myös evästeihin liittyvän opetusvideon, joka on katsottavissa osoitteessa www.cnil.fr/vos-droits/vos-traces/les-cookies/#c5554.
    </p>
</div>
