<div class="row" style="color:#282828">
    <h2 class="text-color">Policy concerning cookies and similar technology on Adscope and Adexpress</h2>
    <p>
        Cookies and similar technology are used on the Adscope and Adexpress websites and applications.
    </p>
    <p>
        Learn how Kantar Media uses these technologies in more detail below.
    </p>
    <h3 class="text-color">What are cookies?</h3>
    <p>
        Cookies are small files placed on your computer, smartphone or tablet by website publishers when you surf the web. Like many websites, our services use cookies.
    </p>
    <p>
        Additionally, we directly collect connection and browsing data in our databases concerning our services, during the use of our services.
    </p>
    <p>
        For the purpose of this policy, the term cookies must be understood in the wider sense, covering all solutions making it possible to place or read information on your computer, smartphone or tablet.
    </p>
    <h3 class="text-color">Why do we use this technology in our services?</h3>
    <p>
        We use cookies and other similar technology in order to collect information without which our services (websites, API, e-mail notifications) would not operate normally or could not be supplied at all.
    </p>
    <p>
        In some cases, we may use the information obtained in order to improve the quality of our services or to carry out audience, usage or browsing analyses concerning our services.
    </p>
    <p>
        Finally, we also store the settings our users have configured.
    </p>
    <p>
        All of these uses fall into one of the following categories.
        <ul>
            <li>Authentication and Security:</li>
            <li style="list-style: none">
                <ul>
                    <li>To ensure the security of our platforms.</li>
                    <li>To enable you to see content with limited circulation.</li>
                    <li>To help us identify inappropriate behaviour and any other activities which violate the rules applicable to our solutions and services.</li>
                    <li>For example, these technologies help us to authenticate your access to our solutions and services and to prevent any unauthorised user from accessing your account.</li>
                </ul>
            </li>
            <li>Statistics and performance:</li>
            <li style="list-style: none">
                <ul>
                    <li>To help us improve our services and understand how they are being used, including:</li>
                    <li>
                        <ul>
                            <li>Connections</li>
                            <li>Searches</li>
                            <li>Viewing</li>
                            <li>Exporting</li>
                            <li>Printing</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>To supply the service requested by the user:</li>
            <li style="list-style: none">
                <ul>
                    <li>If your organisation subscribes to our platform usage statistics service, we may collect information of the following type:</li>
                    <li>
                        <ul>
                            <li>Connections</li>
                            <li>Searches</li>
                            <li>Viewing</li>
                            <li>Exporting</li>
                            <li>Printing</li>
                        </ul>
                        This data is then used by your organisation for internal re-invoicing purposes.
                    </li>
                </ul>
            </li>
        </ul>
    </p>
    <h3 class="text-color">Where is this technology used?</h3>
    <p>
        We use this technology on our websites, applications and services, a list of which follows:
        <ul>
            <li>Adscope</li>
            <li>Adexpress</li>
        </ul>
    </p>
    <h3 class="text-color">What are my options where privacy is concerned?</h3>
    <p>
        By continuing to browse our website and applications on a page other than this page, you agree to the use of these cookies.
    </p>
    <p>
        However, if you wish, you may refuse the use of cookies, or, after having given your consent, totally or partially withdraw this consent as described above.
    </p>
    <p>
        If you accept the placing and reading of cookies on your terminal, the cookies built into the web pages and content you have viewed may be stored temporarily in a dedicated area on your terminal. They may only be read by their issuer.
    </p>
    <p>
        If you refuse the recording or reading of cookies or if you delete cookies placed on your terminal, our websites may not work properly for you. This may be the case if you try to access your account, which requires you to log in and enables you to remain connected while surfing from page to page. This may also be the case when, for technical accounting purposes, we are unable to recognise the type of browser used by your terminal, its language and display settings, or the country from which your terminal appears to be connected to the Internet. Where applicable, we decline all liability for the consequences resulting from the impaired operation of our websites as a result of us being unable to record or consult the cookies necessary to their operation or when you have refused or deleted these cookies.
    </p>
    <p>
        That said, you can express and modify your cookie preferences at any time, following the steps described below.
    </p>
    <p>
        1. The options offered by your browser
    </p>
    <p>
        Your browser settings enable you to oppose the use of certain cookies or similar technology.
    </p>
    <p>
        You can configure your browser to allow cookies to be recorded on your terminal or, on the contrary, to have them rejected, either systematically or depending on the issuer.
    </p>
    <p>
        You can also configure your browser to ask you whether cookies should be accepted or refused, before a cookie is saved on your terminal.
    </p>
    <p>
        These settings can be configured at any time.
    </p>
    <p>
        Each browser is configured differently. We invite you to consult your browser’s help menu, which will let you know how to change your cookie settings. For the most popular browsers, please see for example:
        <ul>
            <li>For Internet Explorer™ : <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" class="text-color">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
            <li>For Safari™ : <a href="https://support.apple.com/fr-fr/HT201265" target="_blank" class="text-color">https://support.apple.com/fr-fr/HT201265</a></li>
            <li>For Chrome™ : <a href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en" target="_blank" class="text-color">https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en</a></li>
            <li style="text-align: left;">For Firefox™ : <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies" target="_blank" class="text-color">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies</a></li>
            <li>For Opera™ : <a href="http://help.opera.com/Windows/10.20/fr/cookies.html" target="_blank" class="text-color">http://help.opera.com/Windows/10.20/fr/cookies.html</a></li>
        </ul>
    </p>
    <p>
        2. Other possibilities for configuring cookies used by Kantar Media
    </p>
    <p>
        You have the option of deactivating the collection of information by and for Kantar Media for statistical and performance purposes. To view or modify your account settings, please check that you are connected and go <a href="@Url.Action("Index", "CookieSettings")" class="text-color">here</a> to customise your settings.
</p>
    <p>
        <span style="font-weight:bold">Important:</span> if your organisation has opted for the browsing and usage tracking option concerning the use of our services by its users, you will be unable to use our services without the cookies required to track your browsing and use of our services. If you have refused the use of this data by Kantar Media for statistical or performance purposes, Kantar will not use it for these purposes, but it will be collected by Kantar Media for forwarding to your organisation in application of the contract concluded between your organisation and Kantar Media.
    </p>
    <p>
        Please note: implementation of your preferences involves the use of one or several specific cookies. If you delete all the cookies recorded on your terminal concerning our website, we will no longer be aware of which authorisations you have granted or refused. You will therefore need to reset your authorisations, which will mean once again refusing the cookies you do not wish to store. Similarly, if you use another web browser, you must once again refuse these cookies as your choices, and the cookies to which they refer, are dependent on the browser and the terminal (computer, tablet, smartphone, etc.) used by you to browse our website.
    </p>
    <p>
        To learn more about cookies and other tracers on the Internet, the ways to oppose their use and more generally your rights, we invite you to visit the website of the Commission Nationale de l’Informatique et des Libertés (CNIL - French data protection authority), and especially its article entitled “Controlling my data” which you will find at the following address: https://www.cnil.fr/fr/maitriser-mes-donnees or the section dealing with cookies: https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi; www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/). The CNIL (French data protection authority) has also produced a video telling you all about cookies. You will find the video here: www.cnil.fr/vos-droits/vos-traces/les-cookies/#c5554.
    </p>
</div>
