
@{
    ViewBag.Title = "Cookies Policy";
    Layout = "~/Views/Shared/_LayoutPrivacy.cshtml";
}

<div>
    <div class="row" style="color:#282828">
        <h2 class="text-color">Politique de cookies et technologies similaires</h2>
        <p>
            Des cookies et des technologies similaires sont utilisés sur le site BIPP.
        </p>
        <p>
            Découvrez ci-dessous plus en détail comment Kantar Media utilise ces technologies.
        </p>
        <h3 class="text-color">Que sont les cookies ?</h3>
        <p>
            Les cookies sont de petits fichiers placés sur votre ordinateur, smartphone ou tablette par les éditeurs de sites lorsque vous naviguez sur le Web. Comme de nombreux sites Web, nos services ont recours aux cookies.
        </p>
        <p>
            Par ailleurs, lors de l’utilisation de nos services, nous collectons directement dans nos bases de données des données de connexion et de navigation sur nos services.
        </p>
        <p>
            Le terme de cookies doit, aux termes de la présente politique de cookies, être entendu au sens large comme couvrant l'ensemble des dispositifs qui permettent de déposer ou de lire des informations sur votre ordinateur, smartphone ou tablette.
        </p>
        <h3 class="text-color">Pourquoi ces technologies sont-elles utilisées par nos services ?</h3>
        <p>
            Nous utilisons les cookies et d'autres technologies similaires afin de collecter des informations sans lesquels nos services (sites web, API, notification par email) ne pourraient pas fonctionner normalement ou ne pourrait pas être fournis.
        </p>
        <p>
            Les finalités de ces cookies et collectes d’informations sont l’authentification des utilisateurs à nos plateformes et la sécurité de nos plateformes et le contrôle d’utilisations sur nos plateformes
        </p>
        <p>
            Pour assurer la sécurité de nos plateformes :
            <ul>
                <li>Pour vous permettre de voir du contenu dont la diffusion est limitée.</li>
                <li>Pour nous aider à détecter les comportements inappropriés et toute autre activité enfreignant les règles de nos outils et services.</li>
                <li>Pour contrôler les utilisations de nos plateformes, notamment à des fins d’audits des titulaires de droits sur certains contenus.</li>
                <li>Par exemple, ces technologies nous aident à authentifier votre accès à nos outils et services, et à empêcher tout utilisateur non autorisé d'accéder à votre compte.</li>
            </ul>
        </p>
        <h3 class="text-color">Où ces technologies sont-elles utilisées ?</h3>
        <p>
            Nous utilisons ces technologies sur nos sites Web, applications et services dont voici la liste :
            <ul>
                <li>Adrequest</li>
                <li>UBM360</li>
                <li>KM+</li>
                <li>PQLI</li>
                <li>Broadcast2media</li>
                <li>BIPP</li>
                <li>Pickanews</li>
            </ul>
        </p>
        <h3 class="text-color">Quelles sont mes options en matière de confidentialité ?</h3>
        <p>
            Pour contrôler les cookies, vous pouvez configurer les paramètres de la plupart des navigateurs de manière à accepter ou refuser les cookies, ou pour être consulté chaque fois qu'un site tente de définir un cookie. <span style="text-decoration:underline">Toutefois, même si certaines parties de nos services ne requièrent pas l'utilisation de cookies, nos outils et services risquent de ne pas fonctionner correctement si les cookies sont entièrement désactivés.</span>
        </p>
        <p>
            Tel pourrait être le cas si vous tentez d'accéder à votre compte, ce qui nécessite de vous identifier et de vous permettre de rester connecté en naviguant de page en page. Tel pourrait également être le cas lorsque nous ne pourrons pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par votre terminal, ses paramètres de langue et d'affichage ou le pays depuis lequel votre terminal semble connecté à Internet. Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos sites résultant de l'impossibilité pour nous d'enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.
        </p>
        <p>
            Cela étant précisé, vous pouvez à tout moment exprimer et modifier vos souhaits en matière de cookies, par les moyens décrits ci-dessous.
        </p>
        <p>
            Vous pouvez configurer votre navigateur de manière à ce que des cookies soient enregistrés dans votre terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur.
        </p>
        <p>
            Vous pouvez également configurer votre navigateur de manière à ce que l'acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu'un cookie soit susceptible d'être enregistré dans votre terminal.
        </p>
        <p>
            Cette manipulation peut être effectuée à tout moment.
        </p>
        <p>
            La configuration de chaque navigateur est différente. Nous vous invitons à consulter le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies. Pour les plus connus, voir par exemple :
            <ul>
                <li>Pour Internet Explorer™ : <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" class="text-color">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
                <li>Pour Safari™ : <a href="https://support.apple.com/fr-fr/HT201265" target="_blank" class="text-color">https://support.apple.com/fr-fr/HT201265</a></li>
                <li>Pour Chrome™ : <a href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en" target="_blank" class="text-color">https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en</a></li>
                <li>Pour Firefox™ : <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies" target="_blank" class="text-color">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies</a></li>
                <li>Pour Opera™ : <a href="http://help.opera.com/Windows/10.20/fr/cookies.html" target="_blank" class="text-color">http://help.opera.com/Windows/10.20/fr/cookies.html</a></li>
            </ul>
        </p>
        <p>
            Pour en savoir plus sur les cookies et autres traceurs sur Internet, les moyens de vous opposer à leur utilisation et plus généralement vos droits, nous vous invitons à consulter le site de la Commission Nationale de l’Informatique et des Libertés (CNIL), et notamment son dossier intitulé « Maîtriser mes données » accessible à l’adresse : <a href="https://www.cnil.fr/fr/maitriser-mes-donnees" target="_blank" class="text-color">https://www.cnil.fr/fr/maitriser-mes-donnees</a> ou encore la rubrique consacrée aux cookies : <a href="https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi" target="_blank" class="text-color">https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi</a> ; <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank" class="text-color">www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/</a>). La CNIL a aussi réalisé une vidéo pour tout savoir sur les cookies. La vidéo est accessible ici : <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank" class="text-color">www.cnil.fr/vos-droits/vos-traces/les-cookies/#c5554</a>.
        </p>
    </div>
</div>


<div class="reponsive-hide-xs row height20"></div>
<div class="reponsive-hide-xs row height20"></div>